<template>
    <div id="pagamenti">
        <div class="list" v-if="!pagamento">
            <!-- <router-link to="/admin/pagamenti/new" class="p new">
                    <v-icon>add_box</v-icon>
                    Nuovo pagamento
            </router-link> -->
           
            <div class="f"  v-for="p in cSorted" :key="p._id" >
                <routerLink  class="p" :to="'/admin/pagamenti/'+p._id"><b style="font-weight:bold">{{p.name}}</b></routerLink>
                <!-- <a @click="toBeDeleted=p._id"><v-icon class="del">delete</v-icon></a> -->
            </div>
        </div>
        <div v-else class="f fc">
            <v-card width="960">
                <v-toolbar ><v-toolbar-title>Modifica pagamento</v-toolbar-title></v-toolbar>
                <v-card-text>
                    <v-text-field label="Nome visualizzato" v-model="pagamento.name"/>
                    <v-text-field label="Descrizione" v-model="pagamento.desc"/>
                    <div class="f ja extra">
                        <div class="f fc">
                            <label>Importo minimo</label>
                            <money v-model="pagamento.min"></money>
                        </div>
                         <div class="f fc" style="width:60%;">
                            <label style="margin-bottom:10px" >Tempi di elaborazione </label>
                            <div class="f ja fullw" v-if="pagamento && pagamento.tempi">
                                <p>dai</p><counter suffix="giorni" v-model="pagamento.tempi[0]"></counter>
                                <p>ai</p><counter suffix="giorni" v-model="pagamento.tempi[1]"></counter>
                            </div>
                        </div>
                    </div>
                   
                    <div class="f fullw extra ja" v-if="pagamento.tariffe">
                    <div class="f fc">
                        <label>Tariffazione aggiuntiva</label>
                        <div v-for="(t,n) in pagamento.tariffe" :key="n">
                            <p> {{n=='pct'?'Incremento percentuale':'Incremento fisso'}}</p>
                            <counter  :suffix="n=='pct'?'%':'€'" @change="editTariffa(n,$event);$forceUpdate()" :value="t"/>
                        </div>
                        
                    </div>
                    <div class="f fc ">
                        <img style="max-width:120px"  v-if="pagamento.img&&pagamento.img[0]" :src="$store.state.siteOptions.uploadPath+(pagamento.img[0].name || pagamento.img[0])"/>
                        <v-btn @click="openImgDialog=true">seleziona anteprima</v-btn>
                        <upload-img mono @close="openImgDialog=false" :selected="pagamento.img" @save="pagamento.img = $event" :openDialog="openImgDialog"></upload-img>
                    </div>
                    </div>
                    <div class="f fc fullw" style="margin:20px auto;">
                         <v-select
                         class="fullw"
                        label="Tipo di pagamento"
                        v-model="pagamento.tipo"
                        outline
                        :items="['paypal','bonifico','contrassegno','carte']"

                        />
                        <div v-if="pagamento.tipo=='paypal'">
                            <v-text-field v-model="pagamento.paypal.id" label="id venditore"/>
                            <v-text-field v-model="pagamento.paypal.email" label="email"/>
                        </div>
                    
                        <div class="fullw">
                            <cke ref="editor" v-model="pagamento.html"></cke>
                        </div>
                    </div>

                </v-card-text>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn @click="savePagamento()">SALVA</v-btn>
                </v-card-actions>
            </v-card>
        </div>
        
    <v-dialog v-model="showDialog" width="500" >
      <v-card>
        <v-card-text>
        sei sicuro di voler eliminare la pagamento ?
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="toBeDeleted=0" >no annulla</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="cancellapagamento()">Si, elimina</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  
    </div>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import {groupBy,times,zipObject} from 'lodash';
import uploadImg from '../../uploadImg'
import draggable from 'vuedraggable'
import stati from '../../../store/utils/stati.json'
import counter from '../../../components/counter'
import cke from '../../../components/jodit'
export default {
    name:"pagamenti",
    components:{
        uploadImg,draggable,counter,cke
    },
    computed:{
        ...mapState(['path']),
        cSorted(){
            return this.pagamenti.sort((a,b)=>a.sort-b.sort)
        },
        pagamento(){
            if (!this.path[2]) return false;
            let p = this.pagamenti.find(pp=>pp._id==this.path[2]) || this.new;
            if (!p.tariffe) p.tariffe={pct:0,fix:0};
            if (!p.tempi) p.tempi =[0,0];
            switch(p.tipo){
                case'bonifico':{
                    if (!p.bonifico) p.bonifico = {html:''};
                    break;
                }
                case'paypal':{
                    if (!p.paypal) p.paypal = {id:'',email:''};
                    break;
                }
            }

            return p
        },
        cIds:{
          get(){
            return this.pagamenti.map(c=>c._id)
          },
          set(a){
            a.forEach((id,n) => {
                this.pagamenti.find(c=>c._id==id).sort=n;
            });
            //return e.map(id=>Object.keys(this.imgs).find(name=>this.imgs[name]._id==id))
          }
        },
        showDialog:{
            get(){
                return !!this.toBeDeleted
            },
            set(v){
                if (!v) this.toBeDeleted=false;
            }
        },
    },
    data(){
        return {
            pagamenti:[],
            stati,
            toBeDeleted:0,
            openImgDialog:false,
            new:{
                _id:'new',
                name:'',
                img:[],
            },
        }
    },
    mounted(){
        this.getpagamenti()
    },

    methods:{
        getpagamenti(id){
            this.$socket.emit('admin/getPagamenti',id,(err,data)=>{
                if (err) {
                      return;
                }
                this.pagamenti = data;
            })
        },
        savePagamento(id){
          if (this.pagamento.tipo == 'bonifico') {
              this.pagamento.html = this.$refs.editor.getData();
          }
          this.$socket.emit('admin/savePagamento',this.pagamento,(err,data)=>{
              if (err) {
                  return;
              }
              this.$router.push('/admin/pagamenti')
        })
        },
        cancellapagamento(){
            this.$socket.emit('admin/deletePagamento',this.toBeDeleted,(err,data)=>{            
                this.getpagamenti()
                this.toBeDeleted=0;
            })
        },
        editTariffa(k,v){
            this.pagamento.tariffe[k]=v;
        },
        test(){
            console.log('testt',arguments);
            return 'a'
        }
    }
}
</script>
<style scoped lang="less">
#pagamenti,.list,.p{width:100%;}
    .p {
        background:#ddd;
        border-radius: 10px;
        justify-content: flex-start;
        b{min-width: 200px;text-transform: uppercase;}
        padding:20px;
        margin:15px 0;
        display: flex;
        color:#111;
        align-self: flex-start;
       
    }
    .list {
        .v-icon {
            padding:10px;
            margin-left:30px;
            border-radius:5px;
            &.del {background:hsla(0,100%,50%,.3);}
        }
    }

label {background: #ddd;padding:5px 10px;}
.extra>div{
    background: #eee;
    border-bottom:1px solid #888;align-self: stretch;margin-bottom:25px;
    justify-content: space-around;
    text-align:center;
}

</style>