<template>
    <v-dialog class="tax" width="900px" :value="open" @input="$emit('close',$event)">
    <div class="taxes f  fullw">
        <v-btn @click="newtax()">Aggiungi tassazione</v-btn>
            <div  v-for="t in taxes" class="f fullw" :key="t._id">
                <div class="f fc">
                <counter suffix="%"  v-model="t.val"></counter>
                <v-btn color="primary" @click="remove(t)"><v-icon>delete</v-icon></v-btn>
                </div>
            </div>
    </div>  
    </v-dialog>
</template>
<script>
import counter from '../../counter';
import {mapState,mapGetters} from 'vuex';
import {remove} from 'lodash'
export default {
    name:"taxes",
    components:{
        counter
    },
    props:{
        open:{
            default:false
        },
        taxes:{
            required:true
        }
    },
    model:{
        prop:"taxes",
        event:"change"
    },
    computed:{
        
    },
    data(){
        return {
            edit:null
        }
    },
    beforeMount(){
        
    },
    watch:{
        taxes:{
            handler:function(e){
                this.$emit('change',e)
            },
            deep:true
        }
    },
    methods:{
        newtax(){
            this.taxes.push({
                _id:'new'+Math.random(),
                val:0
            });
        },
        remove(t){
            remove(this.taxes,tax=>tax._id==t._id);
            this.$forceUpdate()
        }
    }
}
</script>
<style scoped lang="stylus">
.taxes 
    padding 20px
    background #d3d3d3
    width 100%
    align-items flex-start
    justify-content flex-start
    .tax 
        min-height:60px;
        margin:10px auto;
        justify-content flex-start
        width:100%;
        padding:15px;
        .mdi
         font-size:26px
         
</style>