@color1:hsl(358, 84%, 34%);
@imgOpacity:1;
@textColor:#ccc;
@fontFamily:"Nunito";
@headerHeight:90px;
@footerHeight:40px;
@footerBg:hsl(1,20%,90%);
@pageHeight: ~"calc(100vh - " (@headerHeight + @footerHeight) ~")";
@bodyBg:~"linear-gradient(to bottom, "desaturate(@color1,100%)~" 0%, hsl(0,0%,12%) 50%,"@color1~" 100%)";

@classes: body;

@green: hsl(150, 100%, 27%);
@rosso:hsla(357, 72%, 47%,1);
@downloadButtonsColor:lighten(@color1,72%);

@angle:13deg;
@static:"/public";
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 599px)";
@tablet:      ~"only screen and (min-width: 600px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";
