@color1:hsl(351,8%,9%);
@imgOpacity:1;
@textColor:#ccc;
@fontFamily:"Nunito";
@headerHeight:90px;
@footerHeight:40px;
@footerBg:hsl(1,20%,90%);
@pageHeight: ~"calc(100vh - " (@headerHeight + @footerHeight) ~")";
@bodyBg:~"linear-gradient(to bottom, "@color1~" 0%, hsl(0,0%,40%) 50%,"@color1~" 100%)";

@headerBg:~"linear-gradient(to bottom, "tint(fadeout(@color1, 40%),20%)~" 0%,"fadeout(@color1,60%)~" 100%)";
@classes: body;
@body:  ;
@downloadButtonsColor:lighten(@color1,72%);

@static:"/public";
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";
