<template>
<div class="transparent animTransparent anteprima-prodotto-div ">
  <router-link v-if="p" :to="'/prodotto/'+friendlyUrl(p.name)" class="anteprima-prodotto f fc" >

    <span class="thumb f" @mouseenter="hover=true" @mouseleave="hover=false">
      <img v-img :alt="p.thumb.desc || p.thumb.name" :title="p.thumb.desc || p.thumb.name" :src="$store.state.siteOptions.uploadPath + 'thumbs/'+  p.thumb.name"  :src-set="thumb"/>
    </span>
    <v-btn :class="{hover}" class="f name pt-1 pb-1">{{p.name}}</v-btn>
    <money v-if="showPrice" disabled :value="price"></money>
  </router-link>
</div>
</template>

<script>
import {friendlyUrl,thumb} from '../store/utils';
import {get} from 'lodash'
import { mapState,mapGetters } from 'vuex';
export default {
    props:{
      p:{
        required:true
      },
      n:{
        default:0
      }
    },
    computed:{
      ...mapState(['usr']),
      ...mapGetters(['showPrice']),
      thumb(){
        let {uploadPath} = this.$store.state.siteOptions;
        let d = uploadPath + 'customlogo.png';
        if (get(this.p,'thumb.name')) return [uploadPath+'thumbs/'+this.p.thumb.name,uploadPath+this.p.thumb.name,d];
        if (get(this.p,'img.0.name'))
         return [uploadPath+'thumbs/'+this.p.img[0].name,d];
        else return [ d]
      },
      price(){
        let iva = 1;
        if (!this.usr.piva) iva = 1 + Number(this.p.iva)/100;
        return this.p.price * iva;
      }
    },
    methods:{
      friendlyUrl
    },
    mounted(){
      setTimeout(()=>{
        this.$el.classList.remove('transparent');
        this.$emit('mounted')
      },(this.n*120))
    },
    data () {
      return {
        hover : false,
  
      }
    }
  }
</script>
<style lang="less">
.animTransparent {
  padding-right:0;
  transition:transform 1s cubic-bezier(0,1,1,1),opacity .3s ease-in-out;
}
.anteprima-prodotto-div {
  &.transparent {transform:translateY(-40px);opacity:.01;}
}
.anteprima-prodotto {
  .hover {background-color:hsl(0, 0%, 53%)!important;}
  border:4px solid hsla(0,0%,80%,.8);
  box-shadow:2px 2px 5px #ccc;
  background:#fff;
  border-radius:12px;
  overflow:hidden;
  margin: 10px auto;
  width: 250px;
  text-align:center;
  align-items: center;
  cursor:pointer;
  .thumb {height: 200px;width: 100%;}
  img {
    max-height:200px;
    max-width: 100%;
    
    margin:0 auto;
  }
  .name {
	 background: linear-gradient(to right, hsla(0,0%,50%,.2)0%,hsla(0,0%,100%,1) 50%,hsla(0,0%,50%,.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-sizing:border-box;
    display: block;
    height: auto!important;
    width: 100%;
    min-height:36px;
    margin: 0 auto;
    padding:5px;
    font-weight: 300;
    .v-btn__content {white-space: normal;font-weight:bold;}
  }
  .v-money{
    background:hsla(0,0%,80%,.7);
    text-align: center;
    font-weight:700;
    width: 100%;
    padding:  7px;
    color:#333;
    &[disabled] {opacity: 1!important}
  }
}
</style>