<template>
  <div class="fullw bannerWrapper">
    
           <div class="bannerBg" v-for="(b,n) in banners"  :key="b._id" :style="{opacity: step==n ?1:0, height:bgHeight,backgroundImage:'url('+$store.state.siteOptions.uploadPath+'thumbs/'+b.img[0].name+')'}"></div>

  					<v-carousel dark v-model="step" :interval="interval" light :height="height" :style="{zIndex:9}"  >
						   <v-carousel-item   :style="{zIndex:9}"  :height="height" v-for="(b,n) in banners" :key="b._id">
							   <div @click="bannerClick(b)" :style="{backgroundImage:'url('+$store.state.siteOptions.uploadPath + b.img[0].name+')'}" class="bgThumb" ></div>
                 <div class="customText" :class="'c'+n" v-if="b.text" v-html="b.text"/>
						   </v-carousel-item>
					</v-carousel>
  </div>
</template>


<script>
import {mapState, mapGetters} from 'vuex'
export default {
    props:{
      h:{
        default:'240'
      }
    },
    computed:{
      ...mapState({
        banners:(state)=>state.siteOptions.banners.filter(b=>b.img&&b.img[0]&&b.enabled)
      }),
      currentB(){
        return this.banners&&this.banners[this.step] || {}
      },
      height(){
        return  (this.currentB && this.currentB.h || this.h)+'px'
      },
      bgHeight() {
        return (Number(this.height.replace('px',''))*.8)+'px';
      },
      ...mapGetters([])
    },
    data () {
      return {
        step:0,
        interval:4500
      }
    },
    methods:{

      bannerClick(b){
        if (b.url)
          this.$router.push(b.url)
      },
    }
  }
</script>
<style lang="less" scoped>
.bgThumb {
  position:relative;
  background-size: contain;
  height:100%;
  z-index:8;
  /* Add the blur effect */
  background-position:center;
}
.customText {
  position:absolute;
  z-index: 9;
  top: 50%;
  right:10%;
  font-size:18px;
  font-weight:bold;
  background:#333333cc;
  border-radius:9px;
  color:#fff;
  animation: slide1  5s ease-in-out ;
  padding:10px;
  filter:blur(0);
  &.c1 {animation: slide2  5s ease-in-out ;left:20%;right:initial;}
  &.c2 {animation: slide2  5s ease-in-out ;left:20%;right:initial;}
  &.c3 {animation: slide3  5s ease-in-out ; }
}

@keyframes slide1 { 0% {  transform:translateX(0%); } 100% {  transform:translateX(-25%); }}
@keyframes slide2 { 0% {  transform:translateY(0%); } 100% {  transform:translateY(-55%); }}
@keyframes slide3 { 0% {  transform:translateX(0%); } 100% {  transform:translateX(-25%) scale(.8); }}
.bannerWrapper {
  width: 100%;
  overflow:hidden;
  position:relative;
  margin-bottom:7px;
}
.bannerBg {
  width:100%;
  position: absolute;
  left:0;
  transition: opacity .3s ease;
  background-size:cover;
  background-position:center center;
  overflow:hidden;
  /* Add the blur effect */
  filter: blur(18px);
  -webkit-filter: blur(18px);
}
</style>
