<template>
		<div id="editor"/>
</template>
<script>
export default {
	name: "cke",
	model:{
		prop:"value",
		event:"change"
	},
	props:{
		value:{
			type:String,
			required:true
		},
	},
	data() {
		return {
            editor:null
		}
	},
	methods:{
    
        getData(){
           return this.editor && this.editor.getData && this.editor.getData()
        },
		async createEditor(){
            await new Promise(r=>{

                let search = ()=>{
                    console.log('typeof search',!window.ckUpload,!window.CKEDITOR ,!document.querySelector( '#editor' ))
                    if (!window.CKEDITOR ||!window.CKEDITOR.replace || !document.querySelector( '#editor' )) setTimeout(search,1000);
                    else r();
                }
                search();
            })

            window.editor = this.editor = window.CKEDITOR.replace( 'editor' , {
                    //extraPlugins: [],
                    height : 800,
                    contentsCss:this.$store.state.siteOptions.uploadPath+'/cke/contents.css'
            } );
            this.editor.setData(this.value || "")
            /*
            .then( editor => {
                //console.log('plugins,',window.DecoupledEditor.builtinPlugins.map( plugin => plugin.pluginName ))
                //const toolbarContainer = document.querySelector( '.document-editor__toolbar' );
                //toolbarContainer.appendChild( editor.ui.view.toolbar.element ); 
                window.editor = editor;
                editor.data.set(this.page.html || "")
            } )
            .catch( err => {
                console.error( err );
            } ); */
        }
    },
    beforeMount(){
        if (typeof document ==='undefined') return;
        let cke = Array.from(document.querySelectorAll('script'));
		cke = cke.find(s=>s.src.includes('cke/cke'))

		if (!cke) {
				let s = document.createElement("script");
				s.setAttribute("type", "text/javascript");
                s.setAttribute("src", this.$store.state.siteOptions.uploadPath+"cke/ckeditor.js");
                s.onload=this.createEditor;
                document.getElementsByTagName("head")[0].appendChild(s);
        }
        else this.createEditor()
        
    },
    destroyed(){
        this.editor.destroy()
    }
}
</script>
<style scoped lang="less">

</style>