<template>
    <div>
        <div id="toolbar"/>
		<div id="quill-editor" v-html="value"/>
    </div>
</template>
<script>
export default {
	name: "ckeLite",
	model:{
		prop:"value",
		event:"change"
	},
	props:{
		value:{
			type:String,
			required:true
        },
		bg:{
            type:String,
            default:'#333'
		},
	},
	data() {
		return {
            editor:null
		}
	},
	methods:{
    
        getData(){
            try{
                return this.editor.container.firstChild.innerHTML
            }
            catch(e){
                return this.editor && this.editor.getText && this.editor.getText()
            }
        },
		async createEditor(){

        }
    },
    async mounted(){


        await new Promise(r=>{

                let search = ()=>{
                    console.log('typeof search',window.Quill )
                    if (!window.Quill ) setTimeout(search,1000);
                    else r();
                }
                search();
        })

  
            let toolbarOptions = [
                ['bold', 'italic', 'underline'],        // toggled buttons
                ['blockquote', /* 'code-block', */ 'image', 'link'],

       
             /*    [{ 'list': 'ordered'}, { 'list': 'bullet' }], */
              /*   [{ 'script': 'sub'}, { 'script': 'super' }],  */     // superscript/subscript
                /* [{ 'indent': '-1'}, { 'indent': '+1' }],         */  // outdent/indent
            /*     [{ 'direction': 'rtl' }],         */                 // text direction

                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
 

                [{ 'color': ['#000000','#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075', '#808080', '#ffffff'] }, { 'background': [] }],  
                [{ 'align': [] }],

                ];
        this.editor= new Quill('#quill-editor',{
            theme:'snow',
            modules:{
                toolbar:toolbarOptions
            }
        })
        
        this.$watch('bg',to=>{
            document.querySelector('.ql-editor').style.background=to;
        },{immediate:true})
      
/*         if (typeof document ==='undefined') return;
        let cke = Array.from(document.querySelectorAll('script'));
		cke = cke.find(s=>s.src.includes('ckeditor5/'))

		if (!cke) {
				let s = document.createElement("script");
				s.setAttribute("type", "text/javascript");
                s.setAttribute("src", "https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js");
                s.onload=this.createEditor;
                document.getElementsByTagName("head")[0].appendChild(s);
        }
        else this.createEditor() */
        
    },
    metaInfo:{
        script:[
            {src:'//cdn.quilljs.com/1.3.6/quill.js'}
        ],
        link:[
            {rel:'stylesheet',href:'//cdn.quilljs.com/1.3.6/quill.snow.css'},
        ]
    },
    destroyed(){
       
    }
}
</script>
<style  lang="stylus">
.ql-toolbar 
    background #fff

</style>