<template>
		<div class="qty f" :class="{vertical}" >

				<i :class="{invisible:onlyPositive && value< increment || disabled}" class="mdi mdi-minus-box f" @click="add(true)"></i>
					
				<input :style="{width}" type="tel" pattern="^[0-9]*$" @input="c($event)" class="qtyNumber" :value="prefix+value+suffix"/>
				
				<i :class="{invisible:disabled}" class="mdi mdi-plus-box f" @click="add()"></i>
		</div>
</template>
<script>

export default {
	name: "counter",
	model:{
		prop:"value",
		event:"change"
	},
	props:{
		value:{
			type:Number,
			required:true
		},
		prefix:{
			type:String,
			default:''
		},
		suffix:{
			type:String,
			default:""
		},
		decimals:{
			default:0
		},
		onlyPositive:{
			default:true
		},
		disabled:{
			default:false
		},
		width:{
			default:null
		},
		vertical:{
			default:true
		}
	},
	data() {
		return {
			
		}
	},
	computed:{
		increment(){
			return 1 / Math.pow(10,this.decimals);
		}
	},
	methods:{
		fixNum(v){
			v= Number(String(v).replace(/[^0-9-.]/g, ""));
			v=v.toLocaleString().split(',');
			if(v[1]) v[1]=v[1].substr(0,Number(this.decimals));
			v = Number(v.join('.'));
			return v;
		},
		add(minus){
			let value = minus ? Number(this.value) - this.increment : Number(this.value)+ this.increment ;
			value = this.fixNum(value)
			this.$emit('change',value)
		},
		c(v){
			if (!v ||!v.target.value) return;
			v = this.fixNum(v.target.value);
			this.$emit('change',v)
		}
		
	},
}
</script>
<style scoped lang="less">
.qty{
		
		border-radius: 5px;
		box-sizing:border-box;
		i {
			width: 25px;
			height:20px;
			font-size:29px;
			margin: 0 2px;
			text-align: center;
			font-weight: 200;
			transition: transform .17s linear;
			//transform:translateY(-2px);
			cursor:pointer;	
		}
		i:hover {
			transform:translateY(-2px) scale(1.2);
		}

		.qtyNumber{
			height: 32px;
			min-width:40px;
			overflow: hidden;
			margin-top:-3px;
			font-weight:bold;
			z-index:3;
			padding:3px 5px;
			box-sizing:content-box;
			text-align: center;
			color:#333!important;
		}
		&.vertical {
			flex-direction: column-reverse;
			i {margin:3px 0;}
		}
	}

</style>