<template>
		<div class="qty f fc" id="disconnect" >
			
			<img v-if="siteOptions&&siteOptions.logo" :src="siteOptions.uploadPath + '/'+siteOptions.logo.originalSrc"/>
			<loading></loading>
			<div class="f fc msg" v-if="msg">
				<div class="f " v-html="msg"></div>
				<v-btn color="primary" onClick="location.reload()"><i class="mdi mdi-refresh"></i> Ricarica la pagina</v-btn>
			</div>
		</div>
</template>
<script>
import loading from './loading';
import {mapGetters,mapState} from 'vuex'
export default {
	name: "disconnect",
	computed:{
		...mapState(['connState','siteOptions']),
		...mapGetters(['isConnected'])
	},
	components:{
		loading
	},
	data() {
		return {
			msg:'',
			timeout:null
	}
	},
	methods:{
		refreshPage(){
			if (typeof window!=='undefined')
				window.location.reload();
		}
	},
	mounted(){
		this.timeout = setTimeout(()=>{
				this.msg='Connessione persa<br/> ricollegamento al server...';
			},4000)
	},
	beforeDestroy(){
		clearTimeout(this.timeout)
	}
}
</script>
<style scoped lang="less">
#disconnect {
	background:hsla(0,0%,90%,.85);
	z-index: 99999;
	align-items: center;
		width:100vw;
		height: 100vh;
	position:absolute;
	.f {
		text-align:center;
	}
	.msg {
		background:hsla(0,0%,100%,.8);
		padding:15px 25px;
		border-radius:5px;
		i {font-size:22px;margin-right: 10px;}
	}
	img {
		max-width:60vw;
		max-height:300px;
	}
}
</style>