<template>
		<div class="gallery fullw">
			<h2 v-if="title">{{title}}</h2>
			<v-carousel 
				width="100%" ref="car" dark
				height="auto">
				<v-carousel-item
				width="100%"
				light
				class="f fullw"
				v-for="(c,n1) in chunks" :key="n1">
					<anteprima-prodotto @mounted="setUpdate()"  v-for="(p,n) in c" :p="p" :n="n"  :key="p._id"></anteprima-prodotto>
				
				</v-carousel-item>
			</v-carousel>	
		</div>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import {uniq,chunk,debounce} from 'lodash';
import anteprimaProdotto from './anteprimaProdotto'
export default {
    name:"listaProdotti",
    components:{
     anteprimaProdotto
	},
	computed:{
		Nchunks(){
		  this.$vuetify.breakpoint.width;
			this.test;
		  if   (this.$refs.car && this.$refs.car.$el)
		  return Math.round(this.$refs.car.$el.offsetWidth / 350)
		 
	  },

	},
    asyncComputed:{
      async fixedItems(){

		let ids  =  this.items.map(i=>i._id ||i.item._id);
		if (!ids.length) return [];
		let data = await this.$db.prodotti.where('_id').anyOf(uniq(ids)).toArray();
		data=data.filter(p=>p.enabled);
		this.Nchunks;
        return this.items.map((i,n)=>({
        	...data.find(d=>d._id==i._id),
            n,
            ...i
		}));
	  },
	  async chunks(){
		  //console.log(this.Nchunks)
		  return chunk(this.fixedItems,this.Nchunks)
	  }
	},
	data(){
		return {
			test:0
		}
	},
    props:{
        items:{

		},
		title:{
			default:''
		}
	},
	async mounted(){
		setTimeout(()=>{
			let a = this.Nchunks;
			this.$forceUpdate();
		},10);
		this.$root.$on('prodottiUpdated',ids=>{
			this.setUpdate()
		})
	},
    methods:{
		setUpdate:debounce(function(){
			this.test=Math.random()
			//this.$forceUpdate();
		},500,{
          maxWait:1000,
          trailing:false,
          leading:true
		})

    }
}
</script>
<style lang="less" >

@theme: "../less/themes/default";
@import "@{theme}";
.gallery {
	border-radius:10px;
	overflow:hidden;
	background:url('/public/img/bg-pattern.jpg');
	width: 95%;
	margin: 0 auto;
	h2 {
		background: darken(@rosso,15%);
		padding:10px 15px;
		color:#fff;
	}
	.v-window__container{
		padding-bottom:40px;
		box-sizing: initial;
	}
	.v-responsive__content {
		display:flex;
		
		justify-content:space-around;
	}
	.v-carousel__controls {
		background:transparent;
		i {color:@rosso!important;}
	}
	.v-btn--active {
		background:@rosso;
		transform:scale(.9);
	}
	@media @mobile {
		width:calc(100% - 10px);
		margin:0 auto;
	}
}
</style>

