<template>
<div>
		<div id="gjs" style="height:0;overflow:hidden;" v-html="value"/>
       
</div>
</template>
<script>
import uploadImg from './uploadImg'

export default {
    name: "grape",
    components:{
        uploadImg
    },
	model:{
		prop:"value",
		event:"change"
	},
	props:{
		value:{
			type:String,
			required:true
		},
		css:{
      type:String,
      default:''
		},
	},
	data() {
		return {
            editor:null,
            scripts:[]
		}
    },
    mounted(){
        document.querySelector('.page').style.maxWidth='90vw';
        this.createEditor()
    },
    methods:{
    
        getData(){
           return  {html :this.editor && this.editor.getHtml(), css : this.editor && this.editor.getCss()}
        },
        getImgs(){
          return new Promise(r=>{
            this.$socket.emit('admin/getImgs',null,(err,data)=>{
              r(data)
            })
          })
        },
        async createEditor(){
          this.scripts.push ({ src:'https://unpkg.com/load-js@3.0.3/index.js' });
          
              await new Promise(r=>{

                let search = ()=>{
                    console.log('typeof search',!window.grapesjs ,!document.querySelector( '#editor' ))
                    if (!window.loadJS) setTimeout(search,1000);
                    else r();
                }
                search();
            })
  
          await loadJS([ 
            {url:'https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.16.18/grapes'+ (process.env.NODE_ENV.startsWith('dev')?'':'.min')+'.js'},
            {url:'https://grapesjs.com/js/grapesjs-preset-webpage.min.js?v0.1.11'},
            {url:'https://grapesjs.com/js/grapesjs-custom-code.min.js?0.1.2'},
            {url:'https://grapesjs.com/js/grapesjs-touch.min.js?0.1.1?v0.1.1'},
            {url:'https://grapesjs.com/js/grapesjs-parser-postcss.min.js?0.1.1'},
            {url:'https://grapesjs.com/js/grapesjs-tui-image-editor.min.js?0.1.2'},
          ]);
            await new Promise(r=>setTimeout(r,1000));
            let i = {}
             try{
               i = await this.getImgs();
            }catch(e){i={}}
            i = Object.values(i).map(img=>{
              return   {
                  type: 'image',
                  src: String('https://'+ API_HOST+this.$store.state.siteOptions.uploadPath+'thumbs/'+img.name),
                  width: 200,
                  height:200
                }
            }) 
            this.editor =  grapesjs.init({
                      container : '#gjs',
                      fromElement: 1,
                      styleManager:{},
                      assetManager:{
                          assets:i,
                      
                          // Content to add where there is no assets to show
                          // eg. 'No <b>assets</b> here, drag to upload'
                          noAssets: '',

                          // Upload endpoint, set `false` to disable upload
                          // upload: 'https://endpoint/upload/assets',
                          // upload: false,
                          upload: '/uploadImg',

                          // The name used in POST to pass uploaded files
                          uploadName: 'files',

                          // Custom headers to pass with the upload request
                          headers: {},

                          // Custom parameters to pass with the upload request, eg. csrf token
                          params: {},

                          // The credentials setting for the upload request, eg. 'include', 'omit'
                          credentials: 'include',

                          // Allow uploading multiple files per request.
                          // If disabled filename will not have '[]' appended
                          multiUpload: 1,

                          // If true, tries to add automatically uploaded assets.
                          // To make it work the server should respond with a JSON containing assets
                          // in a data key, eg:
                          // {
                          //  data: [
                          //    'https://.../image.png',
                          //    ...
                          //    {src: 'https://.../image2.png'},
                          //    ...
                          //  ]
                          // }
                          autoAdd: 1,

                          // Text on upload input
                          uploadText: 'Trascina un immagine qui per caricarla , o clicca all interno del riquadro',

                          // Label for the add button
                          addBtnText: 'Aggiungi un immagine',

                          // Custom uploadFile function
                          // @example
                          // uploadFile: (e) => {
                          //   var files = e.dataTransfer ? e.dataTransfer.files : e.target.files;
                          //   // ...send somewhere
                          // }
                          //uploadFile: 'Carica file',

                          // Handle the image url submit from the built-in 'Add image' form
                          // @example
                          // handleAdd: (textFromInput) => {
                          //   // some check...
                          //   editor.AssetManager.add(textFromInput);
                          // }
                          handleAdd: add=>{
                            console.log('added',add)
                          },

                          // Enable an upload dropzone on the entire editor (not document) when dragging
                          // files over it
                          dropzone: 0,

                          // Open the asset manager once files are been dropped via the dropzone
                          openAssetsOnDrop: 1,

                          // Any dropzone content to append inside dropzone element
                          dropzoneContent: '',

                          // Default title for the asset manager modal
                          modalTitle: 'Select Image',
                      },
                      plugins: [ 
                        'gjs-preset-webpage',
                        'grapesjs-lory-slider',
                        'grapesjs-tabs',
                        'grapesjs-custom-code', 
                        'grapesjs-touch',
                        'grapesjs-parser-postcss',
                        'grapesjs-tooltip',
                        'grapesjs-tui-image-editor',
                      ],
                      pluginsOpts:{
                        'gjs-preset-webpage':{
                          textTypography:'Stile testo',
                          textDecorations: 'Decorazioni'
                        }
                      }
                    
            });

        this.editor.on('load',()=>{
          this.editor.setStyle(this.css);
        this.editor.StyleManager.addProperty('typography', {
                 
                      name: 'Font',
                      property: 'font-family',
                      type: 'select',
                      defaults: 'Arial',
                      list: [
                      {
                        value: 'Nunito',
                        name: 'Font predefinito'
                      },
                      {
                        value: 'Arial',
                        name: 'Arial'
                      }]
                    })
        })
            
        }
    },
    metaInfo(){
        return {
        link:[
                { href: 'https://cdn.jsdelivr.net/npm/grapesjs@0.14.62/dist/css/grapes.min.css',rel:'stylesheet'       },
                { href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css',rel:'stylesheet'}
            ],
            script:this.scripts
        }
    },
    beforeDestroy(){
        document.querySelector('.page').style.maxWidth='1024px';
        this.editor.DomComponents.clear(); // Clear components
        this.editor.CssComposer.clear();  // Clear styles
        this.editor.UndoManager.clear(); // Clear undo history
    }
}
</script>
<style  lang="less">
.jodit_toolbar {
    background:#222!important;
    svg {
        fill: #fff;
    }
    i,a {color:#fff!important;}
}
.jodit_toolbar>li.jodit_toolbar_btn.jodit_toolbar_btn-about{display:none!important;}
.jodit_toolbar>li.jodit_toolbar_btn.jodit_toolbar_btn-info {
    span {display:block;margin-top:20%;height:60%;width:80%;background-size:contain;background-position:center center;}
}
.jodit_tabs .jodit_tabs_buttons a {
    color:#333!important;
}
</style>
