<template>
<div>
		<div id="homeAlerts"  v-if="showPolicy"  >
			   <v-carousel width="100%" height="auto" v-model="step" hide-delimeters :show-arrows="step>0">
				   <v-carousel-item key=".">
					   <div class="f fullw ja cookie-alert error ">
						   <div class="f content">
							   <div class="mr-4">E' richiesta l'accettazione della <a @click="showPolicyDialog=true">politica sulla privacy</a></div>
						   		<v-btn @click="accept()	">Accetto</v-btn>
						   </div>
					   </div>
				   </v-carousel-item>
				</v-carousel>
				<hr/>
				<v-dialog v-model="showPolicyDialog" width="500" >
				<v-card>
					<v-card-text>
						<div v-html="siteOptions.policy"></div>
					</v-card-text>
					<v-divider></v-divider>
					<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" flat @click="accept()">Ho letto e accettato</v-btn>
					</v-card-actions>
				</v-card>
				</v-dialog>
		</div>
</div>
</template>
<script>

import {mapState,mapGetters} from 'vuex';
export default {
	name: "homeAlerts",
	components:{

	},
	computed:{
		...mapState(['siteOptions']),


	},
	data() {
		return {
			step:0,
			showPolicyDialog:false,
			showPolicy:true
		}
	},
	methods:{
		accept(){
			localStorage && !localStorage.setItem('acceptPolicy',1)
			this.showPolicy=false;
			this.$forceUpdate();
		}
	},
	sockets:{
		
	},
	beforeMount(){


	},
	mounted() {

		if (localStorage.getItem('acceptPolicy'))
			this.showPolicy=false;
	},
/*	metaInfo() {
    return {
      title: 'TubeMp3.co - convert and download your youtube video to mp3!',
      meta: [
        { vmid: 'description', name: 'description', content: 'Convert and download free hight quality mp3 easy as 1 2 3 without registration' }
      ]
    }
  }*/

}
</script>
<style scoped lang="stylus">
#homeAlerts
	width 100%
	z-index 9
	text-align center
	position relative
	.content
		min-height 50px;
		max-width:1000px;
		justify-content flex-start
		margin:0 auto;
	.closeBtn
		position  absolute
		right 5%
		top 5%
		background #aaaaaa99;
.cookie-alert
	height 100%
	padding 0 10px
	font-size 14px
	color #fff
	a 
		color #faa
		text-decoration underline
</style>

<style  lang="stylus">
#homeAlerts
	.v-responsive__content
		display flex
		width 100%
		align-items center
		justify-content center
	.mdi-chevron-left,.mdi-chevron-right
		font-size 22px!important
	.v-carousel__controls 
		display none

strong
	font-weight bold
</style>