<template>
<div>
	
</div>
</template>
<script>

import {mapState,mapGetters} from 'vuex';
export default {
	name: "testt",
	components:{

	},
	computed:{

	},
	props:{
		
	},
	data() {

	},
	methods:{

	},
	sockets:{
		
	},
	beforeMount(){


	},
	mounted() {
		
	},
/*	metaInfo() {
    return {
      title: 'TubeMp3.co - convert and download your youtube video to mp3!',
      meta: [
        { vmid: 'description', name: 'description', content: 'Convert and download free hight quality mp3 easy as 1 2 3 without registration' }
      ]
    }
  }*/

}
</script>
<style scoped lang="stylus">
</style>