<template>
<div>
		<div :id="'j'+id" v-html="value"/>
        <upload-img :selected="[]" mono @save="imageSelected($event)" @close="openUploadImg=false" :openDialog="openUploadImg"/>
</div>
</template>
<script>
import uploadImg from './uploadImg'
export default {
    name: "jodit",
    components:{
        uploadImg
    },
	model:{
		prop:"value",
		event:"change"
	},
	props:{
		value:{
			type:String,
			required:true
		},
	},
	data() {
		return {
            id:~~(Math.random()*1000),
            editor:null,
            openUploadImg:false,
		}
    },
    mounted(){
        this.createEditor()
    },
	methods:{
    
        getData(){
           return this.editor && this.editor.value
        },
        imageSelected(arr){
                    this.editor.selection.insertHTML('<img style="width:300px;"  src="/public/uploadImg/'+arr[0]+'"/>')
                    this.openUploadImg=false;
        },
		async createEditor(){
            
            await new Promise(r=>{

                let search = ()=>{
                    if (!window.Jodit) setTimeout(search,1000);
                    else r();
                }
                search();
            })
            
            Jodit.defaultOptions.controls.info = {
            iconURL: "/public/img/img-upload.png",

            exec: editor =>{
                this.openUploadImg=true;
            }
            };

            window.editor = this.editor = new Jodit( '#j'+this.id , {
                   toolbarButtonSize: "large",
                   zIndex:9999,
                   extraButtons:['info']
            } );
            this.editor.setEditorValue(this.value);
            
        }
    },
    metaInfo(){
        return {
        link:[{
                href: '//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.39/jodit.min.css',rel:'stylesheet'
            }],
            script:[{
                src:'//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.39/jodit.min.js',async: true, defer: true
            }]
        }
    }
}
</script>
<style  lang="less">
.jodit_toolbar {
    background:#222!important;
    svg {
        fill: #fff;
    }
    i,a {color:#fff!important;}
}
.jodit_toolbar>li.jodit_toolbar_btn.jodit_toolbar_btn-about{display:none!important;}
.jodit_toolbar>li.jodit_toolbar_btn.jodit_toolbar_btn-info {
    span {display:block;margin-top:20%;height:60%;width:80%;background-size:contain;background-position:center center;}
}
.jodit_tabs .jodit_tabs_buttons a {
    color:#333!important;
}
</style>
