<template>
		<div class="items">
		<transition-group name="fade">
		<!--<div class="item f" v-for="(i,n) in fixedItems" :key="i.n" :class="{fc:$vuetify.breakpoint.xs}" >-->
		<v-card v-for="(i,n) in fixedItems" :key="i.n" class="f" :class="{fc:$vuetify.breakpoint.xs}">
			<router-link :to="'/prodotto/'+i.friendlyUrl" class="thumb f fw">
					<img v-img :alt="i.desc" :title="i.desc"  :src="$store.state.siteOptions.uploadPath+'thumbs/'+i.thumb.name"/>
				</router-link>
			<v-card-text class="item f"  :class="{fc:$vuetify.breakpoint.xs}">
				
				<div class="meta f fc">
				<div class="name">{{i.name}}</div>
				<div class="attrs" v-if="i.attributes">
						<ul v-for="(a,name) in i.attributes" :key="name" class="f" :class="{fc:$vuetify.breakpoint.xs}" >
							<p style="font-weight:300;" class="mb-0">{{name}}: </p><b style="font-weight:600">{{a.name}}</b>
						</ul>
				</div>
				</div>
				<template v-if="i.qty">
					<counter prefix="x" :disabled="!counter" :value="i.qty" @change="add(n,$event);" />
				</template>

				<div class="prices f fc" v-if="showPrice">
						<money :class="{iva:i.iva}" v-if="i.iva" disabled :value="i.price"></money>
						<div class="iva f" v-if="i.iva"><span>+ iva:</span><money  disabled :value="i.iva"></money></div>
						<div class="price">
							<div class="tot f" ><money  disabled :value="i.iva + i.price"></money></div>
						</div>
				</div>
			</v-card-text>
		</v-card>
		</transition-group>
		</div>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import {uniq} from 'lodash';
import counter from './counter'
export default {
    name:"listaProdotti",
    components:{
      counter
    },
    asyncComputed:{
      async fixedItems(){

		let ids  =  this.items.map(i=>i._id ||i.item._id);
		if (!ids.length) return [];
		let ps = await this.$db.prodotti.where('_id').anyOf(uniq(ids)).toArray();
        ps =  this.items.map((i,n)=>{
		  let p = ps.find(d=>d._id==i._id);
		  return {
			...p,
			n,
			thumb: p.thumb || (p.img && p.img[0]) || {},
			...i
		  }
		})
		
		return ps.filter(p=>p.enabled);
      }
	},
	computed:{
		...mapGetters(['showPrice'])
	},
    props:{
        items:{

        },
        counter:{
          
        }	
    },
    methods:{
      add(n,e){
        this.$emit('add',{n,e})
      }
    }
}
</script>
<style lang="less" scoped>

@theme: "../less/themes/default";
@import "@{theme}";
.item {

	border-bottom:1px solid #222;
	height: 120px;
	align-items: flex-start;
	justify-content: flex-start;
	.meta {
			align-items: flex-start;
			padding:5px;
			flex:1;
			@media @mobile {
				width:100%;
			}
	}
	.name {font-weight: 600;font-size: 16px;}
	.attrs {
		color:#333;
		ul {justify-content: flex-start;}
	}
	
	.prices {
		&>* {margin-bottom: 5px;width: 100%;}
		align-items: flex-end;
		
		font-weight: 600;
		input {width:80px;text-align: right;color:#111;margin:0 0 0 auto;}
		.iva {justify-content: space-between;}
		.iva,.iva input  {font-weight: 300;color:#333;}
		@media @mobile {
			width:100%;
		}
	}
	@media @mobile {
		height: auto;
		background:#eee;
		padding:20px;
		border-radius:10px;
		box-shadow:2px 2px 4px #33333333;
		align-items: center;
		justify-content: flex-start;
		.attrs {margin:10px 0;ul{align-items: flex-start;}}
		.price {
			font-weight: 600;
			border:1px solid #ccc;
			background: #fff;
			margin:20px auto;
			padding:5px;
			width: auto;
			input {text-align:center!important}
		}
	}
}
.thumb {
	width: 100px;
	margin: 0 15px;
	height:90%;
	img {max-width: 100%;max-height: 100%;}
}
</style>


<style lang="scss" scoped>
@import "src/less/vars.scss";
.thumb {
	@include phone {
		margin:10px auto;
	}
}
</style>