<template>
<div class="cssload-loader"></div>
</template>

<script>
export default {
  data:function(){
    return {}
  },
  props:{
    spinner:{
      type:Boolean,
      default:false
    }
  },
  mounted(){
    Array.from(document.querySelectorAll('.cssloading>div')).forEach((e,n)=>
        e.style.animationDelay= n/7+'s'
      )
  }
}
</script>
<style scoped lang="less">

@theme: "../less/themes/default";
@import "@{theme}";
.cssload-loader {
	width: 146px;
	height: 146px;
	line-height: 146px;
	margin: 49px auto;
	position: relative;
	box-sizing: border-box;
	text-align: center;
	z-index: 0;
	text-transform: uppercase;
		-o-text-transform: uppercase;
		-ms-text-transform: uppercase;
		-webkit-text-transform: uppercase;
		-moz-text-transform: uppercase;
}

.cssload-loader:before,
.cssload-loader:after {
	opacity: 0;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	content: "\0020";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 97px;
	border: 5px solid @rosso;
  box-shadow: 0 0 49px @rosso, inset 0 0 49px @rosso;
  
}

.cssload-loader:after {
	z-index: 1;
	animation: cssload-gogoloader 2s infinite 1s;
}

.cssload-loader:before {
	z-index: 2;
	animation: cssload-gogoloader 2s infinite;
}



@keyframes cssload-gogoloader {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@-o-keyframes cssload-gogoloader {
	0% {
		-o-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-o-transform: scale(1);
		opacity: 0;
	}
}

@-ms-keyframes cssload-gogoloader {
	0% {
		-ms-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-ms-transform: scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-gogoloader {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@-moz-keyframes cssload-gogoloader {
	0% {
		-moz-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-moz-transform: scale(1);
		opacity: 0;
	}
}
</style>