<template>
<div class="my-carousel-container f fc">
<div class="my-carousel" :id="id">
	<div class="img-slider" :style="{width:w+'px',height:h+'px'}">
		<i class="mdi mdi-fullscreen" @click="$emit('update',step)"></i>
		<div v-for="(i,n) in p.img" :key="i.name" class="f bg" :style="imgStyles[n]">
			<img v-img @click="setStep(n)" :src="$store.state.siteOptions.uploadPath+'thumbs/'+i.name" :src-set="thumb"/>
		</div>
	</div>
	<div class="thumbs f" v-if="p.img.length>0">
		<div v-for="(i,n) in p.img" :key="i.name" class="f bg" :class="{selected:step==n}">
			<img v-img @click="setStep(n)" :src="$store.state.siteOptions.uploadPath+'thumbs/'+i.name" :src-set="thumb"/>
		</div>
	</div>
</div>
</div>
</template>
<script>
import {get} from 'lodash'
import {thumb} from 'src/store/utils'
import {mapState,mapGetters} from 'vuex';
export default {
	name: "mycarousel",
	components:{

	},
	computed:{
		thumb(){
			let {uploadPath} = this.$store.state.siteOptions;
			let d = uploadPath + 'customlogo.png';
			if (get(this.p,'thumb.name')) return [uploadPath+'thumbs/'+this.p.thumb.name,uploadPath+this.p.thumb.name,d];
			if (get(this.p,'img.0.name'))
			return [uploadPath+'thumbs/'+this.p.img[0].name,d];
			else return [ d]
		},
		imgStyles(){
			return this.p.img.map((i,n)=>{
				let diff = this.step - n;
				switch(true){
					case (diff===0):{
						return {left:0,zIndex:98,}
						break;
					}
					case (diff===-1):{
						return {transform:'translateX(150%) scale(.3)',zIndex:99,background:'red',width:'50%'};
						break;
					}
					case (diff===1):{
						return {transform:'translateX(-50%) scale(.3)',zIndex:99,background:'red',width:'50%'};
						break;
					}
					default :{
						return {display:'none'}
					}
				}
			})
		}
	},
	props:{
		p:{}
	},
	data() {
		return {
			w:300,
			h:240,
			id:'c'+~~(Math.random()*1000),
			step:0
		}
	},
	methods:{
		setStep(n){
			this.step=n;
			this.$emit('update',n);
		}
	},
	sockets:{
		
	},
	beforeMount(){


	},
	mounted() {
		this.w = document.querySelector('#'+this.id).offsetWidth;
		this.h = (document.querySelector('#'+this.id).offsetHeight - 46 )+ 'px';

},

}
</script>
<style scoped lang="stylus">
.my-carousel-container
	border 1px solid #cccccc
.my-carousel
	position relative
	width 100%
	height 100%
	.img-slider
		position relative
		height 100%
		width 100%
		.mdi-fullscreen
			font-size 32px
			color black 
			position absolute
			top 0
			right 32px
			z-index 100
		.bg
			background white
		div
			position absolute
			transition transform .3s ease-in-out;
			top 0
			height 100%
			width 100%
			overlflow hidden
		img 
			position absolute
			top 0
			height  100%
	.thumbs
		background hsla(357, 52%, 17%,1);
		height 46px
		width 100%
		.selected
			border 1px solid hsla(357, 52%, 47%,1);
		div
			height 46px
			width 70px;
			margin 5px;
			img
				height: 100%
</style>