<template>
	<div class="fullw f" id="nav" :hide="!path||!path.length">
	<i @click="$router.back()"  class="f mdi mdi-chevron-left"></i>
  	<ul class="navigator f" :class="{mob:$vuetify.breakpoint.xs}">
		<li v-for="p in paths" :key="p.url">
            <router-link :to="p.url"><h1>{{p.text}}</h1></router-link>
        </li>
	</ul>
	</div>
</template>
<script>
export default {
    name:"navigation",
    props:{
      path:{
				type:Array,
				default :[]
			}
	},
	computed:{
		paths(){
			return this.path.filter(x=>x)
		}
	},
    data () {
      return {
      }
    }
  }
</script>
<style scoped lang="less">

@theme: "../less/themes/default";
@import "@{theme}";
#nav {

	.mdi-chevron-left {
		width: 50px;
    	font-size: 28px;
    	background: linear-gradient(to right, hsl(0, 0%, 67%) 0%, hsl(0, 0%, 57%) 20%,hsl(0, 0%, 57%)50%, hsl(0, 0%, 88%) 80%,hsl(0, 0%,  95%) 100%);
    	color: hsl(0, 0%, 100%);
		padding-right: 15px;
		transform: skewX(-22deg) scaleX(0.8);
		line-height: 30px;
		&:before {
			transform: skewX(22deg);
		}
	}
	@media @mobile {
		padding:0 10px;
	}
}
.navigator {
	width: 100%;
	flex-wrap: wrap;
   align-items: flex-start;
   justify-content: flex-start;
	padding:15px 0;

	li:nth-child(2n) {
		background:hsla(0,0%,88%,1);
	}
	li {
		transform:skewX(-22deg);
		border-right:1px solid #777777;
		a{
			transform:skewX(22deg);
		}
	}
	a {
    	text-transform: capitalize;
		display: block;
		padding: 0 15px;
		font-size:20px;
		text-decoration: underline;
		color:#151515;
		&::after {
			margin-left:20px;
		}
	}
	&.mob {
		flex-direction:column;
	}
}
</style>