<template>
    <v-dialog @close="close" class="address-dialog" max-width="600">
				<v-card>
				<v-text-field v-model="selectedPayment.number" label="num"/>
				<v-text-field v-model="selectedPayment.exp_month" label="month"/>
				<v-text-field v-model="selectedPayment.exp_year" label="year"/>
				<v-text-field v-model="selectedPayment.cvc" label="cvc"/>
				<v-btn @click="attachPayment">SALVA</v-btn>
				</v-card>
	</v-dialog>
</template>
<script>
import { mapState } from 'vuex'
export default {
    name:"empty",
    data:()=>({
        
    }),
    props:['selectedPayment'],
    computed: {
        //...mapState(['usr']),
        
    },
    mounted(){

    },
    methods:{
        close(){
            this.$emit.close()
        },
        attachPayment(){
            this.$socket.emit('addPaymentMethod',selectedPayment,(err,data)=>{

            })
        }
    }
}
</script>