<template>
    <div></div>
</template>
<script>
import {mapGetters} from 'vuex';
import {zipObject,get,pick,debounce,uniqBy} from 'lodash'
import objectHash from 'object-hash';

export default {
    name:"refreshData",
    created(){
            this.$watch('$route.path', async (to)=>{
                if (to)this.$store.commit('setPath',to);
                if (this.$ga){
                    if (typeof location=='object')
                    this.$ga.page(location.pathname)
                }

                try{
                    let url = to.replace('/','');
                    let p ={};
                    if (this.$ssrContext) {
                        p = this.$ssrContext.pages.find(p=>p.url==url);
                        if (!p||!p.title) this.meta.title = this.$store.state.siteOptions.title;
                        Object.assign(this.meta,p)

                    }else {
                        p = await  this.$db.pagine.where({url}).first();
                        if (!p||!p.title){
                             p = {title: this.$store.state.siteOptions.title}
                        }

                        Object.assign(this.meta , p)
                    }

                    this.meta.meta = uniqBy([
                                    {property: 'og:title', content: p && p.title || this.$store.state.siteOptions.title},
                                    {property: 'og:site_name', content: p && (p.desc || p.seoDescription || p.description) || API_HOST },
                                    {property: 'og:type', content: 'website'},
                                    {property: 'fb:app_id', content: this.$store.state.siteOptions.fbAppId},
                                    {property: 'og:url', content: this.$store.state.siteOptions.canonical || this.$route.path},
                                    {property: 'og:image', content: this.$store.state.siteOptions.uploadPath+(get(p,'img.0.name') || get(this.$store.state.siteOptions,'logo.src') ||  'customlogo.png')},
                                    // Often the same as your meta description, but not always.
                                    {property: 'og:description', content: p && (p.seoDescription || p.desc || p.description) || this.$store.state.siteOptions.desc || '' },
                                    {property: 'description', content: p && (p.seoDescription || p.desc || p.description ) || this.$store.state.siteOptions.desc || ''},
                                    ...(p && p.meta ||[]),
                    ],'property')
                
                }catch(e){
                    console.log('err meta',e)	
                }
                },{immediate:true});

        this.$root.getProdotti = async ()=>{
			let categorie = await this.$db.categorie.toArray() || [];
            let prodotti = await this.$db.prodotti.toArray() || [];
            prodotti = prodotti.filter(p=>p.enabled);
			prodotti = zipObject(prodotti.map(p=>p._id),prodotti);
			return {categorie,prodotti}
		}
    },
    
    async mounted(){
        this.checkHash();
        

		try{
			let c =  localStorage.getItem('cart');
			c = JSON.parse(c);
			if (c.items.length)
				this.$store.commit('STORAGE_CART',c)
        }catch(e){console.log('error parsing cart',e)};

		this.$store.watch(state=>state.cart,(to,from)=>{
			localStorage.setItem('cart',JSON.stringify(to))
		},{deep:true})
		/* this.$watch('isConnected',(to,from)=>{
			if (to){
				let t =  localStorage.getItem('socketCluster.authToken');
				this.$socket.emit('login',t);
			}
        }) */
        this.$socket.subscribe('refreshData').watch(data=>{
            console.log('REFRESH DATA',data);
            if (!data) return;
            if (data.keys)
                this.checkHash();
            if (data.siteOptions) {
                this.$store.state.siteOptions=data.siteOptions;
                this.$root.$emit('updatedSiteOptions');
                this.$forceUpdate();
            }
        })
    },
    sockets:{
        channel_updateProdotti(data){
            Object.keys(data).forEach(id=>{
                this.$db.prodotti.put({
                    ...data[id],
                    _id:id
                })
            });
            this.$root.$emit('prodottiUpdated',Object.keys(data))
        },
        async channel_deleteProdotti(data){
            if (!Array.isArray(data)) return;
            let p  =await this.$db.prodotti.where('_id').anyOf(data).delete();
            this.$root.$emit('prodottiUpdated',data)
            console.log('TO REMOVE',p)
        }
    },
    methods:{
        objectHash,
		async checkHash(){
            console.log('checkhash')
            let currentHashes = {};
            let p = {};
            let toCheck = ['prodotti','categorie','pagine'];

            await Promise.all(toCheck.map(async k=>{
                let data = await this.$db[k].toArray() || [];
                if ((['prodotti']).includes(k)) {
                    p[k] = data.map(p=>pick(p,['_id','updated']))
                }
                data = data.map(p=>p.updated).sort();
                currentHashes[k] =  this.objectHash(data);
                return;
            }))

            this.$socket.emit('checkHash',currentHashes,async (err,resp)=>{
				if (err || !resp.keys ||!resp.keys.length){
					return;
                };
                if (resp.keys.includes('prodotti')) {
                    this.updateProdotti(p.prodotti)
                }
                if (resp.data) {
                    ;(async()=>{
                    Object.keys(resp.data).forEach(async k=>{
                        await this.$db[k].clear();
                        resp.data[k].map && await this.$db[k].bulkPut(resp.data[k])
                        this.$root.$emit(k+'Updated');
                    })
                    })();
                }
            }) 
        },
		log:debounce((a)=>{
			console.log('aaaqwe',a)
        },50),
        async updateProdotti(p){
            p = zipObject(p.map(p=>p._id),p.map(p=>p.updated))
            this.$socket.emit('checkProdotti',p)
        }
    },
    metaInfo() {
        return {
            title:this.meta.title,
            meta:this.meta.meta
        }
	},
    data(){
        return {
            meta:{
                title:'',
                meta:[]
            }
        }
    },
    computed:{
        ...mapGetters(['isConnected']),
    },
}
</script>