<template>
		<div class="socials" v-if="fblink || glink" style="width:100%">
		<v-toolbar><v-toolbar-title>Accesso rapido tramite social</v-toolbar-title></v-toolbar>
					<a v-if="fblink" class="social f fb" @click="logFb()"><i class="mdi mdi-facebook-box"></i><b>accedi con facebook</b></a>
					<a v-if="glink"  class="social f google" @click="logGoogle()"><i class="mdi mdi-google"></i><b>accedi con google</b></a>
					<hr class="divider"/>
		</div>
</template>
<script>

import {mapState,mapGetters} from 'vuex';
export default {
	name: "account",
	components:{

	},
	computed:{
		...mapState(['usr']),
		...mapGetters(['isConnected'])
	},
	data() {
		return {
			glink:'',
			fblink:'',
			popup:null
		}
	},
	methods:{
		logFb(){
			this.popup= window.open(this.fblink);
		},
		logGoogle(){
			this.popup= window.open(this.glink);
		}
	},
	sockets:{
		channel_popupClose(tokenObj){
			this.popup && this.popup.close();
			this.popup = null;
			if (tokenObj.t) {
				this.$socket.emit('tokenLogin',tokenObj)
			} 

			//this.$socket.emit('fbToken',token);
		}
	},
	beforeMount(){

	},
	mounted() {

	},
	watch:{
		'isConnected':{
			handler:function(y){
			if (y) {
				this.$socket.emit('fbLink',{},(err,data)=> this.fblink = !err && data );
				this.$socket.emit('urlGoogleLogin',{},(err,data)=>this.glink = !err && data );
				}
			},
			immediate:true
		}
	},
	beforeDestroy(){
		this.popup && this.popup.close()
	},
}
</script>
<style scoped lang="less">

@theme: "../less/themes/dev";
@import "@{theme}";
.social {

			height:40px;
			border-radius:6px;
			background: #3b5998;
			width:85%;
			justify-content: flex-start;
			margin:22px auto 12px;
			padding: 10px;
			text-transform:capitalize;
			box-sizing:border-box;
			border:2px solid hsl(221, 24%, 51%);
			cursor:pointer;
			color:#fff;
			&:hover {opacity:.7}
			i {font-size: 26px;margin:0 10px;}
			&.google {background: #d34836;border-color:hsl(7, 44%, 62%);}

			@media @mobile { 
				i {
					margin:0 3px;
				}
			}
		}

</style>