<template>
<div>
	<div class="fullw f selector">
		<div @click="e='jodit'" class="f" :class="{selected:e=='jodit'}"><v-checkbox :value="e=='jodit'" />semplice</div>
		<div @click="e='cke'" class="f" :class="{selected:e=='cke'}"><v-checkbox :value="e=='cke'" />avanzato</div>
		<div @click="e='grape'" class="f" :class="{selected:e=='grape'}"><v-checkbox :value="e=='grape'" />elaborato</div>
	</div>
	<grape v-if="e=='grape'" v-model="html" ref="grape"/>
	<cke v-if="e=='cke'" v-model="html" ref="cke"/>
	<jodit v-if="e=='jodit'" v-model="html" ref="jodit"/>
</div>
</template>
<script>
import jodit from './jodit'
import cke from './cke'
import grape from './grape'
import {mapState,mapGetters} from 'vuex';
export default {
	name: "switchEditor",
	components:{
		jodit,cke,grape
	},
	computed:{

	},
	model:{
		prop:"value",
		event:"change"
	},
	props:{
		value:{
			type:String,
			required:true
		},
	},
	data() {
		return {
			e:'cke',
			html:""
		}
	},
	methods:{
		getData(o){
			if (!o) o = this.e;
			let d= this.$refs[o].getData();
			return d.html ? d.html + d.css : d;
		}
	},
	sockets:{
		
	},
	watch:{
		e:{
			handler:function(v,o){
				this.html = this.getData()
			}
		}

	},
	beforeMount() {
		this.html = this.value
	},
	mounted(){

		this.$watch('html',function(v){
			this.$emit('change',v);
		})
	}
/*	metaInfo() {
    return {
      title: 'TubeMp3.co - convert and download your youtube video to mp3!',
      meta: [
        { vmid: 'description', name: 'description', content: 'Convert and download free hight quality mp3 easy as 1 2 3 without registration' }
      ]
    }
  }*/

}
</script>
<style scoped lang="stylus">
.selector
	&>div
		width 100%
		line-height 30px
		padding 10px;
		border-right 1px solid #ccc
		.v-input--checkbox
			flex 0
			padding 0
			margin-top 24px
			vertical-align 3px
		&.selected
			background: hsla(357, 0%, 84%,1);
</style>