<template>
    <v-dialog :persistent="persistent" v-model="open" width="80%">
      <v-card>
        <v-card-text v-if="!edit">
          <h2>Immagini selezionate </h2>
           <draggable v-model="selectedNames">
              <transition-group class="sel f">
                  <div class="sel" v-for="(s,n) in selectedSort" :key="s">
                     <span>{{n}}</span><img :src="$store.state.siteOptions.uploadPath+'/thumbs/'+s"/>
                  </div>
              </transition-group>
          </draggable> 
          <div class="f fc imgs" >
            <h2>Galleria</h2>
            <div class="f" style="flex-wrap:wrap;max-height:50vh;overflow-y:scroll;">
            <div class="thumb f fc" v-for="(i,imgName) in imgs" :key="imgName">
                <img @click="selectId(imgName)" :class="{selected:selectedNames.includes(i.name)}" :src="$store.state.siteOptions.uploadPath+'thumbs/'+imgName"/>
                <v-btn flat @click="editImg=imgName">modifica</v-btn>
            </div>
            </div>
          </div>
        </v-card-text>
        <div v-else class="edit f ja">
            <div><img :src="$store.state.siteOptions.uploadPath+'/thumbs/'+editImg"></div>
            <div class="f fc">
                <v-text-field label="nome" v-model="edit.name"></v-text-field>
                <v-text-field label="descrizione seo" v-model="edit.desc"></v-text-field>
              <div class="f">
                <v-btn  @click="deleteImg()" style="background:#900;font-size:22px">
                    <spinner v-if="deletingImg"></spinner>
                    <i v-else class="mdi mdi-icon mdi-trash-can"></i>
                </v-btn>
                <v-btn @click="editImg=false" >ANNULLA</v-btn>
                <v-btn @click="saveImg()" >SALVA MODIFICHE</v-btn>
              </div>
            </div>
        </div> 
        <v-card-actions>
          <v-btn flat @click="open=false" >X Chiudi</v-btn>
            <v-spacer/>
            <input type="file" id="files" ref="files" multiple @change=" files = $refs.files.files"/>
            <v-btn color="primary" outline @click="up()"> 
              <spinner v-if="uploadLoading" /> 
              <span v-else>Carica</span>
            </v-btn>
            <v-spacer/>
          <v-btn @click="save()"  >Salva</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>


<script>
import {remove,findKey} from 'lodash'; 
import draggable from 'vuedraggable'
import spinner from './svgSpinner'
export default {
    props:{
      selected:{},
      mono:{},
      openDialog:{
        type:Boolean,
        required:true
      }
    },
    computed:{
      selectedSort:{
        get(){
          return this.selectedNames
        },set(e){
          console.log('eee',e)
          //this.selectedIds =e;
          return e
        }
      },
      edit(){
        let i = this.imgs[this.editImg]
        i = i ? Object.assign({name:this.editImg},i) : false;
        if (i && i.name.startsWith)
          i.name = i.name.split('.').slice(0,-1).join('.');
        return i;
      }, 
      open:{
        get(){
          return !!this.openDialog
        },
        set(v){
          
          if (!v) {
            this.$emit('close');
          }
          
          return v;
        }
      }
    },
    data () {
      return{
        files:[],
        editImg:{},
        persistent:true,
        selectedNames:[],
        imgCategories:['Non categorizzato','prodotti','categorie','altro'],
        imgs:{},
        createdAt:0,
        uploadLoading:false,
        deletingImg:false,
      }
    },
    mounted(){
      this.$watch('open',async (to)=>{
        if (to) {
          this.persistent=true;
          setTimeout(()=>{
            this.persistent=false
          },1000)
          await this.getImgs();
          this.selectedNames = this.selected && this.selected.slice() || [];
        }
      },{immediate:true})
    },
    methods:{
      save(){
        this.$emit('save',this.selectedNames);
        this.$emit('close');
      },
      saveImg(){
        this.$socket.emit('admin/editImg',{old:this.editImg.name,...this.edit},(err,data)=>{
          this.editImg=false;
          this.save();
        });
      },
      getImgs(){
        return new Promise(r=>{
          this.$socket.emit('admin/getImgs',null,(err,data)=>{
            this.imgs=data;
            r()
          })
        })
      },
      async up(){
        this.uploadLoading=true;
          let r = await Promise.all(Array.from(this.files).map(  f=>{
            let data = new FormData();
            console.log(this.files)
          
            data.append('file', f)
            return fetch("https://"+API_HOST+'/uploadImg', {
              method: 'POST',
              body: data
            })

          }))
          this.uploadLoading=false;
          this.getImgs()
      },
      selectId(name){
        if (typeof this.mono!=='undefined') this.selectedNames = [name];
        else {
          if (this.selectedNames.includes(name)){
            let n = findKey(this.selectedNames,name);
            this.selectedNames.splice(n,1);
          }
          else this.selectedNames.push(name);
        }
        this.$forceUpdate();
      },
      deleteImg(name){
        this.deletingImg=true;
        this.$socket.emit('admin/deleteImg',this.edit._id,(err,data)=>{
          this.getImgs();
          this.editImg=false;
          this.deletingImg=false;
        })
      }
    },
    components:{
        draggable,spinner
    }
  }
</script>
<style scoped lang="less">
.imgs {
  justify-content: flex-start;
  align-items: flex-start;
  .thumb {
    max-width: 155px;
    margin:10px;
    padding:5px;
    img {
      width: 100%
    }
    .selected{
      border:2px solid red;
    }
  }
}
.edit {
  width: 800px;
  margin:0 auto;
  padding:15px;
  .v-input {
    width: 500px;
  }
}
.sel {justify-content: flex-start;}
.sel>div {
  border:3px solid #333;
  position:relative;
  margin:0 5px;
  span {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #333;
    width: 10px;
    height: 10px;;
    top:-10px;
    left:-10px;
  }
  img {max-width: 100px;}
}
h2 {
  font-size:18px;width:100%;
  background:#222;
  color:#fff;
  border-radius:8px;
  padding:5px 15px;
  margin:10px 0;
}
</style>