<template>
    <v-dialog :persistent="persistent" v-model="open" width="80%">
      <v-card>
        <v-card-text >
          <h2>File selezionati </h2>
           <draggable v-model="selectedNames">
              <transition-group class="sel f">
                  <div class="sel" v-for="(s,n) in selectedSort" :key="s">
                     <span>{{n}}</span>
                     <i @click="selectId(s.name)" class="delete-icon mdi mdi-minus-circle"></i>
                     <div>{{s}}</div>
                  </div>
              </transition-group>
          </draggable> 
          <div class="f fc imgs" >
            <h2 class="f fullw">
              <div style="background:#fff" class="f fullw">
                <v-text-field outline  hide-details label="Cerca documento" v-model="src"></v-text-field>
                        	<v-select
                                v-model="sort"
                                :items="sortOptions"
                                label="Lista files in ordine"
                                hide-details
                                outline
                            ></v-select>
                </div>
            </h2>
            <div class="f fc fullw" style="flex-wrap:wrap;max-height:50vh;overflow-y:scroll;">
            <div class="row f fc" v-for="i in sortedFiles" :key="i.name">
              <div class="f fullw">
                <div class="f fullw" style="justify-content:flex-start" @click="selectId(i.name)">
                  <img  :class="{selected:selectedNames.includes(i.name)}" :src="$store.state.siteOptions.uploadPath+'iconPack/png/'+i.ext+'.png'"/>
                  <p>{{i.name}}</p>
                </div>
                <v-btn  @click="editFile=i.name" style="background:#900;font-size:22px;color:#fff"><i class="mdi mdi-icon mdi-trash-can"></i></v-btn>
                <!--<v-btn flat @click="editFile=fileName">modifica</v-btn>-->
              </div>
              <div v-if="editFile==i.name" class="f editrow fullw"><p>Sei sicuro di voler eliminare il file ?</p> <v-spacer/>
              <v-btn color="primary" @click="deleteFile()">
                  <template v-if="!deleting">SI</template>
                  <spinner v-else/>
                </v-btn>  <v-btn @click="editFile=false">annulla</v-btn> </div>
            </div>
            </div>
          </div>
        </v-card-text>
<!--         <div v-else class="edit f ja">
            <div><img :src="$store.state.siteOptions.uploadPath+'/thumbs/'+editFile"></div>
            <div class="f fc">
                <v-text-field label="nome" v-model="edit.name"></v-text-field>
                <v-text-field label="descrizione seo" v-model="edit.desc"></v-text-field>
              <div class="f">
                <v-btn  @click="deleteFile()" style="background:#900;font-size:22px"><i class="mdi mdi-icon mdi-trash-can"></i></v-btn>
                <v-btn @click="editFile=false" >ANNULLA</v-btn>
                <v-btn @click="saveFile()" >SALVA MODIFICHE</v-btn>
              </div>
            </div>
        </div>  -->
        <v-card-actions>
          <v-btn flat @click="open=false" >X Chiudi</v-btn>
            <v-spacer/>
            <input type="file" id="files" ref="files" multiple @change=" uploadingFiles = $refs.files.files"/>
            <v-btn outline @click="up()"> 
              <spinner v-if="uploadLoading" /> 
              <span v-else>Carica</span>
            </v-btn>
            <v-spacer/>
          <v-btn @click="save()"  >Salva</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>


<script>
import {remove,findKey} from 'lodash'; 
import draggable from 'vuedraggable'
import spinner from './svgSpinner'
import objectid from 'bson-objectid';
export default {
    props:{
      selected:{},
      mono:{},
      openDialog:{
        type:Boolean,
        required:true
      }
    },
    computed:{
      selectedSort:{
        get(){
          return this.selectedNames
        },set(e){
          console.log('eee',e)
          //this.selectedIds =e;
          return e
        }
      },
      edit(){
        let i = this.files[this.editFile]
        i = i ? Object.assign({name:this.editFile},i) : false;
        if (i && i.name.startsWith)
          i.name = i.name.split('.').slice(0,-1).join('.');
        return i;
      }, 
      open:{
        get(){
          return !!this.openDialog
        },
        set(v){
          
          if (!v) {
            this.$emit('close');
          }
          
          return v;
        }
      },
      sortedFiles(){
        let sortFunc = (a,b)=>a.name-b.name;
        
        switch(this.sort) {
          case 'Caricati di recente' : {
            console.log('s11oret',this.sort,)
            sortFunc =(a,b)=>b.date-a.date;
            break; 
          }
        }
        return Object.values(this.files).sort(sortFunc).filter(f=>f.name.toLowerCase().includes(this.src.toLowerCase()))
      }
    },
    data () {
      return{
        uploadingFiles:[],
        editFile:{},
        src:'',
        persistent:true,
        sortOptions:['alfabetico','Caricati di recente'],
        sort:'alfabetico',
        selectedNames:[],
        imgCategories:['Non categorizzato','prodotti','categorie','altro'],
        files:{},
        createdAt:0,
        deleting:false,
        uploadLoading:false
      }
    },
    mounted(){
      this.$watch('open',async (to)=>{
        if (to) {
          this.persistent=true;
          setTimeout(()=>{
            this.persistent=false
          },1000)
          await this.getFiles();
          this.selectedNames = this.selected && this.selected.slice() || [];
        }
      },{immediate:true})
    },
    methods:{
      save(){
        this.$emit('save',this.selectedNames);
        this.$emit('close');
      },
      saveFile(){
        this.$socket.emit('admin/editFile',{old:this.editFile.name,...this.edit},(err,data)=>{
          this.editFile=false;
          this.save();
        });
      },
      getFiles(){
        return new Promise(r=>{
          this.$socket.emit('admin/getFiles',null,(err,data)=>{
            if (err){
              console.error(err);
              return;
            }
            Object.values(data).forEach(f=>{
              f.date = objectid(f._id).getTimestamp().getTime();
            })
            this.files=data;
            r()
          })
        })
      },
      async up(){
        this.uploadLoading=true;
          let r = await Promise.all(Array.from(this.uploadingFiles).map(  f=>{
            let data = new FormData();
            console.log(this.uploadingFiles)
          
            data.append('file', f)
            return fetch("https://"+API_HOST+'/uploadFiles', {
              method: 'POST',
              body: data
            }).catch(e=>{
              this.uploadLoading=false;
            })

          }))
          this.uploadLoading=false;
          this.getFiles()
      },
      selectId(name){
        if (typeof this.mono!=='undefined') this.selectedNames = [name];
        else {
          if (this.selectedNames.includes(name)){
            let n = findKey(this.selectedNames,name);
            this.selectedNames.splice(n,1);
          }
          else this.selectedNames.push(name);
        }
        this.$forceUpdate();
      },
      deleteFile(name){
        this.deleting=true;
        this.$socket.emit('admin/deleteFile',this.edit._id,(err,data)=>{
          this.deleting=false;
          this.editFile=false;
          this.getFiles()
        })
      }
    },
    components:{
        draggable,spinner
    }
  }
</script>
<style scoped lang="less">

@import '../less/themes/default';
.imgs {
  justify-content: flex-start;
  align-items: flex-start;
  .row {
    width:100%;
    margin:10px;
    padding:5px;
    justify-content: flex-start;
    .editrow {background:fade(@rosso,20%);}
    img {
      width: 40px;
    }
    .selected{
      border:2px solid red;
    }
  }
}
.edit {
  width: 800px;
  margin:0 auto;
  .v-input {
    width: 500px;
  }
}
.sel {justify-content: flex-start;}
.sel>div {
  border:1px solid #333;
  position:relative;
  margin:0 5px;
  span {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #333;
    width: 10px;
    height: 10px;;
    top:-10px;
    left:-10px;
  }
  img {max-width: 100px;}
  .delete-icon {
    position:absolute;
    top:-10px;
    right:-10px;
    color:@rosso;
    z-index:99;
    font-size:25px;
    cursor:pointer;
  }
}
h2 {
  font-size:18px;width:100%;
  background:#222;
  color:#fff;
  border-radius:8px;
  padding:5px 15px;
  margin:10px 0;
}
</style>