<template>
    <div id="edit">
        
        <template v-if="prodotto">
        
        <v-card>
            <v-toolbar><v-toolbar-title>modifica prodotto: <b style="font-weight:bold">{{prodotto.name}}</b></v-toolbar-title>
          
                        <v-spacer/>
                    <v-toolbar-items>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                            <v-btn tooltip="enabled" icon ripple v-on="on" :class="{secondary:!prodotto.enabled}" @click="prodotto.enabled = !prodotto.enabled;$forceUpdate();">
                                <i class="mdi" :class="[prodotto.enabled ? 'mdi-eye-check' : 'mdi-eye-off']"/></v-btn>
                            </template>
                        <span>{{prodotto.enabled ? 'Visibile': 'Nascosto'}}</span>
                        </v-tooltip>
                    </v-toolbar-items>
            </v-toolbar>
        <v-card-text>

            <v-tabs
                v-model="tab"
                dark
                slider-color="yellow"
                >
                <v-tab v-for="n in tabs" :key="n" ripple> {{ n }}</v-tab>
                <v-tab-item :key="0">
                    <div style="height:20px;width:1px;"></div>
                    <v-text-field v-model="prodotto.name" label="NOME PRODOTTO"></v-text-field>
                    <v-text-field v-model="prodotto.seoDesc" label="DESCRIZIONE BREVE ( SEO E SOCIAL )"></v-text-field>
                    <div class="settings fullw f">
                            <table>
                            <tr>
                                <td><label l class="f">Prezzo</label></td><td><money v-model="prodotto.price"></money></td>
                            </tr>
                            <tr>
                                <td><label l class="f">Quantit&agrave; disponibile</label></td><td><counter v-model="prodotto.quantitaDisponibile"></counter></td>
                            </tr>
                            <tr>
                                <td><label l class="f">Peso</label></td><td><counter :decimals="3" suffix="Kg" v-model="prodotto.peso"></counter></td>
                            </tr>
                            <tr>
                                <td><label l class="f">Tassazione</label></td>
                                <td class="tassazione">
                                    <p style="margin:0 20px 2px 0">%</p><v-select :items="$store.state.siteOptions.taxes.map(t=>t.val)" v-model="prodotto.iva"/>
                                </td>
                            </tr>
                            </table>
                    </div>
                        <div class="fullw tags">
                            <h3>Tags</h3>
                            <tag-input v-model="prodotto.tags"></tag-input>
                        </div>
                </v-tab-item>
                <v-tab-item :key="1">
                    <switch-editor v-model="prodotto.description" ref="cke"></switch-editor>
                </v-tab-item>
                <v-tab-item :key="2">
                    <div class="fullw f fc">
                        <v-btn @click="attrs.push({name:'',v:[]});$forceUpdate();">AGGIUNGI NUOVA CATEGORIA DI ATTRIBUTI</v-btn>
                        <table class="fullw attrs">
                        <thead>
                            <th></th>
                            <th>Nome attributo</th>
                            <th>Valore attributo</th>
                            <th>Incremento di prezzo</th>
                            <th></th>
                        </thead>
                        <tr v-for="(a) in attrs" :key="a.name">
                            <td><v-btn @click="prodotto.attributes[a.name]=undefined" icon color="primary"><v-icon>delete</v-icon></v-btn></td>
                            <td style="width:calc(100%/3);">
                                <v-text-field label="NOME CATEGORIA ATTRIBUTO" v-model="a.name"/>
                                <v-btn @click="a.v.push({name:'',value:0});$forceUpdate();"> aggiungi attributo </v-btn>
                            </td>
                            <td>
                                <div class="attrloop">
                                <div v-for="(attr,i) in a.v" :key="i" class="f fullw fc">
                                    <v-text-field label="NOME ATTRIBUTO" v-model="attr.name"/>
                                </div>
                                </div>
                            </td>
                            <td >
                                <div class="attrloop">
                                    <div v-for="attr in a.v" :key="attr.name" class="f fullw attrloop ">
                                        <counter @change="$forceUpdate()" :onlyPositive="false" suffix="€" decimals="2" v-model="attr.value"/>
                                    </div>  
                                </div>
                            </td>
                           <td >
                               <div class="attrloop">
                                <div v-for="attr in a.v" :key="attr.name" class="f fullw attrloop ">
                                   
                                </div>
                               </div>
                            </td>
                           <td >
                               <div class="attrloop">
                                    <div v-for="(attr,i) in a.v" :key="attr.name" class="f fullw attrloop ">
                                        <v-btn @click="a.v.splice(i,1);$forceUpdate();"  icon color="primary"><v-icon>delete</v-icon></v-btn>        
                                    </div>
                               </div>
                            </td>
                        </tr>
                        </table>
                    </div>
                </v-tab-item>
                <v-tab-item :key="3">
                    <div class="f fullw fc">
                    <div class="f fullw">
                        <div v-for="i in imgsIds" :key="i">
                            <img :src="$store.state.siteOptions.uploadPath+i" style="max-width:80px;max-height:60px"/>
                        </div>
                        <upload-img @close="openImgDialog=false" :selected="imgsIds" @save="selectedImgs($event)" :openDialog="openImgDialog"></upload-img>
                        
                        <v-btn @click="openImgDialog=true">Seleziona immagini</v-btn>
                    </div>
                    <div class="f fullw">
                        <img v-if="prodotto.thumb" :src="$store.state.siteOptions.uploadPath+'/thumbs/'+thumb" style="max-width:80px;max-height:60px"/>
                        <upload-img @close="thumbDialog=false" :selected="thumb" mono @save="prodotto.thumb = $event[0]" :openDialog="thumbDialog"></upload-img>
                        <v-btn @click="thumbDialog=true">scegli un immagine di anteprima</v-btn>
                    </div>
                    </div>
                </v-tab-item>
                <v-tab-item :key="4">
                    <v-btn @click="openFileDialog=true">Seleziona allegati</v-btn>
                    <div class="fullw f fc allegati">
                        <div class="f fullw" v-for="f in fileIds" :key="f"> {{f}} <!-- <i @click="removeAllegato(f)" class="mdi delete-icon mdi-minus-circle"></i> --></div>
                        <upload-files @close="openFileDialog=false" :selected="fileIds" @save="prodotto.files= $event" :openDialog="openFileDialog"></upload-files>
                    </div>
                </v-tab-item>
            </v-tabs>
            <v-alert dismissible :value="!!msg.txt" :type="msg.type">{{msg.txt}}</v-alert>
        </v-card-text>
        <v-card-actions>
            <v-btn @click="$router.back()">annulla</v-btn>
            <v-spacer/>
            <v-btn @click="salva()" color="primary" :disabled="loading">
			    <span v-if="!loading" >salva</span>
			    <svg-spinner v-else></svg-spinner>
		    </v-btn>
        </v-card-actions>
        </v-card>
    

        </template>
        <loading v-else></loading>
    </div>
</template>
<script>
import {get,map,zipObject,remove} from 'lodash'
import {mapState,mapGetters} from 'vuex';
import {friendlyUrl} from '../../../store/utils'
import svgSpinner from '../../../components/svgSpinner';
import counter from '../../../components/counter';
import loading from '../../../components/loading';
import switchEditor from '../../../components/switchEditor';
import uploadImg from '../../../components/uploadImg';
import uploadFiles from '../../../components/uploadFiles';
import tagInput from '../../../components/VoerroTagsInput.vue'

export default {
    name:"editProdotto",
    computed:{
        ...mapState(['path']),
        attrs:{
            get(){
            return this.prodotto && map(this.prodotto.attributes,(v,k)=>{
                return {
                    name:k,
                    v
                }
            }).filter(a=>a.v) || [];
            },
            set(v){console.log('vvv',v)}
        },
        imgsIds(){
                return this.prodotto.img&&this.prodotto.img.map(i=>i && (i.name || i));
        },
        fileIds(){
                return this.prodotto.files&&this.prodotto.files.map(i=>i && (i.name || i));
        },

        thumb(){
                return this.prodotto.thumb ? (this.prodotto.thumb.name || this.prodotto.thumb ) : [];
        }

    },
    data(){
        return {
            loading:false,
            editor:null,
            openImgDialog:false,
            openFileDialog:false,
            thumbDialog:false,
            prodotto:false,
            tabs:['info','descrizione','attributi','immagini','allegati'],
            tab:'info',
            msg:{
                txt:'',
                type:''
            },
            new:{
                name:'',
                description:'',
                enabled:true,
                seoDesc:''
            }
        }
    },
    async mounted(){
        if (this.path[2]=='new'){
           this.prodotto = this.new;
           return;
        } 
        //if (!this.p) 
        this.$socket.emit('admin/getProdotto',this.path[2],(err,data)=>{
            if (err){
                return;
            }
            this.prodotto=data[0];
            this.prodotto._id=this.path[2];
            this.prodotto.iva = data[0].iva || 22;
            this.prodotto.description = data[0].description || '';
            this.prodotto.img = this.prodotto.img.map(i=>i.name);
            this.prodotto.thumb = this.prodotto.thumb.name;
            this.prodotto.tags = data[0].tags || [];
            this.prodotto.files = data[0].files && data[0].files.map(f=>f.name) || [];
            this.$forceUpdate();

        })
    },
    methods:{
        friendlyUrl,
        salva(){
            if (this.loading) return;
            this.loading=true;
            this.msg = {txt:'',type:''}
            this.prodotto.description = this.$refs.cke&&this.$refs.cke.getData();
            let attrs=this.attrs.filter(a=>a.name&&a.v.filter(v=>v.name).length);
            this.prodotto.attributes = zipObject(attrs.map(a=>a.name),attrs.map(a=>a.v))
            this.$socket.emit('admin/saveProdotto',this.prodotto,(err,data)=>{
                this.loading=false;
                if (err) {
                    this.msg = {txt:err,type:'error'}
                    return;
                }
                this.$emit('msg',data)
                this.msg = {txt:'Modifiche salvate',type:'success'}
            })
        },
        rename(nKey,newName){
            let obj = {
                [newName]:this.prodotto.attributes[nKey].slice()
            }
            delete this.prodotto.attributes[nKey];
            Object.assign(this.prodotto,obj);
            this.$forceUpdate()
        },
        selectedImgs(arr){
            this.prodotto.img = arr;
            if (!this.prodotto.thumb) this.prodotto.thumb = arr[0];
        },
        removeAllegato(name){
            this.$forceUpdate()
            remove(this.prodotto.files,f=>f.name==name || f==name);
            this.$forceUpdate()
        }
    },
    components:{
            svgSpinner,switchEditor,uploadImg,loading,counter,uploadFiles,tagInput
    },
}
</script>
<style lang="less" scoped>

@import '../../../less/themes/default';
#edit {
    padding:50px 10px;
}

.v-money  {
    font-weight:600;
    background: #eee;
    color:#111;
    padding:5px;
}
.attrs {
    .mdi-delete {
        font-size:22px;
        display: inline;
    }
    tr {
        border:1px solid #676767;
    }
    td {
        vertical-align:middle;
        padding:0 20px;
    }
    .attrloop {
        &>* {margin:10px 0;}
        min-height:90px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
   
}

 .qtyNumber {width:60px}
.v-window {margin-top:30px;}
.allegati {
    &>.f {
        justify-content: flex-start;
    } 
    .delete-icon {color:@rosso;font-size:26px;margin: 0 0 0 auto;cursor:pointer;}
}
.settings {
    background:#f7f7f7;
    & {align-items:flex-start;}
    label[l] {
        width:100%;
        height:100%;
        background:#ddd;
        font-weight: bold;
    }
    table {width:100%;}
    tr {display: flex;align-items:stretch;justify-content:center;margin:20px 0;border:1px solid #22222222;}
    td {display:flex;padding:10px;align-items:center;justify-content:center;width:50%;}
}
.tags {
    padding:20px;
}
</style>
<style lang="less">
.tassazione {
    .v-select {flex:unset;}
}
</style>
