<template>
  
  <v-dialog v-model="opened" width="600px">
            <div class="fullw f ja">
                <v-chip @click="$emit('changePick','prodotti')" :disabled="pick=='prodotti'">Prodotti</v-chip>
                <v-chip @click="$emit('changePick','categorie')" :disabled="pick=='categorie'">categorie</v-chip>
            </div>
        <div class="fullw f">
            <v-text-field width="50%" v-model="src" :label="'Cerca '+pick"/>
            <v-btn class="sort-btn" @click="sortEnabled=!sortEnabled" :class={primary:sortEnabled} flat icon><i class="mdi mdi-repeat"/></v-btn>
        </div>
        <template v-if="!sortEnabled">
            <loading v-if="loading"/>
            <div v-else class="p f" v-for="p in prodottiMostrati" :key="p._id" @click="add(p)" :class="{selected:p.selected}">
                <img  v-if="p.thumb" :src="$store.state.siteOptions.uploadPath+'thumbs/'+p.thumb.name" /> <p> {{p.name}}</p>
            </div>

        </template>
        <template v-else>
            <draggable v-model="sorted">
            <div class="p f" v-for="(p,n) in sorted" :key="p._id" @click="add(p)" :class="{selected:p.selected}">
               {{n + 1}} -    <img  v-if="p.thumb" :src="$store.state.siteOptions.uploadPath+'thumbs/'+p.thumb.name" /><p> {{p.name}}</p>
            </div>
            </draggable>     
        </template>
        <v-pagination v-if="totali > 1" v-model="page" :length="totali" :total-visible="5"/>
  </v-dialog>  
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import edit from './editProdotto'
import draggable from 'vuedraggable'
import {remove,debounce} from 'lodash'
import loading from '../../loading'
export default {
    name:"pickProdotti",
    components:{
        edit,draggable,loading
    },
    computed:{
        ...mapState(['path']),
        prodottiMostrati(){
            let p = (this.src.length>2) ? this.lista.filter(p=>String(p.name+'id:'+p._id).toLowerCase().includes(this.src)) : this.lista;
            p =  p.sort((a,b)=>b.selected-a.selected)
            this.totali = Math.round(p.length/this.perPage);
     
            return p.slice((this.page-1)*this.perPage , this.page  * this.perPage)
        },
        prodotto:{
            get(){
                let p= this.lista.find(p=>p._id==this.path[2]);
                if (!p) return null;
                return p;
            },set(v){return v;}
        },
        sorted:{
            get(){
                this.lista;
                this.totali = Math.round(this.value.length/this.perPage);
                return this.value.map(id=>this.lista.find(pr=>pr._id==String(id)));
            },
            set(v){
                this.$emit('change',v.map(p=>p._id));
                return v
            }
        }
    },
    model:{
        prop:'value',
        event:'change',
    },
    props:{
        value:{

        },
        pick:{
            type:String,
            default:'prodotti'
        }
    },
    data(){
        return {
            lista:[],
            sortEnabled:false,
            totali:0,
            loading:true,
            perPage:10,
            opened:true,
            page:1,
            src:''
        }
    },
    async mounted(){
        this.search = debounce(function(e){this.src=e;this.page=0;},400)
    },

    methods:{
        async getData(){
            this.loading=true;
            let p =  await  this.$db[this.pick].toArray() || [];
            p.forEach(p=>p.selected=this.value.includes(String(p._id)));
            this.lista=p
            this.loading=false;
        },
        search(){},
        add(p){
            p.selected = !p.selected;
            if (p.selected) this.value.push(p._id);
            else remove(this.value,id=>id==p._id);
            this.$forceUpdate()
        }
    },
    watch:{
        opened:function(to){
            if (!to) this.$emit('closed')
        },
        pick:{
            handler:function(to){
                this.getData()
            },
            immediate:true
        }
    }
}
</script>
<style lang="stylus" scoped>
.p
    justify-content flex-start

    margin 5px 0
    p
        padding 10px
    img
        width 50px
        max-height 50px
.p.selected
    background #ca4646
    color #fff
.sort-btn 
    background #ccc
</style>

<style lang="stylus" >
.v-dialog
    background #eee
    padding 20px
</style>