<template>
    <div id="pagine">
        <template v-if="!path[2]">
        <div class="list" >
        <router-link to="/admin/prodotti/new" class="p new">
                <v-icon>add_box</v-icon>
                Nuovo prodotto
        </router-link>
        <div class="f fullw pagination" v-if="prodottiMostrati.length">
            <i class="mdi mdi-chevron-left-circle" :class="{invisible:page<1}" @click="page--"></i>
            <i> <template v-if="totali"> {{page +1}} / {{totali}}</template></i>
            <i class="mdi mdi-chevron-right-circle" v-if="page+1 < totali" @click="page++"></i>
        </div>
        <div class="f fullw">
            <v-text-field label="Cerca prodotto" @input="search($event)"></v-text-field>
        </div>
        <div class="f"  v-for="p in prodottiMostrati" :key="p._id" >
            <routerLink  class="p" :to="'/admin/prodotti/'+p._id">{{p.name}}</routerLink>
            <a @click="clone(p._id)" class="f fc"><v-icon :id="'repeat'+p._id" >repeat</v-icon><p>clona</p></a>
            <a @click="toBeDeleted=p"><v-icon class="del">delete</v-icon></a>
        </div>
        <div class="f fullw pagination">
            <i class="mdi mdi-chevron-left-circle" :class="{invisible:page<1}" @click="page--"></i>
            <i> <template v-if="totali"> {{page +1}} / {{totali}}</template></i>
            <i class="mdi mdi-chevron-right-circle" @click="page++"></i>
        </div>
        </div>
        </template>
        <edit v-else></edit>
            <v-dialog v-model="showDeleteDialog" width="500" >
                <v-card>
                    <v-card-text>
                    sei sicuro di voler eliminare il prodotto ? {{toBeDeleted.name}}
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click="toBeDeleted=false" >no annulla</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="cancellaProdotto()">Si, elimina</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <loading v-if="loading"></loading>

    
    </div>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import edit from './editProdotto'
import {debounce} from 'lodash'
import loading from '../../loading'
export default {
    name:"prodotti",
    components:{
        edit,loading
    },
    computed:{
        ...mapState(['path']),
        prodottiMostrati(){
            let p = (this.src.length>3) ? this.prodotti.filter(p=>String(p.name+'id:'+p._id).toLowerCase().includes(this.src)) : this.prodotti;
            this.totali = Math.round(p.length/20);
            return p.slice(this.page*20 , (this.page + 1) * 20).sort((a,b)=>a._id-b._id)
        },
        showDeleteDialog:{
            get(){return !!this.toBeDeleted},
            set(v){if (!v) this.toBeDeleted=0}
        }
    },


    data(){
        return {
            prodotti:[],
            toBeDeleted:0,
            toBeCloned:0,
            totali:0,
            loading:true,
            page:0,
            src:''
        }
    },
    async mounted(){
        this.search = debounce(function(e){this.src=e},400)
        this.getData();
        this.$root.$on('prodottiUpdated',(data)=>{
            console.log('prodotti updated',data);
             this.getData()
        })
    },

    methods:{
        getData(){
            return new Promise(r=>{
                this.loading=true;
                this.$socket.emit('admin/getProdotto', null ,async (err,data)=>{
                 this.prodotti = data;
                 r();
                 this.loading=false;
                })
            })
        },
        search(){},
        cancellaProdotto(){
            this.$socket.emit('admin/deleteProdotto',this.toBeDeleted._id,async (err,data)=>{
                this.getData()
                this.toBeDeleted=0;
            })
        },
        clone(id){
            document.querySelector('#repeat'+id).classList.add('rotate');
            this.$socket.emit('admin/cloneProduct', id , async (err,data)=>{
                await this.getData();
                document.querySelector('#repeat'+id).classList.remove('rotate');
            })
        },
        beforeDestroy() {
            console.log('destroy search',this.search)
        },
    },
    watch:{
        'path.1':function(){
            this.getData()
        }
    }
}
</script>
<style scoped lang="less">
#pagine {
    &,.list,.p{width:100%;}
    .p {
        background:#ddd;
        border-radius: 10px;
        justify-content: space-between;
        padding:20px;
        margin:15px 0;
        display: flex;
        color:#111;
        align-self: flex-start;
        &.new {background:#ccc;justify-content: flex-start;align-items: center;}
    }
    .list {
        a{
            margin-left:30px;
            color:#222;
        }
        .v-icon {
            padding:10px;
            border-radius:5px;
            &.del {background:hsla(0,100%,50%,.3);}
        }
    }
    .pagination i {font-size:22px;margin:0 10px;}
}
</style>