<template>
	<v-app id="app">
		<refreshData ></refreshData>
		
			<transition name="fade">
				<div class="srcMobile f fullw" v-if="srcBarOpen">
					<form @submit.prevent="goToSearch()">
					<v-text-field @click:append="goToSearch()" hide-details append-icon="search" height="65px"  v-model="src" type="Text" placeholder="Cerca prodotto" id="srcBar"/>
					</form>
				</div>
			</transition>
		<div id="header" class="f fc fullw">
			<hr/>
			<div id="logodiv" class="fullw f ja" >
			<router-link to="/" class="f fc">
				<img v-img id="logoimg" :src="logoSrc[0]" :src-set="logoSrc" :style="logoStyle">
				<transition name="fade">
					<span id="slogan" :style="siteOptions&&siteOptions.sloganStile||'display:none'" v-if="showSlogan">Slogan personalizzao</span>
				</transition>
			</router-link>
			<div class="fullw f ja" id="menu-list">
					<v-btn @click="srcBarOpen=!srcBarOpen" ripple >
						<v-icon >search</v-icon>
						<h6>Cerca</h6>
					</v-btn>
					<v-btn id="menuBtn" ripple @click="menuOpen=!menuOpen;" v-if="$vuetify.breakpoint.xs">
						<i  class="mdi mdi-menu"/>
						<h6>menu</h6>
					</v-btn>
					<v-btn :hide="$vuetify.breakpoint.xs" ripple to="/cart"  >
				     <v-badge left :value="cartQty" >
							<template v-slot:badge>
								<span class="f fs" >{{cartQty}}</span>
							</template>
							<v-icon >shopping_cart</v-icon>
					</v-badge>
							<h6>carrello</h6>
					</v-btn>
					<v-btn ripple class="account-box" to="/account">
					    <v-badge :hide="!$vuetify.breakpoint.xs" top :value="cartQty"  >
								<template v-slot:badge>
									<span >{{cartQty}}</span>
								</template>
						</v-badge>
						<v-icon >account_box</v-icon>
						<h6 class="account-text">account</h6>
					</v-btn>
			</div>
			</div>
			<hr/>			
			<transition name="flexanim">
				<div class="menu f fullw" id="mobMenu" v-if="menuOpen">
					<h3 v-if="$vuetify.breakpoint.xs" style="font-weight:bold;color:#fdd;font-size: 16px;margin-left:6px;margin-top:6px;">Link rapidi</h3>
					<div class="f fullw" style="flex-wrap:wrap">
					<router-link  v-for="m in siteOptions.menuLinks" :to="m.url" :key="m.url" >
						<img src="/public/img/1x1transparent.png"/> {{m.text}}
					</router-link>
					</div>
					<div v-if="$vuetify.breakpoint.xs" class="menu-footer"></div>
				</div>
			</transition>
			
				<homeAlerts v-if="!path[0]"/>
				
				
		</div>
		<div class="main">
			
			<banner v-if="!path[0]" />
				
				
			<div class="page">

					<transition
						name="fade"
						mode="out-in"
					>
						<router-view/>
					</transition>
			</div>			
	 	</div>
		<div class="sub-footer f" v-if="!path[0] || path[0]!='admin'" :class="{fc:$vuetify.breakpoint.xs}">
			<v-btn icon height="auto"  tile ><div class="f fw fc">
				<span style="flex:1"  class="fw f"><img src="/public/img/corriere-truck.png" height="80px"/></span>
				<h3 color="danger">Spedizione con corriere 24/48H</h3>
				</div>
			</v-btn>
			<v-btn icon height="auto" tile  ><div class="f fw fc">
				<span style="flex:1"  class="fw f"><img src="/public/uploadImg/paypal-logo.png" height="80px"/></span>
				<h3 color="danger">Pagamenti e resi sicuri con Paypal</h3>
				</div>
			</v-btn>
			<v-btn icon id="assistenzaWapp"  height="auto"  tile  :href="whatsappNumber">
				<div class="f fw fc">
					<span style="flex:1"  class="fw f"><img src="/public/img/whatsapp.svg" height="80px"/></span>
					<h3 class="assistenza">Assistenza clienti 	</h3>
				</div>
			</v-btn> 
		</div>
	 	<div id="footer" class="f ja">
			<div v-if="siteOptions" v-html="siteOptions.footerHTML"/>
						 
			<!-- -->
	 	</div>
		<transition name="fade">
			<disconnect  v-if="disconnected"/>	
		</transition>
	</v-app>
</template>

<script>
import {mapState, mapGetters} from 'vuex';
import disconnect from './components/disconnect'
import homeAlerts from './components/homeAlerts'
import {debounce,get} from 'lodash'
import refreshData from './components/refreshData'
import banner from './components/banner'
export default {
	data() {
		return {
			disconnected:true,
			showSlogan:true,
			src:'',
			srcBarOpen:false,
			menuOpen:false,

			whatsappNumber:'https://api.whatsapp.com/send?phone=393466404367',	
		}
	},	
	components:{refreshData,disconnect,homeAlerts,banner},
	created(){},
	async mounted(){
		//setTimeout(()=>this.$socket.disconnect(),4000)
		if (this.env=='production') console.log=()=>{}
		console.log('ENV', this.env,typeof stripe);
		window.stripe = Stripe(this.$store.state.stripePubKey);
		this.$watch('isConnected',to=>{
			if (to && app.login) app.login();
			this.disconnected=!to
		},{immediate:true});

	},
	methods: {
		goToSearch(to){
			this.$router.push('/search/'+(to ||this.src).split(' ').join('_'));
		}
	},
	computed: {
		...mapState(['connState','env','siteOptions','path','screen']),
		...mapGetters(['isConnected','cartQty','screenSize']),
		logoSrc(){

			let d = '/public/img/logo.png';
			try{
				return [ this.siteOptions.uploadPath + '/'+this.siteOptions.logo.src , d];
			}catch(e){return d}
			
		},
		logoStyle(){
			try{
				let s = {
					width: this.siteOptions.logo.size.w,
					height : this.siteOptions.logo.size.h
				}
				if (this.$vuetify.breakpoint.xs) {
					Object.keys(s).forEach(k=>{s[k]=s[k]*this.siteOptions.logo.size.mobileReductionFactor})
				}
				Object.keys(s).forEach(k=>{s[k]=s[k]+'px'});
				return s
			}
			catch(e){return {width:'auto',height:'90px'}}
		},
	},
	beforeMount(){
		this.$i18n.locale = this.$store.state.locale
	},
	beforeDestroy() {
		this.$socket.disconnect();
	}, 
	sockets:{
		channel_redirect(data){
			console.log('redirect from channel',data)
			this.$router.push(data)
		},/* 
		channel_fbToken(token){

		} */
	},
	watch:{
		src:debounce(function(to){
			to && to.length > 2 && this.goToSearch(to)
		},500),
		'path.0':function(to){
			this.menuOpen= false;
			if (to!=='search') this.srcBarOpen=false;
			if (this.$vuetify.breakpoint.xs)
					this.showSlogan=false;
		},
		menuOpen:debounce(function(to){
			this.srcBarOpen=false;
			document.querySelector('#mobMenu').style.top = document.querySelector('#header').offsetHeight + 'px';
		}),/* 
		'$vuetify.breakpoint.width':{
			handler:async function(x){
				if (this.$ssrContext) return;
				await new Promise(r=>setTimeout(r,100))
				let sub = document.querySelector('.sub-footer');
				let footer = document.querySelector('#footer');
				let main = document.querySelector('.main');
				sub.style.bottom = footer.offsetHeight+'px';
				main.style.marginBottom = sub.offsetHeight+ 'px'

			},
			immediate:true
		} */
	},
}
</script>

<style lang="less">

@theme: "./less/themes/default";
@import "@{theme}";
@import './less/main.less';
#app {

	//background:linear-gradient(to right,  hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.5) 50%, hsla(0,0%,0%,0) 100%);
	
	justify-content:flex-start;
	flex-wrap: nowrap;
	@media @mobile {
		.v-toolbar__title {font-size:18px;}
	}
}
#app , .main {
	background:hsl(0,10%,98%);
}
#header{
	//border-top:2px solid #c33;

	justify-content: flex-start;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d8d8d8+0,b7b7b7+57,c1c1c1+100,c1c1c1+102 */
	background: hsl(0,0%,100%); /* Old browsers */
	background: url('/public/img/bg-pattern.jpg');
	
	//background: linear-gradient(to right, fade(@green, 30%) 0,hsla(0,0%,100%,1) 22%,hsla(0,0%,94%,1) 78%,fade(@rosso, 20%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


	hr {
		width:100vw;height:5px;z-index:2;
			background : linear-gradient(to right, hsla(150,100%, 27% ,.55) 0, hsl(0,0%,100%) 40%, hsl(0,0%,100%) 60%, hsla(357,72%,47%,.84) 100%);
			border:none;
		@media @mobile {
			height:4px;
		}
	}
	#logodiv {
		width: 100%;
		max-width:900px;
		padding:10px;
		z-index: 3;
		justify-content:space-around;
		#slogan {
			font-weight:bold;
			font-style: italic;
			font-family: 'Serpentine';
			  -webkit-text-stroke: .3px black;
			color:rgba(205,33, 42,1);
			font-size:18px;
			text-shadow:
				.3px .3px 0 #666,
				/* Simulated effect for Firefox and Opera
				and nice enhancement for WebKit */
			-.1px -.1px 0 #666,  
				.1px -.1px 0 #666,
			-.1px  .3px 0 #666,
				.1px  .1px 0 #666;
				@media @mobile {
					font-size:15px;
					text-align: center;
					padding:0 5px;
				}

		}
		
		#search {
				background: #fff;
				border-radius:10px;
				overflow:hidden;
				.srcTop {
					max-width:240px;
					width: 100%;
				}
			a {
				i {font-size:38px;}
				
			}
			@media @mobile {
				background: transparent;
				.srcTop {display:none;}
				.v-icon {
					border-radius:50%;
					padding:9px;
					background:#fff;
					font-size:28px;

				}

			}
		}
		@media @mobile {
			justify-content: center;
			padding:5px;
			a[href='/'] {
				width:190px;
			}
		}
	}
	#logoimg {
		width:300px;
		@media @mobile {
			max-width:170px;
		}
		@media screen and (max-width: 321px) {
			max-width:140px
		}
	}
	#menu-list {
		align-items:stretch;
		max-width:400px;
		padding:4px 10px;
		border-radius:12px;
		overflow: hidden;
		[hide] {display:none!important;}
		
		a,.v-btn {
			flex-direction:column;
			min-width: 0px;
			background:hsla(0,0%,100%,.7);
			transform: skewX(-@angle);
			
			height:80px;
			width:23%;
			margin:5px;
			display: flex;
			align-items:center;
			justify-content:center;
			flex-direction:column;
			color: darken(@color1,20%);
			box-shadow:3px 3px 10px #aaa;
			&:hover {
				background :hsla(0,0%,100%,.15)
			}
			i{ color:@color1;
				transform: skewX(@angle);text-shadow:1px 1px 4px #11111155;font-size:32px;}
			h6 {
				position:absolute;
				font-size: 12px;
				transform: skewX(@angle);
				font-weight:300;
				bottom:5%;

			}

			@media @mobile {
				margin:0;
				height:60px;
				width:28%;
				margin:0 1%;
				border-right:none;
				i {font-size:22px;}
				h6 {
					font-size:7px;
				}
			}
			@supports (-webkit-overflow-scrolling: touch) {
				  /* CSS specific to iOS devices */ 

				  h6 {

					left:-2vw;
					&.account-text {
						left:-4vw;
					}
				  }
			}
		}
	}
	.mobBtn .v-btn {
		padding:3px;
		font-size:24px;
		background:#fff;
		i {color:#a64e4e;}
	}
}
.main {
	@padding-top: @headerHeight;
	justify-content:flex-start;
	
//#background:url('/public/img/bg.png');
	z-index:2;
	//background: url('https://www.designbolts.com/wp-content/uploads/2012/12/White-Gradient-Squares-Seamless-Patterns-For-Website-Backgrounds.jpg');
}

.page {
	min-height:60vh;
	flex-wrap: nowrap;
	width:100%;
	justify-content: flex-start;
	box-shadow:0px 1px 10px rgba(206, 34, 42, 0.6);
	margin:0 auto;
	&>div {
		width: 100%;
		max-width: 1024px;
		margin:0 auto;
		align-items:flex-start;
		overflow-y:auto;
		overflow-x: hidden;
		padding-bottom: @footerHeight;
	}
}

#footer {
	//height:@footerHeight;
	bottom:-2px;
	left:0;
	width:100vw;
	background:hsla(0,0%,100%,1);
	//background: url('/public/img/bg-pattern.jpg');
	line-height:25px;
	font-size:14px;
	padding:10px;
	z-index:9;
	box-shadow:0px -1px 10px fade(@rosso,60%);
	text-align:center;
	p {margin:0;}

}
#srcBar {
	color:#111;width:200px;padding:7px;overflow:hidden;background:#fff;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	font-weight:bold;
	letter-spacing: 1px;
}
.srcMobile {
	background:#FFF;
	height:65px;
	#srcBar {
		border-radius:5px;
		height: 80px;
		margin:3px auto;
		padding:10px;
	}
}
.main.noheader { height:  ~"calc(100vh - " (@footerHeight) ~")";}
.qty input {text-align: center;}

.menu.flexanim-enter, .menu.flexanim-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0;
}
.menu {
	
	transition: height .5s;
	overflow:hidden;
	justify-content: stretch;
	align-items: flex-start;
	height:300px;
	z-index:19;
	flex-wrap:wrap;
	margin:0 auto;
	background:linear-gradient(to bottom , darken(@rosso,5%) 0%, @rosso 50%, darken(@rosso,5%) 100%);
//	background-image:url('/public/img/60-lines.png');
//	background-repeat:repeat;
	a {		
		color:#111;
		justify-content:flex-start;
		padding-left:30%;
		display: flex;
		margin: 8px;
		cursor:pointer;
		background:#dedede;

		&.router-link-active ,&:hover {
			background : hsla(5, 41%, 96%, 1);
		}
		border-radius:10px;
		text-align:left;
		padding: 12px;

		width:auto;
		min-height:30px;
		&::after {
			margin:0 0 0 8px;
			content:"\FB0F";
			font:normal normal normal 24px/1 "Material Design Icons"
		}
	}
	@media @mobile {
		position:absolute;
		//background: linear-gradient(to bottom,  hsl(0, 0%, 96%),hsl(0, 0%, 88%) 57%,hsl(0, 0%, 96%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
		top:0;
		left:0;
		width:100vw;
		height:100vh;
		z-index:9999;
		flex-wrap:nowrap;
		&>div {border-bottom: #a64e4e50 1px solid;}
		flex-direction:column;
	}
	
}
.page .v-card {
	@media @mobile {
		padding:3px;
	}
}
.srcMobile .v-input {
	margin:0;padding:0;
	.v-input__append-inner {align-self:center;}
}
.sub-footer {
	
	bottom:0px;
	padding:40px 15px 35px 15px;
	min-height:160px;
	width:100%;
	z-index:1;
	align-items:stretch;
	justify-content:space-between;
	.v-btn__content {
		width:100%;
	}
	&>* {
		padding:0 10px;
		flex:1;
		font-weight:bold;
		justify-content:space-between;
	}
	&.fc {
		&>* {
			margin:12px auto;
			width:100%;
		}
	}
	a {color:#111;}
	h3 {
		white-space:normal;
	}
}

#menu-list {
	#menuBtn {
		@media @mobile {
			order:9;
		}
	}
	.v-badge__badge {
		transform:skewX(@angle);
	}
	.account-box{ 
		position:relative;
				.v-badge {
	
						top:25%;
						
						right: 100%;
						position:absolute;
					}
	}
			
}
</style>

<style lang="stylus">
.v-application p {margin-bottom:0;}
#menu-list 
	.v-btn__content
		height 100%;
.menu-footer
	margin auto 0 0 0
	background #333
	
	width 100%
	
.srcMobile .v-text-field .v-input__slot
	max-width 500px
	margin 0 auto
#assistenzaWapp {
	color:#000;
	img {
		height:60px;
		margin-right:10px;
	}
}
</style>
