<!DOCTYPE html>
<html>
  <head>

    {{{ meta.inject().title.text() }}}
    {{{ meta.inject().meta.text() }}}
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel="apple-touch-icon" sizes="76x76" href="/public/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/fav/icon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/fav/icon-16x16.png">
    <link rel="mask-icon" href="/public/fav/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.8.95/css/materialdesignicons.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700|Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.min.js" async defer></script>
    <script src="https://browser.sentry-cdn.com/5.5.0/bundle.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      if (location.hostname.split('.').length==2)
        Sentry.init({ dsn: 'https://08b1453a81504ae3af755be46bec722f@sentry.io/1507502' });
    </script>
    {{{ meta.inject().style.text() }}}
  </head>
  <body>
    <!--vue-ssr-outlet-->
  </body>

</html>
