<template>
		<div class="f fc scroll" >

			
			<router-link v-if="_isMounted&&usr && usr.admin" to="/admin" class="fw f">
				<v-btn class="adminBtn primary"><i class="mdi mdi-lock"></i> Amministrazione</v-btn>
			</router-link>
			<div class="usr fw">


				<v-card width="100%">
					
					<v-toolbar width="100%"><v-toolbar-title>Benvenuto {{usr.name}}</v-toolbar-title></v-toolbar>

					<template v-if="$vuetify.breakpoint.xs" >
					<v-toolbar class="fw">
						<v-toolbar-title class="fw">
							<router-link class="fw f toCart" to="/cart">
							<i class="mdi mdi-cart f"></i> <b>Carrello</b> <i class="badge f">{{cartQty}}</i><v-spacer/><i class="mdi mdi-chevron-right-box"></i>
							</router-link>
						</v-toolbar-title>
					
					</v-toolbar>

					<v-toolbar>
						<v-toolbar-title class="fw">
							<router-link class="fw f toCart" to="/wishlist">
							<i class="mdi mdi-star f"></i> <b>Preferiti</b> <v-spacer/><i class="mdi mdi-chevron-right-box"></i>
							</router-link>
						</v-toolbar-title>
					</v-toolbar>
					</template>
					
				<v-expansion-panels v-model="panelN">
					<v-expansion-panel>
						<v-expansion-panel-header><h4>I tuoi ordini</h4></v-expansion-panel-header>
						<v-expansion-panel-content>
							<div class="f" v-if="!usr.orders || !usr.orders.length">
									Non hai ancora effettuato un ordine, una volta completato potrai visionarlo qui.
							</div>
							<div v-else class="f fc fullw ordini">
								<router-link class="f" v-for="o in usr.orders" :key="o._id"  :to="'/account/order/'+o._id">
									<p>#{{o._id}}</p> 
									<p class="stato" :style="{background:bgColor(o.stato)}"> {{o.stato}} </p>
									<i class="mdi mdi-chevron-right-box"/>
								</router-link>
							</div>
						</v-expansion-panel-content>
					</v-expansion-panel>
					<v-expansion-panel>
						<v-expansion-panel-header><h4>I tuoi indirizzi</h4></v-expansion-panel-header>
						<v-expansion-panel-content class="addresses">
						
						
						<div class="f address" v-for="(a,nn) in addresses" :style="[{animationDelay:'.'+nn+'00s'}]" :key="a._id" @click="selectedAddress=a">
							
							<p style="font-weight:bold;margin-bottom:0;margin-left:15px;">{{a.name}}</p>
							<p class="ma-0 fw">{{a.line1}} ,{{a.city}} , {{a.postal_code}}</p>
							<img class="flag-icon" :src="'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/flags/1x1/'+a.country.toLowerCase()+'.svg'" />
							<v-btn icon ><v-icon>edit</v-icon></v-btn>
						</div>
						
						<v-btn class="new" @click="selectedAddress=newAddress" ><v-icon>add</v-icon> <p>Aggiungi un nuovo indirizzo</p></v-btn>
					</v-expansion-panel-content>
					</v-expansion-panel>
				
								
					<v-expansion-panel>
						<v-expansion-panel-header class="f fw"><h4>I tuoi metodi di pagamento</h4>
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<metodi-di-pagamento/>
						</v-expansion-panel-content>
					</v-expansion-panel>
					<v-expansion-panel>
						<v-expansion-panel-header class="f fw"><h4>I tuoi dati</h4>
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<account-data/>
						</v-expansion-panel-content>
					</v-expansion-panel>
			    </v-expansion-panels>
				<v-divider/>
				
				<v-card-actions>
					<v-spacer/>
					<div id="logout">
						<v-btn color="primary" @click="logout()">LOG OUT {{usr.name}}</v-btn>
					</div>
					<v-spacer/>
				</v-card-actions>
				</v-card>
			</div>
			
			<div v-if="showAddressDialog">
			<v-dialog v-model="showAddressDialog" class="address-dialog" max-width="600">
					<v-card>
						<v-toolbar>{{selectedAddress._id=="new"?'Nuovo indirizzo':"Modifica indirizzo"}}
							<v-spacer></v-spacer>
							<v-btn text @click="selectedAddress=0"><v-icon>close</v-icon></v-btn>
						</v-toolbar>
					<v-card-text class="address-card">
						<v-text-field v-model="selectedAddress.name" label="Nominativo"></v-text-field>
						<v-text-field v-model="selectedAddress.line1" label="Indirizzo" hint="Indirizzo e numero civico"></v-text-field>
						<v-text-field v-model="selectedAddress.line2" label="Altre informazioni indirizzo" hint="Interno, scala o altre informazioni"></v-text-field>
						<v-text-field v-model="selectedAddress.city" label="Comune"></v-text-field>
						<v-text-field v-model="selectedAddress.state" label="Provincia"></v-text-field>
						<v-text-field v-model="selectedAddress.postal_code" label="Cap" type="tel"></v-text-field>
						
						<vue-tel-input v-model="selectedAddress.phone" label="Recapito telefonico"></vue-tel-input>

						<div class="zone f">
							<img class="flag-icon" :src="'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/flags/4x3/'+selectedAddress.country.toLowerCase()+'.svg'" />
							<div class="myselect f">
							<select @change="test($event.target.value);selectedAddress.country = ($event.target.value.toLowerCase())" :value="selectedAddress.country.toUpperCase()">
										<option v-for="s in stati" :key="s.name" :value="s.code"> {{s.name}}</option>
							</select>	
							<i class="mdi mdi-icon mdi-chevron-down"></i>
						</div>

						</div>
					</v-card-text>
					<v-card-actions>

						<v-btn v-if="selectedAddress&&selectedAddress._id!=newAddress._id" @click="deleteIndirizzo()" ><i class="mdi mdi-delete deleteicon"></i></v-btn>
						<v-spacer></v-spacer>
							<v-btn class="primary" :disabled="!newAddressOk" @click="salvaIndirizzo()">
								<i class="mdi mdi-icon mdi-loading rotate" v-if="selectedAddress.loading"></i>
								<span v-else>SALVA INDIRIZZO</span>
							</v-btn>
					</v-card-actions>
					</v-card>
			</v-dialog>
			</div>
		</div>
</template>
<script>
import {get} from 'lodash'
import {mapState,mapGetters} from 'vuex';
import {regioni} from '../store/utils/regioni.json'
import stati from '../store/utils/stati.json'

import metodiDiPagamento from '../components/metodiDiPagamento/metodiDiPagamento'
export default {
	name: "account",
	components:{ metodiDiPagamento },
	computed:{
		...mapState(['usr']),
		...mapGetters(['cartQty','addresses']),
		showAddressDialog:{
			get(){return !!this.selectedAddress},
			set(v){if (!v)this.selectedAddress=v}
		},
		showPaymentDialog:{
			get(){return !!this.selectedPayment},
			set(v){if (!v)this.selectedPayment=v}
		},
		
		newAddressOk(){
			return Object.keys(this.selectedAddress).filter(k=>!(['loading','state','line2']).includes(k)).every(k=>this.selectedAddress[k])
			&& this.selectedAddress.postal_code.length>4
		},

	},
	data() {
		return {
			selectedAddress:0,
			selectedPayment:0,
			panelN:0,

			stati,
			regioni,
			newAddress:{
				_id:"new",
				line1:"",
				line2:"",
				city:"",
				country:"IT",
				state:"",
				postal_code:"",
				phone:'+39',
				loading:false
			},
			newPayment:{
				_id: "new"
			}
		}
	},
	methods:{
		salvaIndirizzo(){
			if (this.selectedAddress.loading) return;
			this.selectedAddress.loading=true;
			this.$socket.emit('salvaIndirizzo',this.selectedAddress,(err,data)=>{
				this.selectedAddress.loading=false;
				if (err) {
					return;
				}
				this.showAddressDialog=false;
				this.$store.commit('ASSIGN_USR',{addresses:data})
			})
		},
		test(e){
			console.log('eee',e)
		},
		selectAddress(a){
			this.selectedAddress = {_id:a._id,...a.str}
		},
		deleteIndirizzo(){
			this.$socket.emit('deleteIndirizzo',this.selectedAddress._id,(err,data)=>{
				if (err) {
					return;
				}
				this.showAddressDialog=false;
				this.$store.commit('ASSIGN_USR',{addresses:data.addresses})
			})
		},
		logout(){
			this.$store.commit('logout')
			this.$socket.emit('tokenLogin')
			this.$socket.emit('logout');
			this.$router.push('/');
		},
		bgColor(stato){
			let i = this.$store.state.siteOptions.statiOrdine.indexOf(stato);

			return this.$store.state.siteOptions.coloriStatiOrdine[String(i)]
		}
	},
	sockets:{
		
	},
	beforeMount(){

		if (!this.$authToken.get()._id || this.$authToken.get()._id.startsWith('guest'))
			{
				this.$router.push({path:'/login'});
				//throw new Error('non logged')
			}
		

		this.$socket.emit('getOrders',{
				usrId:this.$authToken.get()._id
			},(err,data)=>{
				if (err) {
					return;
				}
				this.$store.commit('ASSIGN_USR',{orders:data})
			})
	},
	async mounted() {
		await new Promise(r=>setTimeout(r,100));
		this.$forceUpdate();
	},
/*	metaInfo() {
    return {
      title: 'TubeMp3.co - convert and download your youtube video to mp3!',
      meta: [
        { vmid: 'description', name: 'description', content: 'Convert and download free hight quality mp3 easy as 1 2 3 without registration' }
      ]
    }
  }*/

}
</script>
<style scoped lang="less">

@theme: "../less/themes/default";
@import "@{theme}";
.addresses {
	transition:height .3s ease-in-out;
	height: auto;
	overflow: hidden;
	i {font-size: 22px;vertical-align:2px;}
	&.closed {
		height:0;
		opacity: 0;;
	}		
}
.stato {
	color:#111;font-weight:bold;text-transform:capitalize;
	padding:5px 10px;
}
.address {
	border-radius:10px;
	height: 70px;
	border:1px solid #ccc;
	margin-bottom: 20px;
	width: 100%;
	padding: 0 30px;
	@media @mobile  {padding:0 10px;}
	&:hover{background: #dedede; }
	cursor: pointer;
	p {margin-right: 30px;}

	justify-content: flex-start;

}
.h4 {
	font-size:16px;
	font-weight: 600;
}
.new {
	margin:20px auto;
	display: block;
}
.address-card {
		padding:30px 30px 10px 30px;
}
.zone {
	margin:15px 0;
	justify-content: flex-start;
	&>:nth-child(2n) {
		background:#ccc;
	}
	}
.flag-icon {
	margin-right: 15px;
	width:64px;
	height: 25px;
}
.myselect select {width:200px;}
.myselect {margin-right:20px;}
.regioni {align-self: stretch;justify-content: space-around;width: 100%;}
.myselect,.regioni {
	i {transform: translateX(-30px)}
}
.rotate {animation: spin .7s linear infinite;}
.adminBtn {
	margin:50px auto;

}
.usr{
	.v-card {
		padding:12px;
		border-radius:7px;
	}
}
.ordini {
	&>.f:hover {
		background: fade(@rosso,15%);
	}
}

.deleteicon {
	font-size:26px;
	color: @rosso;
}
</style>
<style lang="stylus" scoped>
.ordini
	&>.f 
		margin 5px 0
		padding 8px
		width 100%
		background #f3f3f3
		justify-content flex-start
		p
			margin-right 15px
		i
			font-size 22px
			margin 0 10px 0 auto

</style>
