<template>
		<div class="f fc scroll" id="admin" >
				<navigation :path="navigationPaths"></navigation>
				<div class="home f fc" v-if="!path[1]">
					<div class="stat f ja">
							<router-link class="f fc" :to="'/admin/ordini/?filters='+$store.state.siteOptions.statiOrdine[1]">
									<b style="font-size:24px">{{toDoOrders}}</b>
									<span>Ordini da elaborare</span>
							</router-link>
							<router-link to="#" class="f fc" v-for="a in (['NUOVI CLIENTI','ISCRITTI ALLA NEWSLETTER'])" :key="a">
									<p style="font-size:24px">0</p>
									<span>{{a}}</span>
							</router-link >
					</div>
					<div class="f links">
					<router-link class="f fc" to="/admin/settings">
						<i class="mdi mdi-icon mdi-settings"></i>
						IMPOSTAZIONI GENERALI
					</router-link>
					<router-link class="f fc" to="/admin/ordini">
						<i class="mdi mdi-icon mdi-clipboard-text-outline"></i>
						ORDINI
					</router-link>
					<router-link class="f fc" to="/admin/pagine">
						<i class="mdi mdi-icon mdi-file-document-box-multiple-outline"></i>
						PAGINE
					</router-link>
					<router-link class="f fc" to="/admin/categorie">
						<i class="mdi mdi-icon mdi-animation-outline"></i>
						CATEGORIE
					</router-link>
					<router-link class="f fc" to="/admin/prodotti">
						<i class="mdi mdi-icon mdi-car-sports"></i>
						PRODOTTI
					</router-link>
					<router-link class="f fc" to="/admin/spedizioni">
						<i class="mdi mdi-icon mdi-truck"></i>
						SPEDIZIONI
					</router-link>
					<router-link class="f fc" to="/admin/clienti">
						<i class="mdi mdi-icon mdi-account-multiple"></i>
						CLIENTI
					</router-link>
					<router-link class="f fc" to="/admin/gruppi">
						<i class="mdi mdi-icon mdi-account-supervisor-circle"></i>
						GRUPPI
					</router-link>
					<router-link class="f fc" to="/admin/pagamenti">
						<i class="mdi mdi-icon mdi-credit-card"></i>
						PAGAMENTI
					</router-link>
					<router-link class="f fc" to="/admin/banner">
						<i class="mdi mdi-icon mdi-monitor"></i>
						BANNER
					</router-link>
					<router-link class="f fc" to="/admin/alerts">
						<i class="mdi mdi-icon mdi-monitor"></i>
						MESSAGGI IN HOMEPAGE
					</router-link>
				</div>
				</div>
				<component :is="path[1]"></component>
		</div>
</template>
<script>
import {get} from 'lodash'
import {mapState,mapGetters} from 'vuex';
import navigation from '../components/navigation'
import pagine from '../components/admin/pagine/pagine'
import settings from '../components/admin/home/settings'
import clienti from '../components/admin/clienti/clienti'
import ordini from '../components/admin/clienti/orders'
import gruppi from '../components/admin/gruppi/gruppi'
import banner from '../components/admin/home/banner'
import alerts from '../components/admin/home/alerts'
import categorie from '../components/admin/categorie/categorie'
import spedizioni from '../components/admin/spedizioni/spedizioni'
import pagamenti from '../components/admin/pagamenti/pagamenti'
import prodotti from '../components/admin/prodotti/prodotti'

export default {
	name: "admin",
	components:{
		navigation,pagine,clienti,gruppi,categorie,banner,spedizioni,pagamenti,prodotti,alerts,settings,ordini
	},
	computed:{
			...mapGetters(['isConnected']),
			...mapState(['path']),
			navigationPaths(){
				let o= [{
					text:'amministrazione',
					url:'/admin'
				}];
				if (this.path[1])
					o.push({
						text:this.path[1],
						url:'/admin/'+this.path[1]
					})
				return o;
			}
	},
	data() {
		return {
			toDoOrders:'...'		
		}
	},
	methods:{
		async getToDoOrders(){
			this.$socket.emit('getOrders',{todo:1},(err,data)=>{
				if (err){
					return;
				}
				this.toDoOrders = data.length
			})
		}
	},
	sockets:{


	},
	beforeRouteEnter(to,from,next) {
		next(vm=>{
			
			if (!get(vm.$socket,'authToken.admin'))
				vm.$router.push('/');

		})
	},
	mounted(){
		this.getToDoOrders()
	}

}
</script>
<style scoped lang="less">
@theme: "../less/themes/dev";
@import "@{theme}";

	.home {
		width: 100%;
		a {
			height: 130px;
			width: 130px;
			margin:10px;
			background: #eee;
			color:#111;
			text-align:center;
			i {font-size:36px;}
		}
	}

.stat {
	width:80%;
	text-align: center;
	&>a { 
		font-size:14px;
		background:#eee;
		border:2px solid #aaa;
		height: 140px;
		width:140px;

	}
}
.links {
	align-self: flex-start;
	flex-wrap:wrap;
}
</style>
<style>
