<template>
		<div id="cart" >
			<div v-if="mounted&&!usr.name" class="no-logged">
				<div class="hiddenPrice">
						<v-btn class="mr-2" to="/account">ACCEDI</v-btn> <span>per proseguire con l'ordine</span>
				</div>
			</div>
			<v-card width="100%">
					<div class="stepIndicator">
						<button v-for="n in [1,2,3,4]" :key="n" @click="step=n" :disabled="n>step" :class="{ok:!(n>step)}"/>
					</div>
					<v-card-title>
						<v-toolbar>
							
								<v-toolbar-title>	<v-btn icon  @click="stepBack()"><v-icon>chevron_left</v-icon></v-btn> {{cartLabel.title}}</v-toolbar-title>
								<v-spacer></v-spacer>
								<span :class="{invisible:$vuetify.breakpoint.xs}">Carrello</span>
								
						</v-toolbar>
					</v-card-title>
					<v-card-text v-if="cart.items.length">
						<transition :name="'slide-'+[toLeft?'left':'right']" mode="out-in">
						
						<cart1 v-if="step==1" :key="1"/>
						<cart2 v-if="step==2" :key="2"/>
						<cart3 v-if="step==3" :key="3"/>
						
						<step4 v-if="step==4" :key="4"/>
						
						</transition>
						<div class="f actions">
							<div class="f" v-if="!$vuetify.breakpoint.xs"><v-btn class="back" @click="stepBack()" :class="{invisible:step<2}" style="width:60px;overflow:hidden;" >
								<i class="mdi mdi-chevron-left"></i></v-btn>
							</div>
							<div class="f t" v-if="showPrice">Totale: <money disabled :value="tot" /></div>

							<div class="f fc">
								<v-alert type="error" v-if="nextOk.msg" >{{nextOk.msg}}</v-alert>

								<v-btn id="next" @click="nextStep()" v-if="nextOk" :disabled="!nextOk.ok">{{cartLabel.next}} <i class="mdi mdi-chevron-right-box"></i></v-btn>

								</div>
						</div>
					</v-card-text>
					<v-card-text v-else class="f">

						<template v-if="loading && serverCart.items  && serverCart.items.length">
							<loading-icon></loading-icon>
						</template>
						<p v-else>
						Il carrello &egrave; vuoto <v-btn to="/catalogo">Sfoglia il catalogo</v-btn>
						</p>
					</v-card-text>
			</v-card>
		<div class="invisible">{{serverCart.test}}</div>
		</div>
</template>
<script>
import {friendlyUrl} from '../store/utils'
import {uniq,zipObject,pick,debounce} from 'lodash'
import {mapState,mapGetters} from 'vuex';
import counter from '../components/counter'
import spinner from '../components/svgSpinner'
import loadingIcon from '../components/loading'
import cart1 from './cart/cart1'
import cart2 from './cart/cart2'
import cart3 from './cart/cart3'
import step4 from  '../components/metodiDiPagamento/step4'

export default {
	name: "cart",
	components:{
		loadingIcon,counter,cart3,step4,cart1,cart2,spinner
	},
	computed:{
		...mapState(['usr','cart','screen','serverCart','path']),
		...mapGetters(['tot','metodoDiSpedizione','showPrice']),
		
		nextOk(){
			
			switch(this.step){
				case 1:return {ok:this.serverCart.totali && this.serverCart.totali.articoli>0};
				case 2:return (()=>{
					let ok=!!(this.serverCart.spedizione&&this.serverCart.indirizzo);
					if (ok) return {ok}
					let msg =  	(!this.serverCart.indirizzo && "devi selezionare un indirizzo di spedizione" )
								||(!this.metodoDiSpedizione && "devi selezionare un metodo di spedizione" )
					return {ok,msg}
				})();
				case 3:return {ok:!!(this.serverCart.pagamento)};
				case 4:return false;
			}
		},
		cartLabel(){
			switch(this.step){
				case 1:return {title:"Rivedi i tuoi articoli",next:"spedizione"};
				case 2:return {title:"Seleziona l'indirizzo di spedizione",next:"pagamento"};
				case 3:return {title:"Seleziona il metodo di pagamento",next:"completa ordine"};
				case 4:return {title:"Conferma ordine",next:"ORDINA"};
				default:{return {}}
			}
		},

	},
	data() {
		return {
			toLeft:false,
			step:1,
			mounted:false,
			loading:true,
		}
	},
	methods:{
		friendlyUrl,
		nextStep(){
				if (this.step<4)
					this.$router.push('/cart/'+(this.step+1));
		},
		stepBack(){
			if (this.step>1)
				this.$router.push('/cart/'+(this.step-1));
			else history.go(-1);
		},
		
	},
	sockets:{
	},
	created(){
		if (this.step!=1)
			this.$router.push('/cart/1');
	},
	mounted() {
		this.mounted= true;
		this.$forceUpdate()
	
	},
	watch:{
		'path.1':{
			handler:function(to){
				
				this.toLeft=(this.step>to);
				if (!to) this.step=1;
				if (to>0 && to<5) this.step=Number(to);
			},
			immediate:true
		}
	}
/*	metaInfo() {
    return {
      title: 'TubeMp3.co - convert and download your youtube video to mp3!',
      meta: [
        { vmid: 'description', name: 'description', content: 'Convert and download free hight quality mp3 easy as 1 2 3 without registration' }
      ]
    }
  }*/

}
</script>
<style scoped lang="less">
@theme: "../less/themes/default";
@import "@{theme}";
#cart {
	min-height:80vh;padding:10px 0 150px 0;
	width:95%;
	margin:0 auto;
	@media @mobile {
		width:~"calc(100vw - 26px)";
		margin:0 auto;
	}
}
.stepIndicator {
	width:100%;
	display:flex;
	justify-content: space-around;
	margin:15px;
	button {
		display: block;
		background: #ccc;
		border-radius:12px;
		width:22%;
		height: 6px;
		&.ok {
			background:@color1;
		}
	}
}
.no-logged {
	text-align:center;
	width: 460px;;
	font-size:16px;
	margin:0 auto 15px auto;
	min-width: 300px;
	@media @mobile {
		width:100%;
		.v-toolbar__content {height:auto}
	}
}
#next {
	margin-top:20px;
	margin-bottom:20px;
	@media @mobile {
	margin-top:30px;
	margin-bottom:30px;
	}
}
.v-card{
	padding: 0px;
	.v-card__text {
		padding-top:0;
	}
}

.prezzo-totale {
	padding:5px 0;
	margin-left:10px;
	background:#fff;
	color:#000;
	border-radius:50px;
	overflow: hidden;
}
.bottom {
	align-items: stretch;
	.tot {
		justify-content: space-between;
		&>div {margin:10px 0;}
	}
}
.actions {
	margin-top:15px;
	justify-content: space-between;
	&>div {
		width: 200px;
	}
	&>.t {
		width:auto;
		input {font-weight:bold;color:#111;width:130px;}
		font-size:18px;
		border-top:1px solid #ccc;
		width: 260px;
		text-align: center;
		padding:10px 0;
	}
		i {font-size:20px;}
	@media @mobile {
		&{
			flex-direction: column;
		}
		.back {width:60px;}
	}
}
.msg {background:hsla(0,80%,40%,.8);color:#fff;padding:10px 0;text-align:center;margin-bottom:20px;}

</style>
<style lang="less">
.v-alert dismissible>div {
	display: flex;
	width:100%;
	box-sizing:content-box;
	align-items:center;
}

</style>
<style lang="stylus" scoped>

</style>
