<template>
		<div id="categorie" class="f fc scroll scrolly" :class="{mob:$vuetify.clientWidth < 721}">
			<navigation :path="navigationPaths"></navigation>
			
			<transition-group name="fade" mode="out-in"  style="margin:0 auto;width:100%">
				<div key="loading" v-if="(!c || !c.categorie.length) && (!prodottiInCategoria ||!prodottiInCategoria.length) && !prodotti.length" class="fullw f fc">
					<loading/>
					caricamento
				</div>
				<div v-if="c && c.contiene=='categorie'" class="f list fullw" key="list">
					<transition-group name="fade" mode="out-in" id="anteprima-categorie" class="f ja fullw" key="categorie">
						<li v-for="ca of c.categorie" :key="ca._id" >
							<router-link :to="'/catalogo/'+friendlyUrl(ca.name)" class="f fc">
								<span class="f thumb" style="height:180px" v-if="ca.img && ca.img[0]&& ca.img[0].name">
									<img v-img :alt="ca.img[0].desc || ca.name" :title="ca.img[0].desc || ca.name" :src="$store.state.siteOptions.uploadPath+'thumbs/'+ca.img[0].name"/>
								</span>
									<i v-if="ca.prodotti && ca.prodotti.length">{{ca.prodotti.length}} prodotti</i>
									<h3>{{ca.name}}</h3>
							</router-link>
						</li>
						</transition-group>
				</div>
				<div v-if="prodottiInCategoria" key="prodotti" class="f fc path2">
	
					<div class="f fullw " id="filtri" :class="{fc:$vuetify.breakpoint.width<900}">
						<v-card >
						<v-toolbar @click="filtersOpen=!filtersOpen" ><v-toolbar-title>Filtri</v-toolbar-title>
							<v-spacer/><span v-if="filtriAttivi>0">{{filtriAttivi}}
								<template v-if="filtriAttivi==1">filtro attivo</template>
								<template v-else>filtri attivi</template></span>
							<v-spacer/><i class="mdi" :class="[ filtersOpen ? 'mdi-chevron-up-circle' :'mdi-chevron-down-circle']" ></i>
						</v-toolbar>
						<transition name="fade">
						<v-card-text v-if="filtersOpen" class="f fc">
								<li class="f"><v-checkbox v-model="filtri.soloDisponibili"/> Solo disponibili</li>
								<li class="f"><v-checkbox v-model="filtri.inSconto"/> In sconto</li>
						</v-card-text>
						</transition>
						</v-card>

						<v-card  >
						<v-toolbar @click="sortOpen=!sortOpen" ><v-toolbar-title>Ordina per</v-toolbar-title>
							<v-spacer/><span>{{filtri.sort}}</span>
							<v-spacer/><i class="mdi" :class="[ sortOpen ? 'mdi-chevron-up-circle' :'mdi-chevron-down-circle']" ></i>
						</v-toolbar>
						<transition name="fade">
						<v-card-text v-if="sortOpen" class="f fc collapsable">
							<v-select v-model="filtri.sort" :items="filtri.sortOptions"></v-select>
						</v-card-text>
						</transition>
						</v-card>
					</div>
					<div id="lista-prodotti" class="f fullw">
						<template v-if="prodottiInCategoria.length">
							<anteprima-prodotto v-for="(p,n) in prodottiInCategoria" :p="p" :n="n"  :key="p._id"></anteprima-prodotto>
						</template>
						<div class="fullw f fc" v-else>
							Nessun prodotto da visualizzare
						</div>
						
					</div>
				</div>
			</transition-group>
		</div>
</template>
<script>
import {friendlyUrl} from '../store/utils'
import anteprimaProdotto from '../components/anteprimaProdotto'
import loading from '../components/loading'
import navigation from '../components/navigation'
import {mapState,mapGetters} from 'vuex';
import {debounce,zipObject,get,set,clone} from 'lodash'
import galleriaProdotti from '../components/galleriaProdotti'
export default {
	name: "categorie",
	components:{
		anteprimaProdotto,navigation,loading,galleriaProdotti
	},
	computed:{
		//...mapGetters([]),
		...mapState(['path']),
		c(){
			try {
				this.categorie;
				let c =  this.path[1] ? this.categorie.find(c=>c.friendlyUrl==this.path[1]) : {
					categorie : this.categorie.filter(c=>!c.parent_id&&c.enabled).map(c=>c._id),
					contiene:'categorie'
				};
				if (!c) return;
				c = clone(c	)
				if (c.categorie) c.categorie = c.categorie.map(id=>this.categorie.find(cat=>cat._id==id)).filter(cc=>cc && cc.enabled);
				return c
			}catch(e){console.log('e',e);return;}

		},
		prodottiInCategoria(){
			let p= this.c  && this.c.prodotti && this.c.prodotti.map(p=>({...this.prodotti[String(p)],_id:String(p),}));
			if (!p || !p.length) return;
			p = [...p.filter(p=>p.name)];
			if (this.filtri.soloDisponibili) p = p.filter(pr=>pr.quantitaDisponibile)
			if (this.filtri.inSconto) p = p.filter(pr=>pr.scontato)
			switch(this.filtri.sortOptions.indexOf(this.filtri.sort)) {
				case 1 : { p=p.sort((a,b)=>a.price-b.price); break;}
			}; 
			
			return p;
		},
	navigationPaths(){
			let o = this.path[1]?[{
				text:'Catalogo',
				url:'/catalogo'
			}]:[];
			try{
			if (!this.path || !this.path[1] || !this.categorie || !this.categorie.length) return o;
			let a = []
			let f = friendlyUrl => {
				let id = this.categorie.find(c=>c.friendlyUrl==friendlyUrl);
				if (!id || !id.parent_id) return;
				let parent = this.categorie.find(c=>c._id==id.parent_id);
				if (parent && parent._id != id._id){
					a.push(parent.friendlyUrl);
					f(parent.friendlyUrl)
				}
			}
			if (this.path[1]){
				f(this.path[1]);
				a.push(this.path[1]);
			}
			a = a.filter(a=>a)
			a = a.map(friendlyUrl=>{
				let text =this.categorie.find(c=>c.friendlyUrl==friendlyUrl);
				if (!text)return;
				text = text.name;
				return {
					text,
					url:'/catalogo/'+friendlyUrl+'/'+this.friendlyUrl(text)
				};
			});
			return o.concat(a) ;
			}catch(e){return o}
		},
		filtriAttivi(){
			return (['soloDisponibili','inSconto']).reduce((arr,a)=> arr+= this.filtri[a] ? 1:0 ,0  )
		}
	},
	data() {
		return {
			listaCategorieClosed:false,
			sortOpen:false,
			filtersOpen:false,
			categorie:[],
			prodotti:[],
			meta:{
				defaultTitle:'Catalogo',
				title:'Catalogo',
				meta:[]
			},
			filtri : {
				soloDisponibili:false,
				inSconto:false,
				sort:'Più popolari',
				sortOptions:['Più popolari','Prezzo']
			}
		}
	},
	methods:{
		friendlyUrl,
		getData: debounce(async function(){
				let data = await this.$root.getProdotti();
				this.categorie=data.categorie;
				this.prodotti=data.prodotti;
				this.$forceUpdate();
			},300)
	},
	sockets:{
		
	},
	created(){
		this.categorie = this.$ssrContext && this.$ssrContext.categorie || [];
		this.prodotti = this.$ssrContext && this.$ssrContext.prodotti || [];

	},
	mounted() {
		this.$root.$on('categorieUpdated',this.getData)
		this.$root.$on('prodottiUpdated',this.getData)
		this.getData();
	},
	watch:{
		/* "$vuetify.breakpoint.width":{
			immediate:true,
			handler:function(n,o){
				//this.filtersOpen = !(n<721);
				this.sortOpen = !(n<721);
			}
		}, */

		"path.1":{
			immediate:true,
			handler:function(n,o){
				setTimeout(()=>{
			 		if (typeof document!='undefined')
						document.querySelector('#categorie').scrollTop=0;
				},400)
			

				this.meta.title = this.c ? ( this.c.desc || this.c.name || this.meta.defaultTitle ) : this.meta.defaultTitle;
			}
		}
	},
	metaInfo() {
		return this.meta
	}
}
</script>
<style scoped lang="less">
@theme: "../less/themes/dev";
@import "@{theme}";
#categorie {
	justify-content: flex-start;
	height: 100%;
	.path2 {
		padding: 0 15px;
	}
	&.mob {
		.path2 , #anteprima-categorie {
			flex-direction:column;
			align-items: center;
			justify-content: center;
			padding: 5px;
			#lista-prodotti {
				padding:20px 0;
			}
		}
	}
}
.list {
	align-items:flex-start;
	justify-content: space-around;
}
#anteprima-categorie {

	padding: 10px  20px;
	flex-wrap: wrap;
	width: 100%;

	li {list-style: none;
	margin: 20px;}
	a{
		i {
			color:#777;
			font-size:14px;
			font-style: italic;
		}
		
		border-radius: 8px;
		color:#fff;
		font-weight: bold;
		width: 250px;
			background: linear-gradient(to right,  hsla(0, 0%, 5%,.1),hsla(0, 0%, 55%,.4) 50%,hsla(0, 0%, 5%,.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		text-align: center;
		min-height:150px;
		overflow: hidden;
		box-shadow:2px 2px 9px #11111155;
		border-bottom:1px solid #777;
		border:1px solid #11111133;
		span {width: 100%}
		.thumb {padding:10px;align-items:center;justify-content: center;}
		img {
			max-width: 150px;
			max-height: 150px;
			min-height:80px;
		}
		h3 {
			padding: 7px;
			background: linear-gradient(to right,  hsl(0, 0%, 5%),hsl(0, 0%, 30%) 50%,hsl(0, 0%, 5%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			width: 100%;
			padding: 10px;
			font-size:16px;
		}
	}
}
#lista-categorie {
	min-width: 320px;
 	.underlined { text-decoration: underline;}
 	li {
		 list-style: square;
	 a{color:#fff}
	}
}
 #lista-prodotti {
	 justify-content: space-around;
	 height: 100%;
	 flex-wrap:wrap;
	 padding:0 5% ;
	 flex-grow: 1;
 }
 #filtri {
	 width: 100%;
	 padding: 0 20px 20px;
	 align-items:flex-start;
	 &>div {min-width:400px;margin:0 auto;}
	 .v-card__text{align-items: flex-start;}
	 .v-toolbar i {font-size:24px;}
	 span {font-size:14px;;font-weight:200;}
	 li {
		 justify-content: flex-start;
		 &>div {
			flex: 0.5;
			height: 30px;
			/* margin-top: -4px; */
			padding: 0;
			margin-top: 4px;
		 }
	 }
	 &.fc {
		flex-direction:column;
		&>div {margin:10px auto ;min-width:100%;}
	 }
	 
 }
</style>