<template>
    <div>

    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    name:"empty",
    data:()=>({

    }),
    computed: {
        //...mapState(['usr'])
    },
    mounted(){

    }
}
</script>