<template>
			
		<div id="home" class="f fc scroll" >
			<div class="fullw badge">
				<div class="stop-icon"><i @click="pause()" class="f mdi mdi-pause"/></div>
				<h1 @mouseenter="pause(true)" @mouseleave="pause()" class="text scroll scrolly" v-html="homeText"></h1>
			</div>
			<page hideTitle/>
		</div>
</template>
<script>
import page from '../views/page'
import {mapState,mapGetters} from 'vuex';

export default {
	name: "home",
	components:{
		page
	},
	computed:{
		...mapGetters(['isConnected']),
		homeText(){
			return this.$store.state.homeAlerts && this.$store.state.homeAlerts[0] && this.$store.state.homeAlerts[0].text.trim()
		}
	},
	data() {
		return {
			loadState:'',
			srclink:'',
			vEl:null,
			paused:false,
			meta:{}
		}
	},
	methods:{
		pause(){
			this.paused = !this.paused;
			this.vEl && this.vEl.velocity(!this.paused ? 'resume' : 'pause')
		},
	},
	sockets:{

	},
	async created(){

	},
	mounted() {
		this.vEl= document.querySelector('.text');
		if (this.vEl&&this.vEl.velocity)
		this.vEl.velocity({scrollTop:this.vEl.scrollHeight+'px'},{
			duration:this.vEl.scrollHeight*100,
			easing:'linear',
		}).velocity({scrollTop:'0px'},{
			duration:1000,
			easing:'linear',
		});

	},
	async metaInfo() {
    return this.meta;
  }

}
</script>
<style lang="stylus">
#home
	overflow visible
	height:100%;
	justify-content: flex-start;

.badge
	z-index 11
	height:160px;
	background-image:url('/public/img/redbanner.png');
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top -25px
	position relative
	.stop-icon
		width 100%
		z-index 999
		position absolute
		top 5vh
		i
				font-size 22px
				color #fff
				position absolute
				right 4vw
				width 25px
				border-radius 10px
				height 25px
				background #ffffff22;
	.text
		height 65%
		width 65%
		padding-top 40px
		margin 15px auto
		font-size 18px
		font-weight normal
		overflow-y scroll

</style>