<template>
		<div id="login" class="f fc scroll" >
				<transition name="slide-right" mode="out-in">
				<v-card v-if="!step" class="f fc" key="reg">
					<template v-if="$vuetify.breakpoint.xs" >
					<v-toolbar class="fw"	 >
						<v-toolbar-title class="fw">
							<router-link class="fw f justify-space-between toCart" to="/cart">
							<i class="mdi mdi-cart f"></i> <b>Carrello</b> <i class="badge f">{{cartQty}}</i><v-spacer/><i class="mdi mdi-chevron-right-box"></i>
							</router-link>
						</v-toolbar-title>
					
					</v-toolbar>

					<v-toolbar class="fw">
						<v-toolbar-title class="fw">
							<router-link class="fw f toCart" to="/wishlist">
							<i class="mdi mdi-star f"></i> <b>Preferiti</b> <v-spacer/><i class="mdi mdi-chevron-right-box"></i>
							</router-link>
						</v-toolbar-title>
					</v-toolbar>
					</template>

						<v-toolbar width="100%">
								<v-toolbar-title class="fw f justify-space-between" >
									<span>Accedi</span>
									<v-btn color="primary" to="/registrazione">Nuovo account</v-btn>
								</v-toolbar-title>
						</v-toolbar>
						<v-card-text>
						
						<div class="f fc" id="login-classico">
							<h4>Accedi con la tua email</h4>
							<form @submit.prevent="login()">
							<v-text-field @focus="foc('email')" id="loginemail" v-model="email" label="Email" />
							<v-text-field @focus="foc('password')" id="loginpassword" v-model="pwd" label="Password"  type="password"/>
							
							<v-alert dismissible :value="!!msg.txt&&!$ssrContext" :type="msg.type">{{msg.txt}}</v-alert>
							<div id="bottom" class="f ">
								<a class="pr-3" @click="$router.push({query:{step:'forgotPassword'}})">Password dimenticata ?</a>
									<v-btn type="submit" @click="login()" :ripple="true" :disabled="!enabled" class="f">
										<span v-if="!isLogging" >ACCEDI</span>
										<svg-spinner  v-else></svg-spinner>
									</v-btn>
							</div>
							</form>
						</div>
						<hr/>
						<social-login></social-login>
						<div class="fullw f fc">
							<h3>Nuovo account ? </h3>
							<router-link to="/registrazione"><v-btn color="error">REGISTRAZIONE</v-btn></router-link>
						</div>
					</v-card-text>
				</v-card>
				<v-card v-if="step=='forgotPassword'" key="forgotPassword">
					<form @submit.prevent="retrievePassword()">
						<v-toolbar>
								<v-toolbar-title>
									Recupera password
								</v-toolbar-title>
						</v-toolbar>
						<v-card-text >
							<div style="margin:10px 0;width:100%;">
								<v-alert dismissible :value="!!msg.txt&&!$ssrContext" :type="msg.type">{{msg.txt}}</v-alert>
							</div>

							<v-text-field v-if="!isLogging" label="Email di recupero" v-model="email" />
							<svg-spinner v-else/>
						</v-card-text>
						<v-card-actions>
							<v-btn @click="$router.push({query:{}})">Annulla</v-btn>
							<v-spacer/>
							<v-btn color="primary" @click="retrievePassword()">Invia</v-btn>
						</v-card-actions>
					</form>
				</v-card>
				<v-card v-if="step=='restorePassword'" key="restorePassword">
						<v-toolbar>
								<v-toolbar-title>
									Imposta una nuova password
								</v-toolbar-title>
						</v-toolbar>
						<v-card-text class="restorePassword">
								<form @submit.prevent="restorePassword()" >
									<p v-if="$route.query.email">Stai reimpostando la password per l'account associato a <b>{{$route.query.email}}</b></p>
									<Password :toggle="true" :secureLength="8" v-model="pwd" />
									<i v-if="!pwd2Match && pwd2.length>8">Le password non coincidono</i>
									<Password :class="[pwd2Match || pwd2.length<7 ? '' : 'errored']" :toggle="true" :secureLength="8" v-model="pwd2" />
								</form>
						</v-card-text>

						<v-card-actions>
							<v-spacer/>
							<v-btn  color="primary" @click="resetPassword()" :disabled="!pwd2Match">
								<svg-spinner v-if="isLogging"/>
								<template v-else>IMPOSTA</template>
							</v-btn>
							<v-spacer/>
						</v-card-actions>
				</v-card>
				</transition>
		</div>

</template>
<script>
import socialLogin from '../components/socialLogin'
import {get} from 'lodash'
import {mapState,mapGetters} from 'vuex';
import svgSpinner from '../components/svgSpinner';

import Password from 'vue-password-strength-meter'
export default {
	name: "login",
	components:{
		svgSpinner,socialLogin,Password
	},
	data() {
		return {
			isLogging:false,
			email:'',
			msg:{
				type:'success',
				txt:''
			},
			pwd:'',
			pwd2: ''
		}
	},
	computed:{
		...mapState(['usr']),
		...mapGetters(['cartQty']),
		enabled(){
			return this.email.length> 10 && this.email.lastIndexOf('.') > this.email.lastIndexOf('@') && this.pwd.length>5
		},
		step(){
			return this.$route.query && this.$route.query.step
		},
		pwd2Match(){
			return this.pwd2.length+this.pwd.length>15 && this.pwd == this.pwd2
		}
	},
	methods:{
		async login(){
			if (this.isLogging==true) return;
			this.isLogging=true;
			this.msg = {type:'success',txt:''}
			this.$socket.emit('classicLogin',{
				email:this.email,
				pwd:this.pwd,
				token:await this.$recaptcha("login")
			},(err,data)=>{
				this.isLogging=false;
				if (err){
					this.msg = {type:'error',txt:err}
					return
				};
				this.$router.push({name:'account'})
			})
		},
		foc(id){
			try{
				let coords = document.querySelector('#login'+id).getBoundingClientRect();
				document.querySelector('.main').scrollTop += coords.y-120;
			}catch(e){

			}
		},
		checkMail(){
			
		},
		async resetPassword(){
			this.isLogging=true;
			let obj = {
				code:this.$route.query.code,
				pwd:this.pwd
				};
			obj.token = await this.$recaptcha("resetPassword");
			this.$socket.emit('resetPassword',obj,(err,data)=>{
				this.isLogging=false;
				if (err){
					this.msg = {type:'error',txt:err}
					return;
				}
				this.$router.push({name:'login',params:{}})
			})
		},
		async retrievePassword(){
			this.isLogging=true;
			let obj = {email:this.email};
			obj.token = await this.$recaptcha("retrievePassword");
			this.$socket.emit('retrievePassword',obj,(err,data)=>{
				this.isLogging=false;
				if (err){
					this.msg = {type:'error',txt:err}
					return;
				}
				this.msg = {type:'success',txt:`
					Abbiamo inviato una email a ${this.email} con le istruzioni per ripristinare la password
				`}
			})
		}
	},
	sockets:{
	},
	watch:{
		'usr.name':{
			handler:function(to){
				to && this.$router.push({name:'account'});
			},
			immediate:true,
		}
	},
	mounted() {

	},
	beforeDestroy(){

},
/*	metaInfo() {
    return {
      title: 'TubeMp3.co - convert and download your youtube video to mp3!',
      meta: [
        { vmid: 'description', name: 'description', content: 'Convert and download free hight quality mp3 easy as 1 2 3 without registration' }
      ]
    }
  }*/

}
</script>
<style scoped lang="less">
@theme: "../less/themes/default";
@import "@{theme}";
#login {

	align-items: center;
	padding-bottom: 200px;
}
.v-card {
	min-width: 300px;
	max-width: 500px;
	width: 80%;
	margin:25px auto;
	#login-classico {
		padding:20px;
		width: 100%;
		h4 {color:black;}
		&>*{
			width: 100%;
		}
		#bottom {
			justify-content: space-between;
		}
	}
	.v-btn {
			border:2px solid #ccc;
			height: 46px;
			&[disabled="disabled"] {border-color:#444;}
		}
		.v-btn__content{
			height:40px;
		}
		.divider {
			margin:10px;
			width:90%;
			height:1px;
			background:#fff;
		}
}
.restorePassword {
	p {
		padding:10px;
	}
	i {color:#fff;background:@rosso;padding:3px;}
	.Password {
		max-width:auto!important;
		&.errored {
			box-shadow: 1px 1px 4px @rosso, -1px -1px 4px @rosso;
			padding:2px;
		}
		margin:15px auto;
	}
}
h3 {
	font-weight:300;
	margin:20px auto;
}
</style>