<template>
		<div id="order" class="f fc scroll" >

			<template v-if="order&&order._id">
				<template v-if="isAdmin">
					<v-card width="100%">
						<v-toolbar><v-toolbar-title>Modifica ordine</v-toolbar-title></v-toolbar>
					<v-card-text>
						<div class="fullw f fc">
							<div class="fullw f">
					 			<v-select  v-model="order.stato" :items="siteOptions.statiOrdine"
									label="Modifica stato Ordine"
								></v-select>
							</div>
						</div>
					</v-card-text>
					</v-card>
				</template>
				<h2 >Stato ordine #{{order._id}}</h2><!-- 
				<div class="f fullw" :class="{fc:$vuetify.breakpoint.xs}">
					<v-stepper :value="step"  >
							<v-stepper-step step="1" :complete="step>0">Ordine effettuato</v-stepper-step>
							<v-stepper-content step="1">
							 Abbiamo ricevuto il tuo ordine, verr&agrave; elaborato una volta confermato il pagamento.
							</v-stepper-content>

   							<v-divider></v-divider>	
							<v-stepper-step :complete="step>1" large step="2">Pagamento ricevuto</v-stepper-step>
							<v-stepper-content step="2">
								Pagamento confermato, ora l'ordine sar&agrave; pronto per l'elaborazione.
							</v-stepper-content>

   							<v-divider></v-divider>	
							<v-stepper-step :complete="step>2" large step="3">In elaborazione</v-stepper-step>
							<v-stepper-content step="3">
								In elaborazione, gli articoli acquistati sono pronti per la spedizione.
							</v-stepper-content>

						  	<v-divider></v-divider>
							<v-stepper-step :complete="step>3" step="4">Spedito</v-stepper-step>
							 <v-stepper-content step="4">
								Ordine spedito, <a href="" target="_blank">Traccia la spedizione</a>, una volta ricevuto potrai recensire gli articoli.
							</v-stepper-content>

							<v-divider></v-divider>
							<v-stepper-step :complete="step>4" step="5">Feedback ricevuto</v-stepper-step>
							 <v-stepper-content step="5">
							 asfasffas
							</v-stepper-content>
					</v-stepper>
				</div> -->
					<div id="track">
							<div v-if="!order.spedizione" class="msg"><i class="mdi mdi-icon mdi-alert-outline"></i> L' ordine non risulta ancora spedito</div>
							<v-btn :disabled="!order.spedizione">TRACCIA IL TUO PACCO </v-btn>
					</div>
				<div style="padding:10px;width:100%" class="o">
					<v-card width="100%">
						 <v-toolbar><v-toolbar-title>Articoli nell' ordine</v-toolbar-title></v-toolbar>
					<v-card-text>
						<lista-prodotti :items="order.cart.items"></lista-prodotti>
					</v-card-text>
					</v-card>
					
					<v-card width="100%">
						 <v-toolbar><v-toolbar-title>Totale</v-toolbar-title><v-spacer/><div>
							<b><money :value="tot" disabled/></b>
						</div> </v-toolbar>
					<v-card-text>
						<div class="totali fullw">
						<div v-for="(t,k) in order.cart.totali" :key="k" class="fullw f" :class="{hide:t==0}">
							<p>{{k}}</p><money :value="t" disabled></money>
						</div>
						</div>
						</v-card-text>
					</v-card>
					<v-card width="100%">
						 <v-toolbar><v-toolbar-title>Indirizzi</v-toolbar-title></v-toolbar>
					<v-card-text>
						<div class="fullw f">
						    <!--     <div class="f fc box fullw">
									<h3>Dati di fatturazione</h3>
									<div class="f fc fullw" style="padding-bottom:20px;">
									<div><label>Nome</label><p>{{order.cart.indirizzoDiFatturazione.name}}</p></div>
									<div><label>Via</label><p>{{order.cart.indirizzoDiFatturazione.via}}</p></div>
									<div><label>Comune</label><p>{{order.cart.indirizzoDiFatturazione.comune}}, ( {{order.cart.indirizzoDiFatturazione.cap}} )</p></div>
									</div>
								</div> -->
								<div class="f fc box fullw">
									<h3>Dati di spedizione</h3>
									<div class="f fc fullw" style="padding-bottom:20px;">
									<div><label>Nome</label><p>{{order.cart.indirizzo.nominativo  }}</p></div>
									<div><label>Via</label><p>{{order.cart.indirizzo.via}}</p></div>
									<div><label>Comune</label><p>{{order.cart.indirizzo.comune}} , ( {{order.cart.indirizzo.cap}} )</p></div>
									</div>
								</div>
						</div>
					</v-card-text>
					</v-card>
					<v-card width="100%">
						 <v-toolbar><v-toolbar-title>Informazioni di pagamento</v-toolbar-title></v-toolbar>
					<v-card-text>
						<div class="fullw f" style="justify-content:space-between;">
							<p>Metodo:</p> <b style="text-trasform:uppercase;">{{order.cart.pagamento.name}}</b>
						</div>
					</v-card-text>
					</v-card>
					<v-card width="100%">
						 <v-toolbar><v-toolbar-title>Messaggio utente</v-toolbar-title></v-toolbar>
					<v-card-text>
					<p>{{order.userMessage || 'Il cliente non ha lasciato messaggi'}}</p>
					</v-card-text>
					</v-card>
				</div>



				</template>
				<div class="loading f fc fullw"  v-else>
				<loading></loading>
				</div>
		</div>
</template>
<script>
import {when} from 'mobx';
import {mapState,mapGetters} from 'vuex';
import loading from '../components/loading';
import listaProdotti from '../components/listaProdotti';
export default {
	name: "order",
	components:{
		loading,listaProdotti
	},
	computed:{
		...mapState(['usr','path','siteOptions']),
		tot(){
			return Object.values(this.order.cart.totali).reduce((a,b)=>a+=b,0)
		},
		step(){
			if (!this.order) return -1;
			return this.siteOptions.statiOrdine.indexOf(this.order.stato) + 1
		}
	},
	data() {
		return {
			isAdmin:false,
			order:{
				_id:false
			}
		}
	},
	methods:{
		async blink(){

			await new Promise(r=>setTimeout(r,1000))
			let bo = document.querySelectorAll('.v-stepper__step__step');
			if (bo && bo[this.step-1])
			Velocity(bo[this.step-1],{	opacity:0,scale:1.3},{duration:250,loop:3})
		},
		async getData(){
			this.loading=true;
			this.$socket.emit('getOrders',this.path[2],(err,data)=>{
				if (err ) {
					return;
				}
				this.order= data[0];
				this.$forceUpdate();
				this.blink();
			})
		}
	},
	sockets:{
		
	},
	async mounted(){
		
		
		if (this.$authToken.get().guest)
			return this.$router.push({path:'/login'});
		this.isAdmin = this.$authToken.get().admin

		this.getData()

	},
	
/*	metaInfo() {
    return {
      title: 'TubeMp3.co - convert and download your youtube video to mp3!',
      meta: [
        { vmid: 'description', name: 'description', content: 'Convert and download free hight quality mp3 easy as 1 2 3 without registration' }
      ]
    }
  }*/

}
</script>
<style scoped lang="less">
@theme: "../less/themes/dev";
@import "@{theme}";
#order {
	min-height:100vh;
	justify-content: flex-start;
	padding-bottom:100px;

}
.v-stepper {background:transparent;width:100%;}
.loading {min-height:400px;}

h2 {font-size:22px;padding:20px 10px 10px 10px;}
#track {
	margin:30px;
	padding:20px;
	border:1px solid #777;
	border-radius:15px;
	.msg {padding:5px 15px;background-color:#ccc;}
}
.items {
	padding:20px;
}
.totali {
	&>div  {justify-content: space-between;border-bottom:1px solid #ccc;padding:10px;}
	p {text-transform: capitalize}
}
.o {
	&>div {
		margin:15px auto;
	}
	.box {
		align-items:flex-start;
		&>div {
			padding: 0 20px;
		}
		h3 {
			margin-bottom:10px;
		}
		&>div>div{
			display:flex;
			width:100%;
			align-items:flex-start;
			justify-content: space-between;
			border-bottom:1px solid #ddd;
		}
	}
}
</style>
<style>
.v-stepper__step__step {height:36px;width:36px;}
@media only screen and (max-width: 959px){

	.v-stepper:not(.v-stepper--vertical) .v-stepper__label {display:block; margin-left:15px;}
}
</style>