<template>
		<div id="page" class="f fc fullw" >
			<transition name="slide-right" mode="out-in">
				<div :key="path[0]" class="fullw" >
					<h2 v-if="!hideTitle">{{page.title}}</h2>
					<div class="htmlData fullw" @click="aClick" v-html="page.html"></div>
					<template v-if="galleryProdotti&&galleryProdotti.lista&&galleryProdotti.lista.length">
					
					<galleria-prodotti :title="galleryProdotti.title ||'Prodotti in evidenza'" :items="galleryProdotti.lista"></galleria-prodotti>
					
					</template>
				</div>
			</transition>
		</div>
</template>
<script>
import {aClick} from '../store/utils'
import {uniqBy} from 'lodash'
import galleriaProdotti from '../components/galleriaProdotti'
import {mapState,mapGetters} from 'vuex';
export default {
	name: "page",
	components:{
		galleriaProdotti
	},
	computed:{
		...mapState(['path']),

	},
	asyncComputed:{
		async galleryProdotti(){
			this.page;
			this.page.listaProdotti;
			if (!this.page.listaProdotti) return;
			let p =  await this.$db[this.page.listaProdotti.pick].where('_id').anyOf(this.page.listaProdotti.lista).toArray();
			if (this.page.listaProdotti.pick=='categorie')
				p = await this.$db.prodotti.where('_id').anyOf(p[0].prodotti).toArray();
			return Object.assign({},this.page.listaProdotti,{
				lista:p
			})
		}
	},
	data() {
		return {
			page:{
				html:'',
				listaProdotti:null
			},
			w:[],
			galleryProdotti:false,
			style:[]
		}
	},
	props:{
		hideTitle:{
			type:Boolean,
			default:false,
		}
	},
	mounted(){
		this.$root.$on('pagineUpdated',this.getPage);
		this.$root.$on('prodottiUpdated',this.getPage);
	},
	methods:{
		aClick:function(){
			aClick.call(this,...arguments)
		},
		async getPage(){
			let page = {};
			if (this.$ssrContext) {
				page= this.$ssrContext.pages.find(p=>p.url==this.path.join('/'));
				if (!page) page= this.$ssrContext.pages.find(p=>p.url=='404');
			
			}
			else {
				page = await  this.$db.pagine.where({url:this.path[0]}).first();
				if (!page) page = await  this.$db.pagine.where({url:'404'}).first();
			}
			Object.assign(this.page,page);
			
			if (this.page.css) {
				this.style = [{
					cssText:this.page.css,
					type:'text/css'
				}]
			}
			this.$forceUpdate()
		}
	},
	watch:{
		"path.0":{
			handler:function(){
				this.getPage()
			},
			immediate:1,
		}
	},
	async created() {

	},
	metaInfo(){
		return {
			style:this.style
		}
	},
	beforeDestroy() {
		this.$root.$off('pagineUpdated');
		this.$root.$off('prodottiUpdated');
	},

}
</script>
<style scoped lang="less">
@theme: "../less/themes/dev";
@import "@{theme}";

h2 {
	font-size:22px;
	margin:30px 20px;
}
</style>