<template>
		<div id="prodotto" class="f fc scroll" >
			<template v-if="p && p.name">
			<navigation :path="navigationPaths"/>
			<div class="top f">
				<div class="thumb">
					<my-carousel @update="openImg(p.img[$event])" :p="p"></my-carousel>
				</div>
				<div class="divider"></div>
				<div class="main-info">
					<h1>{{p.name}}</h1>
					<h4>{{p.seoDesc}}</h4>
					<div class="buy f fc ja">
						<div class="attrs">
							<div v-for="(attrs,n) in p.attributes" :key="n">
							<h4>{{n}}</h4>

								<v-select
									:value="item.attributes[n]"
									:items="attrs"
									box
									:label="n"
									solo
									item-text="name"
									item-value="name"
									@change="item.attributes[n]=p.attributes[n].find(a=>a.name==$event)"
									outline
								></v-select>
								<!-- :hint="`${item.attributes[n].value}`" -->
							</div>
						</div>
						<div class="qty f fc" v-if="showPrice" >
							
							<div class="f ja">
								<div class="f">
									<p style="font-size:14px;">Quantit&agrave;:</p>
									<counter prefix="x" style="width:50px;margin-right:15px;" v-model="qty"></counter>
								</div>
								<money class="main-price" :value="price" disabled></money>
							</div>
							</div>
							<div v-else class="hiddenPrice f">
								<v-btn class='mr-1'><router-link to="/account">ACCEDI</router-link></v-btn> <p class="pb-1 pt-1" style="line-height:1rem">per visualizzare il listino prezzi</p>
							</div>
						<template v-if="p.quantitaDisponibile">
						<v-btn class="add-to-cart" :class="{success:added}" @click="addToCart()">
								<i class="mdi" :class="{'mdi-plus-box':!added,'mdi-check-circle-outline':added}"></i> 
								{{added? 'aggiunto al carrello!':'aggiungi al carrello'}}
						</v-btn>
						</template>
						<template v-else>
						<div class="f fullw fc notAvailable">
							<div class="f fullw"><i class="mdi mdi-alert"></i><p>Articolo momentaneamente esaurito</p></div><div>Aggiungilo alla lista desideri per ricevere una email non appena torner&agrave; disponibile.</div>
						</div>
						</template>
						<v-btn text class="save" :class="{success:inWishlist}" @click="addToWishlist()">
								<i class="mdi" :class="[inWishlist ?'mdi-check' :'mdi-star']"></i> 
								{{inWishlist? ' nei preferiti !':' aggiungi nei preferiti'}}
						</v-btn>
						<client-only>
						<div class="fullw f share" v-if="p && p.name">
							
							<share :url="url"
								:title="title"
								:description="p.seoDesc"
								quote=""
								:hashtags="p.tags &&p.tags.join(', ') || ''"
			                    inline-template>
					  
					 			 <div>
									<network network="facebook">
										<img src="/public/img/social/fb.png" />
									</network>
									<network network="twitter">
										<img src="/public/img/social/tw.png" />
									</network>
									<network network="email">
										<i class="mdi mdi-email"></i> 
									</network>
									<template v-if="$vuetify.breakpoint.xs">
									<network network="whatsapp">
										<img src="/public/img/social/w.png" />
									</network>
									<network network="telegram">
										<img src="/public/img/social/telegram.png" />
									</network>
									<network network="sms">
										<i class="mdi mdi-message-processing"></i> 
									</network>
									</template>
								</div>
							</share>
						</div>
						</client-only>
					</div>
				</div>
			</div>
 				<v-tabs v-model="tab" slider-color="primary">
                <v-tab  color="primary" v-for="n in tabs" :key="n" ripple> {{ n }}</v-tab>
                <v-tab-item :key="0">
					<div class="fullw f fc files" v-if="p.files && p.files.length">
						<h3>Allegati</h3>
						<a v-for="f in p.files" :key="f._id" target="_blank" :href="$store.state.siteOptions.uploadPath+'files/'+f.name">
							 <img :src="$store.state.siteOptions.uploadPath+'iconPack/png/'+f.ext+'.png'"/> {{f.name}} </a>
					</div>

					<div class="pdescription" v-html="p.description"></div>
					<div class="tags fullw f">
						<router-link v-for="t in p.tags" :key="t.value" :to="'/search/'+t.value">#{{t.value}}</router-link>
					</div>
                </v-tab-item>
                <v-tab-item :key="1">
					<div class="pdescription"> Non ci sono ancora recensioni per questo articolo, potrai recensirlo  .</div>
                </v-tab-item>
                <v-tab-item :key="2">
					<div class="pdescription"> recensioni</div>
                </v-tab-item>
 				</v-tabs>
				 <template v-if="related && related.length">
					 <div class="fullw" style="height:30px"></div>
				 <lista-prodotti title="PRODOTTI SIMILI" :items="related"></lista-prodotti>
				 </template>
			</template>
			<div class="pswp">
    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
		</div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div></div>
		</div>
</template>
<script>
import {mapValues,reduce,get,findIndex,remove} from 'lodash'
import {mapState,mapGetters} from 'vuex';
import share from 'vue-social-sharing'
import counter from '../components/counter'
import navigation from '../components/navigation'
import listaProdotti from '../components/galleriaProdotti'
import myCarousel from '../components/myCarousel'
import { setTimeout } from 'timers';
import ClientOnly from 'vue-client-only'

export default {
	name: "PRODOTTO",
	components:{
		counter,navigation,share,listaProdotti,myCarousel,ClientOnly
	},
	computed:{
		...mapState(['usr','path']),
		...mapGetters(['showPrice']),
		price(){
			try {
				let iva = this.usr.piva ? 1 : (1 + Number(this.p.iva)/100)
				return   this.qty * iva * (  this.p.price + (reduce(this.item.attributes,(tot,a)=>{
					if (a.minus) tot-=a.value;
					else tot+=a.value;
				return tot;
				},0)));
			}
			catch(e){console.log(e);return 999999999}
		},
		imgs(){
			return this.p && this.p.img && this.p.img ||[{name: 'customlogo.png'}];
		},
		title(){
			if (!this.p || !this.p.name) return 'Acquista accessori auto'
			else return 'Acquista '+ this.p.name+ ' da wepp, fornitura italiana';
		},
		url(){
			return  'https://'+ API_HOST +'/prodotto/'+this.path[1]; 
		},
		inWishlist(){
			return this.usr.wishlist && this.usr.wishlist.includes(this.p._id)
		},
	},
	asyncComputed:{
		async related(){
			if (!this.p._id) return ;
			let c = await this.$db.categorie.toArray();
			c=c.find(c=>c.prodotti&&c.prodotti.includes(this.p._id));
			if (!c.prodotti) return [];
			remove(c.prodotti,p=>p==this.p._id);
			return await this.$db.prodotti.where('_id').anyOf(c.prodotti).toArray()
		},
		async navigationPaths(){
			let paths = [{text:'Catalogo',url:'/catalogo'}];
			if (!this.p._id) return paths ;
			let c = await this.$db.categorie.toArray();
			c = c.filter(cat=>cat.prodotti.find(idprodotto=>idprodotto==this.p._id))
			return paths.concat(c.map(cat=>({text:cat.name,url:'/catalogo/'+cat.friendlyUrl})))
		}
	},
	data() {
		return {
			p:{},
			qty:1,
			added:false,
			addedToWishlist:false,
			gallery:null,
			index:0,
			item:{	
				attributes:{}
			},
			tabs:['descrizione','recensioni'],
			tab:'descrizione',
			related:[],
			imgStep:0
		}
	},
	methods:{
		openImg(name){
			this.index = findIndex(this.p.img,i=>i.name==name);
			let h = 2*innerHeight/3;
			let imgs = this.imgs.map(i=>({
				src:this.$store.state.siteOptions.uploadPath+i.name,
				h:i.h ||h,
				w:i.w,
				title:i.desc || i.name
			}));
			this.gallery = new PhotoSwipe( document.querySelectorAll('.pswp')[0],PhotoSwipeUI_Default,imgs,{
				index:this.index
			})
			this.gallery.init()
		},
		addToCart(data){
			 if (this.added ||!this.path[1]) return;
			 this.added=true;
			 let item = {_id:this.p._id};
			 if ( Object.keys(this.item.attributes).length )
			 	item.attributes = this.item.attributes;
			 this.$store.commit('ADD_TO_CART',{item,qty:this.qty});
			 setTimeout(()=>this.added=false,2000)
		},
		addToWishlist(data){
			if (!this.usr || !this.usr.name) return this.$router.push({name:'login'});
			this.$socket.emit('addToWishlist',this.p._id,(err,data)=>{
				this.usr.wishlist && this.usr.wishlist.push(p._id);
				this.$forceUpdate()
			});
		},
		async getData(){
			if (this.$ssrContext){
				this.p =Object.values(this.$ssrContext.prodotti).find(p=>p.friendlyUrl==this.path[1]) || {};
				this.item.attributes = mapValues(this.p.attributes || {},a=>a[0]);
				return;
			}
			this.p = await this.$db.prodotti.get({friendlyUrl:this.path[1]})||{};
			if (!this.p ||!this.p.description)
			this.$socket.emit('getProduct',this.path[1],(err,data)=>{
				if (err) {return;}
				Object.assign(this.p,data);
				this.$db.prodotti.put(data);
				this.imgStep=1;
				setTimeout(()=>this.imgStep=0,100);
			})
			if (this.p) {
				this.item.attributes = mapValues(this.p.attributes || {},a=>a[0]);
			}
		}
	},
	sockets:{
		
	},
	async mounted() {
		

	},
	watch:{
		'path.1':{
			handler:function(to){
				if (to) this.getData()
			},
			immediate:true
		}
	},
	metaInfo() {
		try{
    		return {
				title: this.title,
				script:[
					{src:'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.js'},
					{src:'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.js'}
				],
				link:[
					{href : this.url, rel: 'canonical'},
					{href: 'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css',rel:'stylesheet'},
					{href: 'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.css',rel:'stylesheet'},
				],
				meta: [
					{ vmid: 'description', name: 'description', content: this.p.seoDesc },
					{ property: 'og:image', content: this.$store.state.siteOptions.uploadPath+'thumbs/'+this.imgs[0].name },
					{ property: 'og:title', content: this.title },
					{ property: 'og:description', content: this.p.seoDesc },
				]
			}
		}
		catch(e){}
  },


}
</script>
<style lang="less" scoped>
@theme: "../less/themes/default";
@import "@{theme}";

#prodotto {
	justify-content: flex-start;
	padding:20px;
	flex-wrap:wrap;
	.save {
		margin-top: 8px;
	}
	@media @mobile{
		padding:15px;
		padding-bottom:120px;
	}
	.top {
		width:100%;
		padding-bottom: 25px;
		max-width: 800px;
		margin: 0 auto;
		@media @mobile {
			flex-direction: column;
		}
		.divider {
			height:190px;
			margin:15px 40px;
			border-left:1px solid #333;
			@media	 @mobile {
				height: 1px;
				border-left:unset;
				border-top:1px solid #333;
				width: 200px;
			}
		}
		p {
			margin-bottom:0;
		}
	}
	.thumb {
		.my-carousel-container {
			width: 300px;
			height: 250px;
			@media @mobile {
				margin-bottom:20px;
			}
		}
	}
	.main-info {
		height: 100%;
		padding:0 20px;
		flex:1;
		.buy {
			padding-top:15px;
		}
		h1 {
			font-weight:bold;
			margin: 10px;
			border-bottom:1px solid #333;
			padding-bottom: 10px;
			font-size:20px;
			text-align: center;
		}
		h4 {
			font-weight: 300;
			text-align:center;
		}
		justify-content: space-between;
		.notAvailable {
			color:@rosso;
			background:fade(@rosso,10%);
			padding:10px 15px;
			margin-top:10px;
			i {
				font-size:25px;
				vertical-align: middle;
				margin-right:10px;
			}
		}
	}

	.attrs{
		border-bottom:1px solid #333;
		h4 {margin:5px auto 5px 0}
	}
	.main-price {
			border-bottom:1px solid #333;
			background: #eee;
			color:#181818!important;
			border-radius: 10px;
			font-size:18px;
			width: 150px;
			margin:15px auto;
			font-weight: bold;
			box-sizing: border-box;
			padding: 5px;
		}
		.add-to-cart {
			margin-top:25px;
			padding-top:3px;
			border:1px solid #777;
			&.success {
				background:@green;
			}
			cursor: pointer;
			i {
			font-weight:bold;
			font-size:18px;
			margin-top: -3px;
			padding-right: 10px;
			}
		}
}
.files {
	border-bottom:1px solid #33333333;
	h3 {
		color:#444;
		width:80%;
		font-weight:300;
		font-size:18px;
	}
	align-items: flex-start;
	padding:10px;
	&>a {
		padding:15px;
		img {max-width:40px;vertical-align: middle;}
		display:flex;
		align-items:center;
		color:@rosso;
		text-decoration:underline;
		img {
			margin-right:12px;
		}
	}
}
.pdescription {
	padding:10px;
}
.v-tabs {
	width: 100%;
}
.bgThumb {
	height: 100%;
    display: block;
    margin: auto;
    width: 100%;
	background-size: contain;
	cursor:pointer;
    background-position: center center;
}

.tags {
	justify-content: flex-start;
	a {
		margin:8px;
		background:fade(@rosso,15%);
		border-radius:9px;
		padding:5px 10px;
	}
}

</style>
<style lang="less">
.v-money {
	&[disabled] {opacity:1;color:#181818!important;}
}
.share {
	i {
		font-size:28px;
		margin:0 5px;
		vertical-align: middle;
	}
	img {
		height: 28px;
		margin:0 10px;
		vertical-align: middle;
	}
}
</style>
