<template>
		<div id="registrazione" class="f fc scroll"  >
			<transition name="slide-right" mode="out-in">
			<v-card min-width="320" radius="10" v-if="step==''" key="">
			<v-toolbar >
				<v-toolbar-title>
					Registrazione
				</v-toolbar-title>
			</v-toolbar>
			<v-card-text>
			<div class="f fw align-stretch">
			<form @submit.prevent="send()">
			<!-- <v-select label="Fatturazione per" :items="tipoFattura" v-model="optionalFormData.tipoFattura">
			</v-select> -->
			<v-text-field :label="optionalFormData.tipoFattura?'Nome e Cognome':'Ragione sociale'" v-model="formData.name"></v-text-field>
			<v-text-field label="Email" v-model="formData.email"></v-text-field>
			<!--<v-text-field hint="minimo 8 caratteri" label="Password" :error-messages="errors.pwd" v-model="formData.pwd" type="password" @blur="checkPwd()"></v-text-field>
				<v-text-field label="Conferma Password" v-model="formData.pwd2" :error-messages="errors.pwd2" @blur="checkPwd()" type="password"></v-text-field>
			-->
			<template >
			<Password :secureLength="8" :toggle="true" style="max-width:unset" v-model="formData.pwd" placeholder="Imposta una password" />
			<Password :secureLength="8" :toggle="true" style="max-width:unset" v-model="formData.pwd2" placeholder="Conferma password" />
			</template>
			<span>Numero di cellulare</span>
			<vue-tel-input v-if="mounted" :preferredCountries='["it"]' placeholder="Inserisci il numero di cellulare" v-model="formData.phone"></vue-tel-input>
			
			
			<!-- <v-text-field v-model="optionalFormData[mapTipoFattura]" :label="optionalFormData.tipoFattura == tipoFattura[0] ? 'Codice Fiscale' : 'Partita iva'">
			</v-text-field> -->
			<transition name="slideDown">
				<div class="fw" style="animation-duration:.3s" v-if="errors.txt">
				<v-alert dismissible :value="errors.txt"  type="error" transition="scale-transition">{{errors.txt}}</v-alert>
				</div>
			</transition>
			<div class="f fullw">
				<div class="f privacy-box">
					<v-checkbox v-model="formData.privacy"></v-checkbox>
					<span @click="policyDialog=true" style="max-width:200px">Dichiaro di aver letto i <a >termini sul rispetto della privacy</a></span>
				</div>
				<v-divider/>
				<v-btn @click="send" :disabled="!formOk">
					<svg-spinner :dark="1" v-if="isLoading"></svg-spinner>
					<div v-else>Conferma</div>
					</v-btn>
			</div>
			</form>
			<div class=""></div>
			</div>
			

			</v-card-text>
			</v-card>
			<v-card  v-if="step=='2'" key="2">
				<div class="f fullw fc step2">
					<v-toolbar width="100%"><v-toolbar-title>Email inviata</v-toolbar-title></v-toolbar>
					<img style="margin:30px;" :src="$store.state.siteOptions.publicPath+'img/email-sent.png'"/>
					<p>Ti abbiamo inviato una email a <b>{{formData.email  }}</b> , nel caso non sia ancora arrivata controlla che non si trovi nella cartella SPAM.</p>
				</div>
			</v-card>
			<v-card  v-if="step=='verify'" key="verify">
				<v-card-text>
				<loading v-if="isLoading"></loading>
				<div class="fullw f fc" v-else>
					<p v-if="verifyData.err">{{verifyData.err}}</p>
					<template v-else>
					<p>La tua email <b>{{usr.email}}</b> é stata verificata con successo</p>
					<p>Ora puoi accedere al tuo <v-btn color="primary" to="/account">account</v-btn></p>
					</template>
				</div>
				</v-card-text>
			</v-card>
			</transition>
			
			<v-dialog v-model="policyDialog" width="500" >
            <v-card>
                 <div v-html="$store.state.siteOptions.accountPolicy"/>   
            </v-card>
            <v-card-actions></v-card-actions>
        </v-dialog>
		</div>
</template>
<script>

import loading from '../components/loading.vue';
import svgSpinner from '../components/svgSpinner.vue';
import {mapState,mapGetters} from 'vuex';

import Password from 'vue-password-strength-meter'
export default {
	name: "registrazione",
	components:{
		loading,svgSpinner,Password
	},
	computed:{
		...mapState(['usr']),
		mapTipoFattura(){
			return this.optionalFormData.tipoFattura === 'Privato' ? 'codiceFiscale' : 'piva'
		},
		formOk(){
			return Object.values(this.errors).filter(e=>e).length < 1 && Object.values(this.formData).every(d=>d)
		},
		step(){
			return this.$store.state.path[1] || '';	
		}
	},
	data() {
		return {
			errors:{
				pwd2:'',
				pwd:'',
				email:'',
				txt:''
			},
			isLoading:false,
			policyDialog:false,
			formData:{
				name:'',
				email:'',
				pwd:'',
				pwd2:'',
				phone:'',
				privacy:false,

			},
			optionalFormData:{
				codiceFiscale:'',
				piva:'',
				tipoFattura:['Privato']
			},
			verifyData:{
				err:null,
				data:null
			},
			tipoFattura:['Privato','Partita Iva'],
			mounted:0
		}
	},
	methods:{
		checkPwd(){
			if (this.formData.pwd2)
				this.errors.pwd2=  (this.formData.pwd2!==this.formData.pwd) ? 'Le password non coincidono' : '';
			this.errors.pwd = (this.formData.pwd.length < 8) ? 'La password deve contenere almeno 8 caratteri' :''
			this.$forceUpdate();
		},
		async send(){
			if (this.isLoading) return;
			this.isLoading=true;
			let token = await this.$recaptcha('registrazione');
			
			//return;
			this.$socket.emit('register',{
				[this.mapTipoFattura]:this.optionalFormData[this.mapTipoFattura],
				...this.formData,
				token
			},(err,ok)=>{
				this.isLoading=false;
				console.log('resp.reg',err,ok)
				if (err) {
					this.errors.txt=err;
					return;
				}
				this.$router.push('/registrazione/2');

		
			});
		},
	},
	sockets:{
		
	},
	beforeMount(){
		
	},
	mounted() {
		if (this.usr.fbData){
				this.formData.name = this.usr.fbData.name
				this.formData.email = this.usr.fbData.email
		}
		if (this.step=='verify') {
			this.loading=true;
			this.$socket.emit('verifyEmail',this.$store.state.path[2],(err,data)=>{
				this.loading=false;
				this.verifyData= {err,data};
			})
		}
		this.mounted=true;

	},
/*	metaInfo() {
    return {
      title: 'TubeMp3.co - convert and download your youtube video to mp3!',
      meta: [
        { vmid: 'description', name: 'description', content: 'Convert and download free hight quality mp3 easy as 1 2 3 without registration' }
      ]
    }
  }*/

}
</script>
<style scoped lang="less">
@theme: "../less/themes/dev";
@import "@{theme}";
#registrazione {
	color:red;
	padding:20px;
	.v-card {
		max-width:540px;
		width:90%;
		margin: 0 auto;
	}

	
	.privacy-box {
		font-size: 14px;
		line-height: 1em;
		color:#ccc;
	}
	@media @mobile {
		padding:10px;
	}
	span {color:#333;}
}
.step2 {
	p {
		padding:20px 30px;
	}
	font-size:18px;
}

</style>