<template>
		<div id="search" class="f fc scroll fullw" >
			 
			<div v-if="!results || !results.length">
				<template v-if="query.length<3">Usa la barra di ricerca in alto per cercare un articolo o una categoria di articoli.</template>
				<!--<div v-else class="fullw f fc"><loading/>Cercando i prodotti...</div>-->
				<div v-else class="fullw f fc noResults">
					<loading v-if="loading"/>
					<template v-else>
					<i class="mdi mdi-emoticon-sad-outline"/> Nessun risultato trovato per {{query}}
					</template>
				</div>
			</div>
			<template v-else>
			<div class="title f"><h1>Risultati per {{query}}</h1><p>{{results.length}} Articoli</p></div>

				<div id="prodotti" class="fullw f ja">
						<div v-for="(p,n) in results" :key="p._id">
							<anteprimaProdotto :p="p" :n="n" ></anteprimaProdotto>
						</div>
				</div>
			</template>
		</div>
</template>
<script>
import loading from '../components/loading'
import anteprimaProdotto from '../components/anteprimaProdotto'
import {mapState,mapGetters} from 'vuex';
import {groupBy} from 'lodash'
export default {
	name: "search",
	components:{
		loading,anteprimaProdotto
	},
	computed:{
		...mapState(['path']),
		results(){
			try{
				if (this.query.length<3 || this.prodotti.length<1) return [];
				let qs = this.query.split(" ");
				let p = qs.filter(parola=>parola.length>2).map(k=>
				 	this.prodotti.filter(p=>p.name.toLowerCase().includes(k.toLowerCase()))
				);
				p=p.flatMap(p=>p).slice();
				//console.log(this.query,'test311',p.length,this.prodotti.length ,__DEV__	) 
				p = Object.values(this.groupBy(p,'_id')).filter(a=>a.length === qs.length ).map(a=>a[0]).slice(this.page-1,this.limit*(this.page-1) || this.limit);

				return p
			}catch(e){
				__DEV__ && console.log('err',e);
				return []
			}
		},
		query(){
			return this.path && this.path[1] && this.path[1].split('_').join(' ');
		},

	},
	data() {
		return {
			prodotti:[],
			listeners:[],
			limit:20,
			loading:true,
			page:1
		}
	},
	methods:{
		async getData(){
			this.loading=true;
			let [data] = await Promise.all([
				await this.$root.getProdotti(),
				new Promise(r=>setTimeout(r,500))
			])

			this.loading=false;
			//this.categorie=data.categorie;
			this.prodotti=Object.values(data.prodotti)
		},
		groupBy,
		async src(){
		
		}
	},
	sockets:{
		
	},
	created(){
		if (this.$ssrContext) {
			//this.categorie = this.$ssrContext.categorie;
			this.prodotti = Object.values(this.$ssrContext.prodotti);
		}
	},
	async beforeMount() {
		this.getData();
		this.listeners.push(this.$root.$on('prodottiUpdated',this.getData));
	},
	watch:{
		'query':{
			handler:function(to){
				if (!to || to.length<3) return this.$router.push('/')
				
			},
			immediate:true
		}
	},
	metaInfo() {
    return {
      title: 'Cerca '+this.query+' ',
      meta: [
        { vmid: 'description', name: 'description', content: 'Convert and download free hight quality mp3 easy as 1 2 3 without registration' }
      ]
    }
  }

}
</script>
<style scoped lang="less">
@theme: "../less/themes/dev";
@import "@{theme}";
#search {
	min-height:400px;
	align-items:center;
	justify-content:flex-start;
	.title{
		padding:10px;
		width:80%;
		justify-content:space-between;
		h1{
			font-size:19px;
		}
		p {font-size:16px;}
	}
	#prodotti {
		flex-wrap:wrap;
		align-items:flex-start;
	}
}
.noResults {
	padding:40px;
	font-size:22px;
	i {font-size:40px;}
}
</style>