<template>
		<div id="wishlist" class="f fc scroll" >
			<h3>Lista desideri: </h3>
			<div>Qui puoi consultare i tuoi articoli salvati, inoltre verrai notificato con una email quando uno degli articoli presenti torner&agrave; disponibile.</div>
			<lista-prodotti :counter="false" :items="items"></lista-prodotti>
		</div>
</template>
<script>
import {when} from 'mobx';
import {mapState,mapGetters} from 'vuex';
import loading from '../components/loading'
import listaProdotti from '../components/listaProdotti'
export default {
	name: "order",
	components:{
		loading,listaProdotti
	},
	computed:{
		...mapState(['usr','path']),
	},
	asyncComputed:{
		async items(){
			let ps= await this.$db.prodotti.where('_id').anyOf(this.usr.wishlist).toArray();
			return ps.filter(p=>p.enabled)
		}
	},
	data() {
		return {
			items:[],
		}
	},
	methods:{

	},
	async mounted(){
		


	},

}
</script>
<style scoped lang="less">
@theme: "../less/themes/dev";
@import "@{theme}";
#wishlist {
	min-height:100vh;
	justify-content: flex-start;
	padding:20px 10px 100px;
	&>div {
		margin:0 auto;
	}
}


h2 {font-size:22px;padding:20px 10px 10px 10px;}


</style>