<template>
    <div id="clienti">
        
        <transition>
        <v-alert dismissible :type="message.ok?'success':'error'" :value="message.msg">
            {{message.ok ? 'Cliente salvato con successo' : "C'e stato un errore"}}
        </v-alert>
        </transition>
        <transition name="fade" mode="out-in">
        <div class="list" v-if="!path[2]">
            <v-text-field label="CERCA CLIENTE" v-model="filter"></v-text-field>
            <router-link class="c f" v-for="c in filtered" :key="c._id" :to="'/admin/clienti/'+c._id">
                <p>{{c.email || c.emailDaVerificare}}</p>
                <v-tooltip top>
                    <template v-slot:activator="{ on }" v-if="c.emailDaVerificare">
                        <i class="mdi mdi-alert" v-on="on" v-if="c.emailDaVerificare" style="color:red"></i>
                    </template>
                    <span>Email non verificata</span>
                </v-tooltip>
            </router-link>
        </div>
        <div v-else>
            <v-card>
                <v-toolbar>
                    <v-toolbar-title>{{cliente.name}}</v-toolbar-title>
                </v-toolbar>
               <v-card-text>
                   <div class="f  maininfo">
                   <div class="f fc">
                        <span>Email : {{cliente.email || cliente.emailDaVerificare}}</span>
                        <span>Telefono : {{cliente.phone}}</span>
                        <span v-if="cliente.piva">Partita iva : {{cliente.piva}}</span>
                    </div>
                   <div class="f fc">
                        <span>Ultimo accesso : {{cliente.ultimoAccesso}} </span>
                        <span>Iscritto alla newsletter: si</span>
                        <span v-if="cliente.piva">Partita iva : {{cliente.piva}}</span>
                    </div>
                   </div>
                   <v-divider></v-divider>
                   <div class="f maininfo">
                    <div class="f fc">
                        	<v-select
                                :value="cliente.gruppo"
                                :items="gruppi"
                                box
                                label="Gruppo"
                                item-text="name"
                                item-value="name"
                                @change="cliente.gruppo = $event"
                                outline
                            ></v-select>
                    </div>
                   </div>
                </v-card-text>
                <v-card-actions>
                    <loading v-if="loading"></loading>
                    <v-btn  v-else @click="saveCliente()">Salva</v-btn>
                </v-card-actions>
            </v-card>
        </div>
        </transition>
    </div>
</template>
<script>
import {groupBy} from 'lodash'
import {mapState,mapGetters} from 'vuex';
import loading from '../../loading'
import moment from 'moment'
export default {
    name:"clienti",
    components:{
        loading        
    },
    computed:{
        ...mapState(['path']),
        filtered(){
            return this.clienti.filter(c=>c.name && c.name.includes(this.filter) || c.email &&c.email.includes(this.filter)
                || c.emailDaVerificare &&c.emailDaVerificare.includes(this.filter)
            )
        },
        cliente(){
            let c = this.path[2] && Object.assign({},this.clienti.find(c=>c._id==this.path[2]))
            if (!c || !c._id) return false;
            c.ultimoAccesso =c.ultimoAccesso ? moment(c.ultimoAccesso).fromNow() : 'mai'
            return c;
        }
    },
    data(){
        return {
            clienti:[],
            gruppi:[],
            loading:false,
            filter:"",
            message:{msg:false}
        }
    },
    mounted(){
        this.$watch('path.2',(to)=>{
            if (!to) this.getClienti()
        },{immediate:true})
    },

    methods:{
        getClienti(){
            this.loading=true;
            this.$socket.emit('admin/getClienti',{},(err,data)=>{
                this.loading=false;
                if (err) {
                    return;
                }
                this.clienti = data
            })
            this.$socket.emit('admin/getGruppi',null,(err,data)=>{
                if (err) {
                    return;
                }
                this.gruppi = [{name:'nessuno'},...data]
            })
        },
        saveCliente(){
            if (this.cliente.gruppo==='nessuno') delete this.cliente.gruppo;
             this.$socket.emit('admin/saveCliente',this.cliente,(err,data)=>{
                if (err) {
                    this.message={msg:err}
                    return;
                }
                this.message = {ok:true,msg:true}
                setTimeout(()=>{
                    this.message = {msg:false}
                },3000)
            })
        }
    }
}
</script>
<style lang="less">
#clienti {
    padding:10px;
    &,.list,.p{width:100%;}
     .c {
        background:#222;
        border-radius: 10px;
    
        padding:20px;
        margin:15px 0;
        display: flex;
        color:#fff;
        justify-content: flex-start;
        i {
            margin:0 20px;
            font-size:22px;
        }
    }
    .list {
        .v-icon {
            padding:10px;
            margin-left:30px;
            border-radius:5px;
            &.del {background:hsla(0,100%,50%,.3);}
        }
    }
    .maininfo {
        align-items: flex-start;
        justify-content: flex-start;
        padding:15px 0;
        font-size:18px;
        &>div {
            width:50%;
            align-items: flex-start;
        }
    }
}
</style>