<template>
    <div id="orders" class="fullw f fc">
        <transition name="slide-right" mode="out-in">
        <div v-if='!o' class="fullw" key="1">
            <div class="filtri f">
                <div>
                    <v-select width="320px" v-model="filtriStato" :items="stati"
                    chips
                    label="filtra per stato"
                    multiple
                ></v-select>
                </div>
                <div>
                
                </div>
            </div>
            <div v-for="ord in filteredOrders" :key="ord._id" class="fullw order ">
                <router-link :to="'/account/order/'+ord._id" class="f ja"><p>#{{ord._id}}</p> <b>{{ord.stato}}</b><p>{{ord.ago}}</p></router-link>
            </div>
        </div>
        <div class="fullw" v-else key="2">
             <v-select v-model="filtriStato" :items="stati"
                chips
                label="filtra per stato"
                multiple
            ></v-select>
           <lista-prodotti :items="o.cart.items" />
        </div>
        </transition>
    </div>
</template>
<script>
import {groupBy,sortBy} from 'lodash'
import {mapState,mapGetters} from 'vuex';
import loading from '../../loading'
import moment from 'moment'
import listaProdotti from '../../listaProdotti'
export default {
    name:"clienti",
    components:{
        loading,listaProdotti
    },
    computed:{
        ...mapState(['path']),
        o(){
            return this.orders.find(o=>o._id==this.path[2])
        },
        filteredOrders(){
            let filtered = this.filtriStato.length ? this.orders.filter(o=>this.filtriStato.includes(o.stato)) : this.orders.slice();
            return sortBy(filtered,['timestamp']).reverse()
        }


    },
    data(){
        return {
            orders:[],
            stati:['rimborsato','annullato'],
            filtriStato:[]
        }
    },
    mounted(){
        this.stati.unshift(...this.$store.state.siteOptions.statiOrdine)
        if (this.$route.query.filters)
            this.filtriStato= this.$route.query.filters.split(',')
    },

    methods:{
        getData(_id){
            this.loading=true;
            this.$socket.emit('getOrders',{
                    _id
            },(err,data)=>{
                this.loading=false;
                if (err) {
                    return;
                }
                data.forEach(o=>{
                    o.ago = moment(o.timeStamp).fromNow()
                })
                this.orders = data
            })
            
        },
    },
    watch:{
        'path.2':{
            handler:function(to){
                if (this.$socket)
                this.getData(to)
            },
            immediate:true
        }
    },
    beforeDestroy(){
     //   this.$unwatch('path.2')
    }
}
</script>
<style scoped lang="less">
#orders {
    padding:0 10px 100px 10px;
    .order {
        justify-content: flex-start;
        background: #eee;
        border-radius:10px;
        margin:10px auto;
        padding:10px 20px;;
    }
    .filtri {
        &>div {
            width:320px;
        }
    }
}
</style>