<template>
<div class="f fc fullw">
  
  <div class="metodiDiPagamento fw f"  :class="{fc:$vuetify.breakpoint.xs}">
    <metodi-di-pagamento/>
   <!--  <div class="fw"  v-for="m in metodi" :key="m._id" @click="selectMetodo(m._id)" >
      
      <div class="metodo f fw justify-start" v-if=" (!m.disabled && (!metodoId || metodoId == m._id))"  :class="[{selected:metodoId==m._id},m.tipo]" >
      
        
      <div>
        <v-checkbox v-model="metodoId" :value="metodoId!=m._id" />
      </div>
      <div class="pl-4">
        <img v-if="m.img && m.img[0]" :src="$store.state.siteOptions.uploadPath+m.img[0].name" />
      </div>
      
      </div>
      
    </div> -->
    <v-btn  > <v-icon>mdi_plus</v-icon> Aggiungi un metodo di pagamento </v-btn>
  </div><!-- 
  </template>
  <template v-else>
    <div class="f fc fullw" style="min-height:300px;">
        <loading-icon ></loading-icon>
          <p class="loading-text">{{loading }}</p>
    </div>
  </template> -->

 <!--  <div class="f fc fullw extra" v-if="serverCart.pagamenti.length && metodi.length && serverCart.pagamento">
    
      <v-toolbar><v-toolbar-title>Informazioni su questo metodo di pagamento</v-toolbar-title></v-toolbar>
      <div>
          <h4>Tempi di elaborazione pagamento:</h4>
          <template v-if="!metodoDiPagamento.tempi[1]||metodoDiPagamento.tempi[1]<1"> Istantaneo </template>
          <div style="font-weight:bold" v-else>
            <template v-if="metodoDiPagamento.tempi[1]==metodoDiPagamento.tempi[0]">{{metodoDiPagamento.tempi[1]}} giorni in pi&ugrave;</template>
            <template v-else>dai {{metodoDiPagamento.tempi[0]}} giorni ai {{metodoDiPagamento.tempi[1]}} giorni in pi&ugrave;</template>
          </div>
      </div>
      <div  v-for="(t,n) in metodoDiPagamento.tariffe" :key="n" :style="{display:t?'':'none'}">
          <div v-if="t" class="f fullw" style="justify-content:space-between"><span>Costo transazione</span><span>{{t}} {{n=='pct'?'%':'€'}}</span></div>
      </div>
    
  </div>
  <template v-else>
      <loading-icon v-if="metodoId" ></loading-icon>
  </template> -->
  <div class="invisible">{{serverCart.test}}</div>
</div>
</template>


<script>
import {mapState,mapGetters} from 'vuex'
import loadingIcon from 'src/components/loading';
import metodiDiPagamento from 'src/components/metodiDiPagamento/metodiDiPagamento'
export default {
    name:"cart3",
    computed:{
      ...mapState(['usr','serverCart']),
      ...mapGetters(['metodoDiPagamento']),
    },
    components:{
      loadingIcon,metodiDiPagamento
    },
    data () {
      return {
        loading:true,
        metodoId:false,
        metodi:[],
      }
    },
    methods:{
      selectMetodo(id){
        this.metodoId=id;
        this.serverCart.pagamento = false;
        this.$socket.emit('selectedPagamento',id);
      }

    },
    beforeMount(){
      //https://pay.google.com/gp/p/js/pay.js
      this.loading="Cercando metodi di pagamento disponibi";
      this.$socket.emit('getPagamenti',null,(err,data)=>{
        this.loading=false;
        this.metodi=data;
      });
    },

  }
</script>
<style scoped lang="less">
@theme: "../../less/themes/default";
@import "@{theme}";
.metodiDiPagamento {
  display: flex;
  flex-wrap: wrap;
  .metodo {
    width:100%;
    margin:15px auto;
    background:#fff;
    border-radius:4px;
    height:90px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {max-height: 90px;max-width: 240px;max-width: 90%;}

    .title {background: #eee;text-align: center;padding:10px 0;font-size:18px;justify-self: flex-end;}
    transition: background .3s ease;
    &.selected {
      border:4px solid @rosso;   
    }
  }
  &.fc>div {
    width:86%;
  }
}
.extra{
  margin-top:15px;
  h2 {width: 70%;border-bottom:1px solid #aaa; padding: 5px;font-size:17px;text-align: center;}
  &>nav {margin-bottom: 15px}
  &>div {
    width: 86%;
    border-bottom: 1px solid #ddd;
    padding:3px;
    display: flex;
    margin:15px auto;
    justify-content: space-between;
  }
}
.loading-text {font-size:20px;font-weight: bold;}

</style>