<template>
    <div id="step2">
        <div v-if="!addresses.length" class="f fullw">
            Non hai ancora aggiunto un indirizzo, puoi farlo dal tuo <v-btn @click="$router.push({name:'account'})">account</v-btn>
        </div>
        <div class="f address" v-for="a in addresses" :key="a._id" @click.stop="setIndirizzo(a._id)" :class="{selected:serverCart.indirizzo==a._id}">
                <v-checkbox color="primary" :input-value="serverCart.indirizzo == a._id" ></v-checkbox>
                <div class="f fullw row" :class="{fc:$vuetify.breakpoint.xs}">
                <p style="font-weight:bold">{{a.name}}</p>   <p>{{a.via}} ,{{a.city}} , {{a.postal_code}} </p>
                </div>
        </div>

        <hr class="divider"/>
        
        <div class="f fc" v-if="serverCart.indirizzo && (!serverCart.spedizioni || !serverCart.spedizioni.length)">
                <loading-icon ></loading-icon>
                <p>Cercando le soluzioni di spedizione disponibili</p>
        </div>

        <div v-if="serverCart.spedizioni">
        <v-toolbar><v-toolbar-title>Seleziona il metodo di spedizione</v-toolbar-title></v-toolbar>
        <div class="f address" v-for="a in spedizioni" :key="a._id" @click="serverCart.spedizione=a._id" :class="{selected:serverCart.spedizione==a._id}">
                
                <v-checkbox  color="primary" v-model="serverCart.spedizione" :value="serverCart.spedizione!=a._id"></v-checkbox>
                <img v-if="a.img&&a.img[0]&&!$vuetify.breakpoint.xs" :src="$store.state.siteOptions.uploadPath+'/'+a.img[0].name"/>
                <div class="f fullw" :class="{fc:$vuetify.breakpoint.xs}">
                <div class="f fc" style="align-items:flex-start;margin-right:20px">
                    <div class="f" style="font-weight:bold;text-transform:uppercase;">{{a.name}}	</div>
                    <div v-if="a.descrizione" class="fullw">{{a.descrizione}}</div>
                </div>
                <div v-if="a.tempi">
                    Tempi di consegna: <template v-if="a.tempi[1]==a.tempi[0]"> : {{a.tempi[0]}} {{a.tempi[0]==1?'giorno':'giorni'}}  </template>
                    <template v-if="a.tempi[1]>a.tempi[0]"> : dai {{a.tempi[0]}} ai {{a.tempi[1]}}  giorni </template>
                </div>
                <div class="prezzo">
                    <template  v-if="a.prezzo>0"><money disabled v-model="a.prezzo"></money></template>
                    <template v-else><p>Gratis</p></template>
                </div>
                </div>
        </div>
        </div>


    </div>
</template>
<script>
import loadingIcon from 'src/components/loading'
import { mapState,mapGetters } from 'vuex'
export default {
    name:"empty",
    components:{ loadingIcon},
    data:()=>({
		spedizioni:[]
    }),
    computed: {
        ...mapState(['serverCart']),
        ...mapGetters(['addresses'])
    },
    methods:{

		setIndirizzo(id){
			if (typeof id != 'string') return;

			this.$socket.emit('calcolaSpedizioniDisponibili',id,(err,data)=>{
					if (data && data.map) this.spedizioni=data;
					this.$forceUpdate();
			})
		},
    },
    mounted(){

    },
    watch:{

		'$store.state.serverCart.indirizzo':{
			handler:function(to,from){
				if (!to)return;
					this.setIndirizzo(to)
			},
			immediate:true
		},
		'$store.state.serverCart.spedizione':function(to,from){
				if (!to)return;
				this.$socket.emit('selectedSpedizione',to)
		},
    }
}
</script>
<style lang="less" scoped>

@theme: "../../less/themes/default";
@import "@{theme}";
#step2 {
	hr {margin:20px 0;}
	h4 {font-size:18px;font-weight:normal;}	
	.address {
		
        border-radius: 10px;
        border-bottom:1px solid #ccc;
		margin:5px auto ;
		width:95%;
		cursor: pointer;
		&.selected {border:2px solid fade(@rosso,30%);}
		
		justify-content:flex-start;
		.v-input {flex-grow:0;margin-left:15px;}
		img {height:100%;max-height: 80px;margin-right: 30px;}
		p {margin:0 20px;padding:0;}
		.row {justify-content: flex-start;}

		@media @mobile {
			&>div>div {margin:10px;}
			div {align-items: flex-start;margin:1px;justify-content: flex-start;}
		}
	}
	.address .prezzo {
		margin: 0 0 0 auto;
		padding: 0 20px;
		height:100%;
		display: block;
		border-left:1px solid #aaa;
	}
	.cssload-loader {
		margin:40px;
	}
	.v-toolbar {
		margin-bottom:20px;
	}
}

</style>