<template>
    <div id="step1">
        <lista-prodotti v-if="localItems&&localItems.length" :items="localItems" :counter="true" @add="add($event)"></lista-prodotti>
        <div class="f bottom" style="justify-content:space-between">
            <div>
                <div class="buono f" :class="{fc:$vuetify.breakpoint.xs}">
                    <transition name="fade" :duration="1000">
                        <v-text-field label="Codice sconto" v-model="$store.state.cart.buono"></v-text-field>
                    </transition>
                    <v-btn :class="{closed:!scontoOpened}"  @click="applicaSconto()">
                        <template v-if="!scontoLoading">{{ scontoOpened ? 'Applica codice sconto':'Hai un codice sconto ?' }}</template>
                        <spinner :dark="true" v-else/>
                    </v-btn>
                </div>
            </div>
            <div class="tot f fc">
                <div class="f" v-if="serverCart.sconto&&serverCart.sconto.val">
                    <p>Sconto: </p><money disabled :value="serverCart.totali.sconto.val" />
                </div>
            </div>
        </div>
        
		<v-dialog v-model="showRemoveDialog" width="500" >
            <v-card>
            <v-card-text>
                    Sei sicuro di voler rimuovere l'articolo dal carrello ?
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  @click="toRemove={}">no annulla</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary"  @click="forceRemove()">Si, rimuovi</v-btn>
            </v-card-actions>
            </v-card>
    	</v-dialog>
	</div>
</template>
<script>
import spinner from 'src/components/svgSpinner'
import listaProdotti from 'src/components/listaProdotti'
import { mapState,mapGetters } from 'vuex'
import {pick} from 'lodash'
export default {
    name:"cart1",
    components:{ listaProdotti  ,spinner    },
    data:()=>({
        scontoLoading:false,
        scontoOpened:false,
        
		toRemove:{},
    }),
    props:[],
    computed: {
        ...mapState(['usr','cart','screen','serverCart','path']),
        ...mapGetters(['addresses','tot','metodoDiPagamento','metodoDiSpedizione','isConnected','showPrice']),
        parsedItems(){
            return this.$store.state.cart.items.map(i=>({item:JSON.parse(i.item),qty:i.qty})) || []
        },
        showRemoveDialog:{
			get(){
			return !!Object.keys(this.toRemove).length
			},
			set(v){if (!v) this.toRemove={}}
		},
    },
	asyncComputed:{
		async localItems(){
			try {
			this.serverCart.items;
			let ids  =  this.parsedItems.map(i=>i.item._id);
			let data =  Object.keys(ids).map(n=>{
				let obj = {
					iva:0,
					...this.parsedItems[n],
				};
				if (this.serverCart.items[n])
					Object.assign(obj, this.serverCart.items[n]);
				return obj;
			});
			
			return data;
			}catch(e){return []}
		}

	},
    methods:{
        
		forceRemove(){
			this.$store.commit('ADD_TO_CART',this.toRemove)
			this.toRemove={};
		},
		async add(ev){

 			let i = this.parsedItems;
	
			i[ev.n].qty=ev.e;
			if (!ev.e) {
					this.toRemove = i[ev.n];
			}
			else {
				this.getTotal()
			}
        },
        
		async getTotal(){
				let data = {
					buono:this.$store.state.cart.buono,
					i:this.parsedItems.map(item=>pick(item,['_id','qty','item']))
				}
				this.loading=true;
				this.$socket.emit('getCart', data ,(err,data)=>{
					this.loading=false;
				})
				this.scontoOpened = !!this.$store.state.cart.buono
		},
		applicaSconto(){

			if (!this.$store.state.cart.buono)
				this.scontoOpened = !this.scontoOpened;
			else {
				this.scontoLoading=true;
				this.$socket.emit('applyDiscount',this.$store.state.cart.buono ,(err,data)=>{
					this.scontoLoading=false;
				});
			}
		},
    },
    mounted(){
		console.log('CART111')
    },
    watch:{
		isConnected:function(to,from){
			to && this.getTotal()
		},
		'parsedItems.length':{
			handler:function(to,from){
				if ( !this.loading||to)
					setTimeout(this.getTotal,100)
			},
			immediate:true
		},
    }
}
</script>
<style lang="less" scoped>

@theme: "../../less/themes/default";
@import "@{theme}";
.buono {
	padding-left:20px;

	.v-btn {
		margin-left:10px;
		width:250px;
		transition:transform .3s ease-out;
		&.closed {
			transform:translateX(-190px);
		}
	}

	@media @mobile {
		.v-btn {
			margin-left:0;
				&.closed {
				transform:translateY(-60px)
			}
		}
		padding-left:0;
		margin-left:0;
	}
}

</style>