<template>
    <div id="edit">
        <loading v-if="!loaded"/>
        <v-card v-else>
        <v-toolbar><v-toolbar-title>Modifica pagina: <b style="font-weight:bold">{{page.name}}</b></v-toolbar-title></v-toolbar>
        <v-card-text>
            <div class="fullw f ja">
                <div class="f txt fc fullw">
                    <v-text-field :value="page.url" @input="page.url=friendlyUrl($event)" label="INDIRIZZO URL"></v-text-field>
                    <v-text-field v-model="page.name" label="NOME PAGINA"></v-text-field>
                    <v-text-field v-model="page.title" label="TITOLO"></v-text-field>
                    <v-text-field v-model="page.seoDescription" label="DESCRIZIONE SEO"></v-text-field>
                </div>
                <div>
                    <upload-img mono @close="openImgDialog=false" :selected="page.img" @save="page.img = $event" :openDialog="openImgDialog"></upload-img>
                    <img v-if="page.img&&page.img[0]" :src="this.$store.state.siteOptions.uploadPath+page.img[0].name" style="max-width:80px;max-height:60px"/>
                    <v-btn @click="openImgDialog=true">aggiungi anteprima per i social</v-btn>
                    <div class='fullw f fc'>
                        <v-checkbox v-model="page.listaProdotti.enabled" label="Abilita galleria prodotti"/>
                        <template v-if="page.listaProdotti.enabled">
                            <v-text-field class="fullw" label="Nome galleria" v-model="page.listaProdotti.title"/>
                            <v-btn @click="pickProdotti=true">Galleria Prodotti ( {{ page.listaProdotti.lista.length}} )</v-btn>
                        </template>
                    </div>
                </div>
            </div>
        <cke v-model="page.html" :css="page.css" ref="cke"></cke>
        </v-card-text>
        <div class="fullw">
            <v-alert dismissible :value="!!msg.txt" :type="msg.type">{{msg.txt}}</v-alert>
        </div>
        <pickProdotti @closed="pickProdotti=false" v-if="pickProdotti==true" v-model="page.listaProdotti.lista" @changePick="page.listaProdotti.pick= $event" :pick="page.listaProdotti.pick"/>

        <v-card-actions>
            <v-btn @click="$router.back()">ANNULLA</v-btn>
            <v-spacer/>
            <v-btn @click="salva()" :disabled="saveLoading" color="primary">
			    <span v-if="!saveLoading" >salva</span>
			    <svg-spinner v-else></svg-spinner>
		    </v-btn>
        </v-card-actions>
        </v-card>
    </div>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import {friendlyUrl} from '../../../store/utils'
import loading from '../../../components/loading';
import svgSpinner from '../../../components/svgSpinner';
import cke from '../../../components/grape';
import uploadImg from '../../../components/uploadImg';
import pickProdotti from '../prodotti/pickProdotti'
export default {
    name:"editPagina",
    props:{
        path:{}
    },
    data(){
        return {
            loaded:false,
            saveLoading:false,
            editor:null,
            openImgDialog:false,
            pickProdotti:false,
            msg:{
                type:'success',
                txt:''
            },
            page:{
                name:'',
                html:'',
                css:'',
                url:'',
                listaProdotti:{
                    title:'',
                    pick:'prodotti',
                    lista:[]
                }
            }
        }
    },
    async beforeMount() {
        if (this.path[2]!=='new')
        this.$socket.emit('admin/getPage',this.path[2],(err,data)=>{
            data = Object.assign({},this.page,data[0])
            this.page= data;
            this.loaded=true;
        })
        else this.loaded=true;
    },
    methods:{
        friendlyUrl,
        salva(){
            if (this.saveLoading) return;
            this.saveLoading=true;
            let {html,css} = this.$refs.cke.getData();
            this.$socket.emit('admin/editPage',{
                ...this.page,
                html,
                css,
                _id:this.path[2]
            },(err,data)=>{
                if (err) {
                    this.msg = { type: 'error', txt : e};
                    return;
                }
                this.saveLoading=false;
                this.msg = { type: 'success', txt : 'Pagina salvata'}
            })
        },
        
    },
    components:{
        svgSpinner,cke,uploadImg,loading,pickProdotti
    }
}
</script>
<style lang="stylus">
#edit 
    padding 50px 10px
    .v-text-field 
        max-width 500px

    .txt
        .v-text-field
            width 100%
</style>