<template>
    <div id="pagine">
        <div class="list" v-if="!path[2]">
        <router-link to="/admin/pagine/new" class="p new">
                <v-icon>add_box</v-icon>
                Nuova pagina
        </router-link>
        <div class="f"  v-for="p in pages" :key="p._id" >
        <routerLink  class="p" :to="'/admin/pagine/'+p._id">{{p.name}}</routerLink>
        <a @click="toBeDeleted=p._id"><v-icon class="del">delete</v-icon></a>
        </div>
        </div>
        <edit :path="path" v-else></edit>
        
    <v-dialog v-model="showDialog" width="500" >
      <v-card>
        <v-card-text>
        sei sicuro di voler eliminare la pagina ?
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="toBeDeleted=0" >no annulla</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="deletePage()">Si, elimina</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  
    </div>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import edit from './editPagina'
export default {
    name:"pagine",
    components:{
        edit,
    },
    computed:{
        ...mapState(['path']),
        showDialog(){
            return this.toBeDeleted!=0
        }
    },
    data(){
        return {
            pages:[],
            toBeDeleted:0
        }
    },
    mounted(){
        this.getPages();
    },

    methods:{
        getPages(){
          this.$socket.emit('admin/getPage',null,(err,data)=>{
            this.pages = data
            })
        },
        deletePage(){
            this.$socket.emit('admin/deletePage',this.toBeDeleted,(err,data)=>{            
                this.getPages()
                this.toBeDeleted=0;
            })
        }
    }
}
</script>
<style lang="less">
#pagine {
    &,.list,.p{width:100%;}
    .p {
        background:#222;
        border-radius: 10px;
        justify-content: space-between;
        padding:20px;
        margin:15px 0;
        display: flex;
        color:#fff;
        align-self: flex-start;
        &.new {background:#444;justify-content: flex-start;align-items: center;}
    }
    .list {
        .v-icon {
            padding:10px;
            margin-left:30px;
            border-radius:5px;
            &.del {background:hsla(0,100%,50%,.3);}
        }
    }
}
</style>