<template>
    <div id="paypal-container"><loading v-if="!p"></loading></div>
</template>


<script>

import {mapState,mapGetters} from 'vuex'
import braintree from 'braintree-web'
import loading from '../loading'
export default {
    name:"btPaypal",
    components:{loading},
    computed:{
      ...mapGetters(['tot','indirizzoSelezionato']),
      cfg(){
        return {
                    transactions: [
                          { 
                              amount: { total:this.tot, currency: 'EUR' }
                          }
                    ],
                    flow: 'checkout', // Required
                    amount: this.tot, // Required
                    currency: 'EUR', // Required
                    enableShippingAddress: true,
                    shippingAddressEditable: false,
                    shippingAddressOverride:{
                        recipientName: this.indirizzoSelezionato.nominativo,
                        line1: this.indirizzoSelezionato.via,
                        line2: '',
                        city: this.indirizzoSelezionato.comune,
                        countryCode: this.indirizzoSelezionato.stato.toUpperCase(),
                        postalCode: this.indirizzoSelezionato.cap,
                        state: 'VR',
                        phone: '123.456.7890' 
                       }
                  }
      }
    },
    data () {
      return {
        btreetok:'',
        p:false,
        pay:()=>{console.log('troppo presto -cc')}
       
      }
    },
    methods:{



    },
    async beforeMount(){

      await new Promise((res)=>{

        let sc = Array.from(document.querySelectorAll('script'));
        sc = sc.find(s=>s.src=='https://www.paypalobjects.com/api/checkout.js')

        if (!sc) {
        let s = document.createElement("script");
          s.setAttribute("type", "text/javascript");
          s.setAttribute("src", "https://www.paypalobjects.com/api/checkout.js");
          s.onload=res;
          document.getElementsByTagName("head")[0].appendChild(s);
        }
        else res()
      })

      this.$socket.emit('getBrainTreeToken',null,async (err,data)=>{
        if (err){
          console.log('err getMetodiDiPagamento',err)
          return;
        }
        this.btreetok=data;

        let clientInstance = await    braintree.client.create({
          authorization: data
        })
        let paypalCheckoutInstance = await braintree.paypalCheckout.create({
          client: clientInstance
        });
        let env =   ENV == 'prod' ? 'production' : 'sandbox'; // Or 'sandbox';
        let cfg = this.cfg;
        console.log('btpaypal env',env)
        let p  = await paypal.Button.render({
                env,
                commit: true, // This will add the transaction amount to the PayPal button
                style:{
                  color:'white'
                },
                payment() {
                  return paypalCheckoutInstance.createPayment(cfg);
                },

                onAuthorize:  (data, actions) =>{
                  return paypalCheckoutInstance.tokenizePayment(data)
                    .then( (payload)=> {
                      this.$emit('nonce',payload);
                      // Submit `payload.nonce` to your server
                      this.$socket.emit('paypalVerify',{...payload },(err,data)=>{
                        ENV === 'dev' && console.log('err,data',err,data)
                      })
                    });
                },

                onCancel: (data)=> {
                  console.log('checkout.js payment cancelled', JSON.stringify(data, 0, 2));
                },

                onError: (err)=>{
                  console.error('checkout.js error', err);
                }
              }, '#paypal-container');
              window.p=p;
              this.p=true;
              
        })
    }
  }
</script>
<style scoped>
#container >div {
  height: 59px;
}
</style>