<template>
    <div id="container" class="f fc">
      <div class="intro" style="text-align:center;margin:15px 20px 5px 10px;">
        <div v-html="cc.html"></div>
      </div>
      <div class="f fc" style="width:320px;" :class="{hide:!pay}">
         <div class="input f" style="width:300px;align-self:flex-start;">
           <i class="mdi f mdi-icon mdi-credit-card"></i><div id="card-number"></div>
         </div>
         <div class="f fullw" style="justify-content:space-between">
            <div class="input f" style="width:150px;">
              <i class="mdi f mdi-icon mdi-calendar"></i><div id="expiration-date"></div>
            </div>
            <div class="input f">
              <i class="mdi f mdi-icon mdi-lock"></i><div id="cvv"></div>
            </div>
         </div>
      </div>
        <loading v-if="!pay"></loading>
        <v-btn v-else :disabled="confirmDisabled" @click="pay()">
          <spinner v-if="paymentLoading"></spinner>
          <template v-else>Conferma</template>
          </v-btn>
    </div>
</template>


<script>
import {mapState} from 'vuex'
import loading from '../loading'
import spinner from '../svgSpinner';
import braintree from 'braintree-web'
export default {
    name:'cc',
    computed:{

    },
    components:{loading,spinner},
    props:{
      cc:{

      }
    },
    data () {
      return {
        pay:false,
        confirmDisabled:true,
        paymentLoading:false,
      }
    },
    methods:{



    },
    beforeMount(){
      this.$socket.emit('getBrainTreeToken',null,async (err,data)=>{
        if (err){
          console.log('err getMetodiDiPagamento',err)
          return;
        }
        this.btreetok=data;

              
        let clientInstance = await braintree.client.create({
            authorization: data
        })
  

                // Create input fields and add text styles  
      let  hostedFieldsInstance = await braintree.hostedFields.create({
          client: clientInstance,
          styles: {
            'input': {
              'color': '#111',
              'font-size': '16px',
              'transition': 'color 0.15s',
            },
            // Style the text of an invalid input
            'input.invalid': {
              'color': 'hsl(0,100%,70%)',
              'font-weight':'bold'
            },
            // placeholder styles need to be individually adjusted
            '::-webkit-input-placeholder': {
              'color': 'hlsa(0,0%,30%,0.6)'
            },
            ':-moz-placeholder': {
              'color': 'hlsa(0,0%,30%,0.6)'
            },
            '::-moz-placeholder': {
              'color': 'hlsa(0,0%,30%,0.6)'
            },
            ':-ms-input-placeholder': {
              'color': 'hlsa(0,0%,30%,0.6)'
            }

          },
          // Add information for individual fields
          fields: {
            number: {
              selector: '#card-number',
              placeholder: 'Numero carta',

            },
            cvv: {
              selector: '#cvv',
              placeholder: 'cvv'
            },
            expirationDate: {
              selector: '#expiration-date',
              placeholder: 'mm/aaaa'
            }
          }
        });

        this.pay= ()=> {
            this.paymentLoading=true;

            hostedFieldsInstance.tokenize( (err, payload)=> {
              if (err) {
                console.error(err);
                return;
              }
              this.$socket.emit('ccVerify',payload,(err,data)=>{
                
              })
              // This is where you would submit payload.nonce to your server

            });
        }; 
          hostedFieldsInstance.on('validityChange',  (event)=> {
           try{
              this.confirmDisabled = !(Object.values(event.fields).map(v=>v.isValid).every(p=>p) )
            }catch(e){
              this.confirmDisabled=true;
            }

          });

          hostedFieldsInstance.on('empty', function (event) {
            // $('header').removeClass('header-slide');
            // $('#card-image').removeClass();
            // $(form).removeClass();
          });

          hostedFieldsInstance.on('cardTypeChange',  (event)=> {
 
            // Change card bg depending on card type
            if (event.cards.length === 1) {
            //  $(form).removeClass().addClass(event.cards[0].type);
            //  $('#card-image').removeClass().addClass(event.cards[0].type);
            //  $('header').addClass('header-slide');

              // Change the CVV length for AmericanExpress cards
              if (event.cards[0].code.size === 4) {
                hostedFieldsInstance.setAttribute({
                  field: 'cvv',
                  attribute: 'placeholder',
                  value: '1234'
                });
              } 
            } else {
              hostedFieldsInstance.setAttribute({
                field: 'cvv',
                attribute: 'placeholder',
                value: '123'
              });
            }
          });



        })
    }
  }
</script>
<style scoped lang="less">
#container {
  background:hsl(0,0%,90%);
  border-radius:8px;
  padding:0 5px 15px;
}
.input {
  justify-content:flex-start;
  background:#fff;
  height: 42px;
  width:100px;
  margin:10px;
  border-radius:10px;
  border:1px solid #000;
  color:#111;
  overflow:hidden;
  &>div {margin-left:10px;}
  i {
    align-self:stretch;
    background:#222;
    color:#ccc;
    
    padding:0 10px;
    height: 100%;;
    width:30px;
  }
}
.intro {
  background:hsla(100,0%,40%,.2);
  padding:5px 20px;
}
</style>