<template>

<div class="f fc fullw">
  <template v-if="serverCart.pagamenti.length">
  <div class="metodiDiPagamento fw f fc align-start">
      <div class="metodo f fc" v-for="(m,k) in metodi" :key="m._id">{{m._id}},{{metodi[k][0]._id}}
        <div class="f fw justify-space-between" v-if="m._id == metodi[k][0]._id">
          <h5>{{m[0].name }}</h5>
          <img class="thumbPagamento" v-if="m.img && m.img[0]" :src="$store.state.siteOptions.uploadPath+m.img[0].name"
          :hide="$vuetify.breakpoint.width<380"
          />
        <v-btn @click="add(m)" size="small" >Aggiungi </v-btn>
        </div>
        
        <component v-for="p in m" :is="p.type" :paymentData="p" :key="p._id" />
        
      </div>
    
      
  </div>
  
  </template>
  
  <div v-else class="f fc fullw" style="min-height:300px;"> 
      <loading-icon ></loading-icon>
        <p class="loading-text">{{loading }}</p>
  </div>
  <v-dialog v-model="showNewDialog" max-width="600">
    <component :is="newMethod.type" @check="selectMetodo"  :editable="true"></component>
  </v-dialog>

</div>
</template>


<script>
import {mapState,mapGetters} from 'vuex'
import loadingIcon from '../loading'
import {groupBy} from 'lodash'
import card from './cc';
import sepa_debit from './sepa_debit'
export default {
    computed:{
      ...mapState(['usr','serverCart']),
      ...mapGetters(['metodoDiPagamento']),
      
      showNewDialog:{
        get(){return !!this.newMethod._id},
        set(v){if (!v)this.newMethod={_id:null}}
      },
      metodi(){
        return groupBy(this.serverCart.pagamenti,'type');
      }
      
    },
    components:{
      loadingIcon,card,sepa_debit
    },
    props:['showCheckbox'],
    data () {
      return {
        loading:true,
        metodoId:false,
        newMethod:{_id:false}
      }
    },
    methods:{
      add(m){
        Object.assign(this.newMethod,m);
        this.$forceUpdate();
      },
      selectMetodo(id){
        this.metodoId=id;
        this.serverCart.pagamento = false;
        this.$socket.emit('selectedPagamento',id);
      },

      close(){

      },

    },
    beforeMount(){
      this.$socket.emit('getMetodiDiPagamento',null,(err,data)=>{

      })
      
    },

  }
</script>
<style scoped lang="less">
@theme: "../../less/themes/default";
@import "@{theme}";
.metodiDiPagamento {
  display: flex;
  flex-wrap: wrap;
  padding-bottom:20px;
  .metodo {
    width:95%;
    margin:20px auto 0 auto;
  
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    h4{width:100%}
    h5 {font-weight: normal;}
    &>div {
      margin:10px 0;
    }
    .method{
      border:1px solid #aaa;
      border-radius: 8px;
      margin: 5px auto;
      width:90%;
    }
    
    &.selected {
      border:4px solid @rosso;   
    }
  }
  
  
}
.thumbPagamento {
  max-height: 40px;
  margin:0 auto 0 15px;
}

.loading-text {font-size:20px;font-weight: bold;}

</style>