<template>
    <div  class=" cc f fc fw" :id="elId">
        <template v-if="editable">
          <h4> Aggiungi carda di debito / credito </h4>
          <!--Example 2-->
              <div class="cell example example2 fw" id="example-2">
                <form @submit.prevent="send">
                  <div data-locale-reversible>
                    <div class="row">
                      <div class="field">
                        <input id="example2-name" v-model="billing_details.name" data-tid="elements_examples.form.address_placeholder" class="input empty" type="text" placeholder="Nominativo" required="" autocomplete="name">
                        <label for="example2-name" data-tid="elements_examples.form.address_label">Nominativo</label>
                        <div class="baseline"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="field">
                        <input id="example2-address" v-model="billing_details.address.line1" data-tid="elements_examples.form.address_placeholder" class="input empty" type="text" placeholder="Via , piazza ..." required="" autocomplete="address-line1">
                        <label for="example2-address" data-tid="elements_examples.form.address_label">Indirizzo</label>
                        <div class="baseline"></div>
                      </div>
                    </div>
                    <div class="row fw" data-locale-reversible>
                      <div class="field half-width">
                        <input id="example2-city" v-model="billing_details.address.city" data-tid="elements_examples.form.city_placeholder" class="input empty" type="text" placeholder="Cittá" required="" autocomplete="address-level2">
                        <label for="example2-city" data-tid="elements_examples.form.city_label">Cittá</label>
                        <div class="baseline"></div>
                      </div>
                      <div class="field quarter-width">
                        <input id="example2-state" v-model="billing_details.address.state" data-tid="elements_examples.form.state_placeholder" class="input empty" type="text" placeholder="RM" required="" autocomplete="address-level1">
                        <label for="example2-state" data-tid="elements_examples.form.state_label">Provincia</label>
                        <div class="baseline"></div>
                      </div>
                      <div class="field quarter-width">
                        <input id="example2-zip" v-model="billing_details.address.postal_code" data-tid="elements_examples.form.postal_code_placeholder" class="input empty" type="text" placeholder="20010" required="" autocomplete="postal-code">
                        <label for="example2-zip" data-tid="elements_examples.form.postal_code_label">Cap</label>
                        <div class="baseline"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row fw">
                    <div class="field">
                      <div id="example2-card-number" class="input empty"></div>
                      <label for="example2-card-number" data-tid="elements_examples.form.card_number_label">Numero carta</label>
                      <div class="baseline"></div>
                    </div>
                  
                  
                  </div>
                <v-btn type="submit" data-tid="elements_examples.form.pay_button">Salva carta</v-btn>
                <div class="error" v-if="result.err" role="alert"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                    <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
                    <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
                  </svg>
                  <span class="message"></span>
                  </div>
                </form>
                <div class="success" v-if="result.ok">
                  <div class="icon">
                    <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
                      <path class="checkmark" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338" stroke-width="4" stroke="#000" fill="none"></path>
                    </svg>
                  </div>
                  <h3 class="title" data-tid="elements_examples.success.title">Payment successful</h3>
                  <p class="message"><span data-tid="elements_examples.success.message">Thanks for trying Stripe Elements. No money was charged, but we generated a token: </span><span class="token">tok_189gMN2eZvKYlo2CwTBv9KKh</span></p>
                  <a class="reset" href="#">
                    <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path fill="#000000" d="M15,7.05492878 C10.5000495,7.55237307 7,11.3674463 7,16 C7,20.9705627 11.0294373,25 16,25 C20.9705627,25 25,20.9705627 25,16 C25,15.3627484 24.4834055,14.8461538 23.8461538,14.8461538 C23.2089022,14.8461538 22.6923077,15.3627484 22.6923077,16 C22.6923077,19.6960595 19.6960595,22.6923077 16,22.6923077 C12.3039405,22.6923077 9.30769231,19.6960595 9.30769231,16 C9.30769231,12.3039405 12.3039405,9.30769231 16,9.30769231 L16,12.0841673 C16,12.1800431 16.0275652,12.2738974 16.0794108,12.354546 C16.2287368,12.5868311 16.5380938,12.6540826 16.7703788,12.5047565 L22.3457501,8.92058924 L22.3457501,8.92058924 C22.4060014,8.88185624 22.4572275,8.83063012 22.4959605,8.7703788 C22.6452866,8.53809377 22.5780351,8.22873685 22.3457501,8.07941076 L22.3457501,8.07941076 L16.7703788,4.49524351 C16.6897301,4.44339794 16.5958758,4.41583275 16.5,4.41583275 C16.2238576,4.41583275 16,4.63969037 16,4.91583275 L16,7 L15,7 L15,7.05492878 Z M16,32 C7.163444,32 0,24.836556 0,16 C0,7.163444 7.163444,0 16,0 C24.836556,0 32,7.163444 32,16 C32,24.836556 24.836556,32 16,32 Z"></path>
                    </svg>
                  </a>
                </div>

              
              
              </div>

          <v-spacer/>


        </template>
        <template v-else>
          <div class="f fw justify-start" style="margin:10px 0;">
              
              <div style="margin:0 35px 0 20px;"> Iban : - - - - &nbsp; - - - - &nbsp; - - - - &nbsp; {{paymentData.sepa_debit.last4}}</div>
              
          </div>
        </template>
    </div>
</template>


<script>
import {mapState,mapGetters} from 'vuex'
import loading from '../loading'
import spinner from '../svgSpinner';
import {pick} from 'lodash'
export default {
    name:'cc',
    components:{loading,spinner},
    computed:{
      ...mapState(['serverCart','usr']),
      ...mapGetters(['preferredAddress']),
      enableBtn(){
        this.result.ok && this.billing_details.name
      }
    },
    props:{
      editable:{
        default:false
      },
      paymentData:{

      }
    },
    data () {
      return {
        elId:'cc'+~~(Math.random()*100),
        iban:null,
        result:{
          ok:'',
          err:''
        },
        billing_details:{
          name:'',
          address:{}
        },
        setupIntent:{}
      }
    },
    beforeMount() {
      if (this.editable) {

        this.billing_details.name = this.usr.name;
        Object.assign(this.billing_details.address,this.preferredAddress || {});
      }
    },
    async mounted(){
      if (this.editable) this.init();
    },
    methods:{
     async send(){
        
      let c = await stripe.confirmSepaDebitSetup(
            this.setupIntent.client_secret,
            {
            payment_method: {
                sepa_debit: this.iban,
                billing_details: {
                    name: this.billing_details.name,
                    email: this.usr.email,
                },
            },
            }
        );
        console.log('c',c)
     },
     async init(){
        this.setupIntent = await new Promise(r=>{
            this.$socket.emit('createSetupIntent','sepa_debit',(err,data)=>{
                r(data)
            })
        })
        const elements = stripe.elements({
            locale:this.$store.state.locale
        });
        let inputs = document.querySelectorAll('.cell.example.example2 .input');
            Array.prototype.forEach.call(inputs, function(input) {
            if (input.value&&input.value.length>0) input.classList.remove('empty');
            input.addEventListener('focus', function() {
                input.classList.add('focused');
            });
            input.addEventListener('blur', function() {
                input.classList.remove('focused');
            });
            input.addEventListener('keyup', function() {
                if (input.value.length === 0) {
                input.classList.add('empty');
                } else {
                input.classList.remove('empty');
                }
            });
        });

        let elementClasses = {
            focus: 'focused',
            empty: 'empty',
            invalid: 'invalid',
        };
        const elementStyles = {
            base: {
                color: '#32325D',
                fontWeight: 500,
                
                fontSize: '16px',
                fontSmoothing: 'antialiased',

                '::placeholder': {
                color: '#CFD7DF',
                },
                ':-webkit-autofill': {
                color: '#e39f48',
                },
            },
            invalid: {
                color: this.$vuetify.theme.currentTheme.primary,

                '::placeholder': {
                color: '#ccc',
                },
            },
            };
        this.iban = elements.create('iban', {
            style: elementStyles,
            classes: elementClasses,
            supportedCountries:['SEPA']
        });
        this.iban.mount('#example2-card-number');


            

            // Mount the Card Element on the page.
            
            
        }
    }

}
</script>
<style scoped lang="scss">
@import '../../less/vars.scss';
.cc {
  border-radius:8px;
  padding:15px;
  width:100%;
  background:#fff;
  justify-content: flex-start;
  align-items: flex-start;
  h4 {
    margin-bottom:15px;
  }
}
.card-element {
  width:100%;
  margin:15px 0 25px;
}

.example.example2 {
  background-color: #fff;
}

.example.example2 * {
  
  font-size: 16px;
  font-weight: 500;
}

.example.example2 .row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap:nowrap;
  margin: 0 5px 10px;
}

.example.example2 .field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 10px;
}

.example.example2 .field.half-width {
  width: 50%;
}

.example.example2 .field.quarter-width {
  width: calc(25% - 10px);
}
#example2-card-cvc {
  width:100px;
}

.example.example2 .baseline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #cfd7df;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  color: #cfd7df;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform-origin: 0 50%;
  cursor: text;
  pointer-events: none;
  transition-property: color, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 7px;
  color: #32325d;
  background-color: transparent;
}

.example.example2 .input::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input::-moz-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input.StripeElement {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;
}

.example.example2 .input.focused,
.example.example2 .input:not(.empty) {
  opacity: 1;
}

.example.example2 .input.focused::-webkit-input-placeholder,
.example.example2 .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused::-moz-placeholder,
.example.example2 .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused:-ms-input-placeholder,
.example.example2 .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused + label,
.example.example2 .input:not(.empty) + label {
  color: #aab7c4;
  transform: scale(0.85) translateY(-25px);
  cursor: default;
}

.example.example2 .input.focused + label {
  color: red;
}

.example.example2 .input.invalid + label {
  color: #ffa27b;
}

.example.example2 .input.focused + label + .baseline {
  background-color: #24b47e;
}

.example.example2 .input.focused.invalid + label + .baseline {
  background-color: #e25950;
}

.example.example2 input, .example.example2 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example2 input:-webkit-autofill {
  -webkit-text-fill-color: #e39f48;
  transition: background-color 100000000s;
  animation: 1ms void-animation-out;
}

.example.example2 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example2 input, .example.example2 button {
  animation: 1ms void-animation-out;
}

.example.example2 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #24b47e;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.example.example2 .error svg {
  margin-top: 0 !important;
}

.example.example2 .error svg .base {
  fill: #e25950;
}

.example.example2 .error svg .glyph {
  fill: #fff;
}

.example.example2 .error .message {
  color: #e25950;
}

.example.example2 .success .icon .border {
  stroke: #abe9d2;
}

.example.example2 .success .icon .checkmark {
  stroke: #24b47e;
}

.example.example2 .success .title {
  color: #32325d;
  font-size: 16px !important;
}

.example.example2 .success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.example.example2 .success .reset path {
  fill: #24b47e;
}

</style>