<template>
<div class="f fc fullw">
    <v-alert type="error" :value="!!errMsg">{{errMsg}}</v-alert>
    <loading-icon v-if="loading"/>
    <template v-else>
    <div class="f adr" :class="{fc:$vuetify.breakpoint.xs}">
        <!-- <div class="f fc box">
          <h3>Dati di fatturazione</h3>
          <div class="f fc fullw" style="padding-bottom:20px;">
          <div><label>Nome</label><span>{{indirizzoDiFatturazione.name}}</span></div>
          <div><label>Via</label><span>{{indirizzoDiFatturazione.via}}</span></div>
          <div><label>Comune</label><span>{{indirizzoDiFatturazione.comune}}, ( {{indirizzoDiFatturazione.cap}} )</span></div>
          </div>
        </div> -->
        <div class="f fc box">
          <h3>Dati di spedizione</h3>
          <div class="f fc fullw" style="padding-bottom:20px;">
          <div><label>Nome</label><span>{{indirizzoSelezionato.nominativo  }}</span></div>
          <div><label>Via</label><span>{{indirizzoSelezionato.via}}</span></div>
          <div><label>Comune</label><span>{{indirizzoSelezionato.comune}} , ( {{indirizzoSelezionato.cap}} )</span></div>
          </div>
        </div>
    </div>
    <div class="totali">

    </div>
    <div class="nome-metodo fullw" v-if="metodoDiPagamento">
      <v-toolbar height="42"><v-toolbar-title height="24">Metodo di pagamento: {{metodoDiPagamento.name}} </v-toolbar-title></v-toolbar>
    </div>
    <div class="htmlData" v-if="metodoDiPagamento.html" v-html="metodoDiPagamento.html"></div>
    <div class="policies f fc fullw">
      <div class="fullw f">
        <v-checkbox v-model="policies[0]"></v-checkbox>
        <div class="fullw">Dichiaro di aver letto ed accettato le
          <a @click="showDialog=true" style="font-weight:bold;text-decoration:underline;">condizioni di vendita</a></div>
      </div> 
    </div>
    <div v-if="policies[0]" id="paydiv" class="f fc fw">
       <v-text-field
                    label="Messaggio per il venditore ( facoltativo )"
                    textarea
                    class="fw"
                    rows="3"
                    auto-grow
                    counter=300
                    v-model="userMessage"
                ></v-text-field>
      <cc v-if="metodoDiPagamento.tipo=='carte'" :cc="metodoDiPagamento"></cc>
      <btPaypal v-if="metodoDiPagamento.tipo == 'paypal'"/>
      <v-btn color="primary" v-if="metodoDiPagamento.tipo=='contrassegno'" @click="order()">ORDINA CON CONTRASSEGNO</v-btn>
      <v-btn color="primary" v-if="metodoDiPagamento.tipo=='bonifico'" @click="order()">ORDINA CON BONIFICO</v-btn>
    </div>
    
    </template>

    	<v-dialog v-model="showDialog" width="500" >
      	<v-card>
      	  <v-card-text>
            <div v-html="$store.state.siteOptions.condizioni"></div>
      	  </v-card-text>
      	</v-card>
    	</v-dialog>
</div>
</template>


<script>
import {mapState,mapGetters} from 'vuex'
import cc from './cc'
import btPaypal from './btpaypal'
import loadingIcon from '../loading'
export default {
    computed:{
      ...mapState(['usr','serverCart']),
      ...mapGetters(['addresses','metodoDiPagamento','indirizzoSelezionato']),
      
    },
    components:{
      loadingIcon,cc,btPaypal
    },
    data () {
      return {
        loading:true,
        policies:[false,false,false],
        showDialog:false,
        userMessage:'',
        errMsg:''
      }
    },
    methods:{
      async order(){
        if (this.loading) return;
        this.loading=true;
        let data = {userMessage:this.userMessage}
        data.token = await this.$recaptcha('order');
        this.$socket.emit('order',data,(err,data)=>{

        });
      }
    },
    beforeMount(){
        if (!this.metodoDiPagamento) this.$router.push('/cart/3');
        if (!this.indirizzoSelezionato) this.$router.push('/cart/2');
    },
    mounted(){
      this.loading=false;
    }

  }
</script>
<style scoped lang="less">

@theme: "../../less/themes/default";
@import "@{theme}";
a {color:@rosso;}
.adr{
  width:100%;
  align-items:flex-start;
}
.box {
  border-radius: 10px;
  overflow:hidden;
  h3 {background:#ccc;padding:5px;width:100%;text-align: center;}
  width: 100%;
  margin:0 20px;

  background:#eee;
  div {
    width:90%;
    display:flex;
    justify-content: space-between;
    border-bottom:1px dashed #777;
    padding:10px;
    align-items:space-between;
    text-align:left;

  }

  @media @mobile {margin:0}
}
#paydiv {
  padding: 40px 0 0px 0;
  width:100%;
  .v-textarea {
    width:400px;
    @media @mobile {
      max-width:90%;
    }
  }
}
.htmlData {
  padding:10px 5% 25px;
}
.nome-metodo {
  margin:15px;
  padding:5px;
  .v-toolbar__title{ font-size:17px;}
}
.policies>div { padding:0 30px;border:1px solid #555;border-radius: 10px;}
</style>