<template>
    <div class="alerts f fc fullw">
        <v-btn @click="newAlert()">Aggiungi nuovo messaggio in homepage</v-btn>
        <div class="alert f" v-for="a in alerts" :key="a._id" :style={backgroundColor:a.bg.hex} @click="edit=a">
            
            <div  class="fullw f" v-html="a.text"></div>
            <i class="mdi mdi-icon mdi-square-edit-outline" style="font-size:26px" @click="edit=a"/>
        </div>
            
    <v-dialog v-model="showDialog" width="600" >
    <template v-if="showDialog">
      <v-card>
            <div class="f"> <v-checkbox v-model="edit.enabled"/> {{edit.enabled ? 'Abilitato': 'Disabilitato'}}</div>
            <cke :bg="edit.bg.hex" ref="quill" v-model="edit.text"></cke>
            <div class="f fullw fc options">
                <div class="fullw f"><v-btn @click="edit.showBgPicker=!edit.showBgPicker;$forceUpdate()"><template v-if="edit.showBgPicker"><i class="mdi mdi-close"/>CHIUDI | </template>  Colore sfondo</v-btn><sketch v-if="edit.showBgPicker" v-model="edit.bg"></sketch></div>
                <div class="fullw f"><v-btn @click="edit.startPicker=!edit.startPicker;$forceUpdate()"><template v-if="edit.startPicker"><i class="mdi mdi-close"/>CHIUDI | </template> Data inizio</v-btn><v-date-picker v-if="edit.startPicker" v-model="edit.start" @input="edit.startPicker=false" ></v-date-picker>
                    <div v-else>{{formatDate(edit.start)}}</div>
                </div>
                <div class="fullw f"><v-btn @click="edit.endPicker=!edit.endPicker;$forceUpdate()"><template v-if="edit.endPicker"><i class="mdi mdi-close"/>CHIUDI | </template> Data fine</v-btn><v-date-picker @input="edit.endPicker=false" v-if="edit.endPicker" v-model="edit.end" ></v-date-picker><div v-else>{{formatDate(edit.end)}}</div></div>

            </div>
      <v-card-actions>
          <v-btn @click="showDialog=false;getData();"> ANNULLA</v-btn><v-spacer/><v-btn @click="save()">SALVA</v-btn>
      </v-card-actions>
      </v-card>
    </template>
    </v-dialog>
  
    </div>
</template>
<script>
import cke from '../../ckeLite';
import {mapState,mapGetters} from 'vuex';
import {Sketch} from 'vue-color'
import moment from 'moment'
export default {
    name:"alerts",
    components:{
        Sketch,cke
    },
    computed:{
        ...mapState(['path']),
        alertsOk(){
            return this.alerts.every(a=>a.text)
        },
        showDialog:{
            get(){
                return !!this.edit
            },
            set(v){
                if (!v) this.edit=false;
            }
         },
    },
    data(){
        return {
            alerts:[],
            edit:null,
            moment
        }
    },
    beforeMount(){
        this.getData()
    },

    methods:{
        async getData(){
            this.$socket.emit('admin/getAlerts',null,(err,data)=>{
                if (err) {
                    return;
                }
                this.alerts=data.map(a=>({...a,showBgPicker:false,showCpicker:false}));
            })
        },
        save(){
            let edit = Object.assign({},this.edit)
            edit.text= this.$refs.quill.getData();
            edit.bg = {hex:this.edit.bg.hex};
            delete edit.showBgPicker;
            delete edit.showCpicker;
            this.$socket.emit('admin/saveAlert',edit,(err,data)=>{
                this.showDialog=false;
                this.getData()
                if (err){
                    console.log('err saveAlert',err);
                    return;
                }
            })
        },
        newAlert(){
            if (this.alerts.length && !this.alertsOk) {
                return;
            }
            this.alerts.push({
                _id:'new',
                text:'AGGIUNGI TESTO',
                bg:{hex:'#333'},
                end:moment().format('YYYY-MM-DD'),
                end:moment().add(1,'year').format('YYYY-MM-DD'),

            })
        },
         formatDate(str){
             return moment(str).format('DD MMMM YYYY');
         }
    }
}
</script>
<style scoped lang="stylus">
.alerts 
    padding 20px
    width 100%
    align-items flex-start
    justify-content flex-start
    .alert 
        min-height:60px;
        margin:10px auto;
        justify-content flex-start
        width:100%;
        padding:15px;
        .mdi
         font-size:26px
textarea 
    padding 20px
.options
    &>div
        margin 20px 0
</style>
<style lang="stylus">
.alert .v-input--selection-controls 
    flex 0
.v-card
    padding 20px 30px
.options
    &>div
        justify-content flex-start
</style>
