<template>
    <v-card class="fullw">
        
        <v-card-text id="banners" class="fullw">
        <div class="fullw f">
            <v-btn @click="addNewBanner()"><v-icon>add</v-icon>aggiungi banner</v-btn>
            <v-spacer/>
             <div class="f fc"><v-btn class="sort-btn" @click="sortEnabled=!sortEnabled" :class={primary:sortEnabled} flat icon><i class="mdi mdi-repeat"/></v-btn>
                <b>ordinamento {{sortEnabled?'abilitato':'disabilitato'}}</b>
            </div>
        </div>
        
        <template v-if="!sortEnabled">
        <div class="f" v-for="banner in b" :key="banner._id">
            <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                            <v-btn tooltip="enabled" icon ripple v-on="on" :class="{secondary:!banner.enabled}" @click="banner.enabled = !banner.enabled;$forceUpdate();">
                                <i class="mdi" :class="[banner.enabled ? 'mdi-eye-check' : 'mdi-eye-off']"/></v-btn>
                            </template>
                        <span>{{banner.enabled ? 'Visibile': 'Nascosto'}}</span>
            </v-tooltip>
            
            <div @click="selectedBannerId=banner._id" class="thumb">
                <img v-if="banner.img" :src="$store.state.siteOptions.uploadPath+'thumbs/'+banner.img"/>
            </div>
            <div class="f fc">
                <v-text-field class="link" label="link" v-model="banner.url"></v-text-field>
                <v-text-field class="link" label="Testo personalizzato" v-model="banner.text"></v-text-field>
            </div>
            <div class="f fc">
                <p>altezza</p>
                <counter suffix="px"  v-model="banner.h"></counter>
            </div>
            
            <i @click="removeBanner(banner._id)" class="delete-icon mdi mdi-delete"/>
        </div>
        </template>
        <template v-else>
            <draggable v-model="bIds">
            <div class="f" v-for="banner in b" :key="banner._id">
            
            <div @click="selectedBannerId=banner._id" class="thumb">
                <img v-if="banner.img" :src="$store.state.siteOptions.uploadPath+'thumbs/'+banner.img"/>
            </div>
            <v-text-field class="link" label="link" v-model="banner.url"></v-text-field>
            <v-text-field class="link" label="Testo personalizzato" v-model="banner.text"></v-text-field>

            </div>
            </draggable>
        </template>
        </v-card-text>
        <v-card-actions>
            <v-btn @click="$router.goBack()">Annulla</v-btn>
            <v-spacer/>
            <v-btn @click="saveBanners()" color="primary">
                <svg-spinner v-if="loading"></svg-spinner>
                <template v-else>SALVA</template>
            </v-btn>
        </v-card-actions>
        <upload-img @close="selectedBannerId=false" @save="s($event)" mono :openDialog="!!selectedBanner"></upload-img>
    </v-card>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import {remove} from 'lodash';
import uploadImg from '../../uploadImg'
import svgSpinner from '../../svgSpinner'
import counter from '../../counter'
import draggable from 'vuedraggable'
export default {
    name:"banners",
    components:{
        svgSpinner,uploadImg,counter,draggable
    },
    computed:{
        ...mapState(['path']),
        selectedBanner(){
            return this.b.find(ba=>ba._id==this.selectedBannerId)
        },
        bIds:{
            get(){
                return this.b.map(b=>b._id);
            },
            set(v){

                this.$socket.emit('admin/sortBanners',v,(err,data)=>{

                })
                return v;
            }
        },
    },
    data(){
        return {
            selectedBannerId:'',
            b:[],
            sortEnabled:false,
            loading:false
        }
    },
    mounted(){
        this.getData()
        this.$root.$on('updatedSiteOptions',this.getData)
    },

    methods:{
        async getData(){

            let b = JSON.parse(JSON.stringify(this.$store.state.siteOptions.banners));
            b.forEach(bb => {
                bb.img[0] = bb.img[0].name;
                bb.h = bb.h || 240
            });
            this.b=b;
        },
        s(e){
            console.log('sss',e);
            this.selectedBanner.img[0]=e[0];
        },
        async saveBanners(id){
            this.loading=true;
            await new Promise(r=>setTimeout(r,500))
            this.$socket.emit('admin/saveBanners',this.b,(err,data)=>{
                this.loading=false;
                if (err) {
                   return;
                }
            })
        },
        addNewBanner(){
            
            this.b.push({
                _id:'new'+~~(Math.random()*10000),
                url:'/',
                enabled:true,
                h:240,
                img:[]
            })
            this.$forceUpdate();
        },
        removeBanner(id){
            remove(this.b,b=>b._id==id);
            this.$forceUpdate()
        }
    },
    beforeDestroy(){
        
    }
}
</script>
<style lang="less">
@import '../../../less/themes/default';
#banners {
    width: 100%;
    &>div {
        margin-bottom: 15px;
        justify-content: flex-start;
    }
    .thumb {
        width:200px;
        height: 100px;
        margin-right: 30px;
        text-align: center;
        border:1px solid #33333333;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .link input {width: 300px;}
    .delete-icon {
        font-size:25px;
        color: @rosso;
        margin:0 25px;
        padding:0 10px;
        border-radius:8px;
        border:fade(@rosso,50%) 1px solid;
    }
}
</style>