<template>
    <v-dialog width="600px" :value="open" @input="$emit('close',$event)">
    <div class="links f fc fullw">
        <v-btn @click="newLink()" style="margin:20px;">Aggiungi link</v-btn>
            <div  v-for="l in menuLinks" class="f l fullw" :key="l._id">
                <div class="fullw f">
                    <v-text-field label="Nome visualizzato" v-model="l.text"/>
                    <v-text-field label="Url" v-model="l.url" prepend-inner-icon="/"/>
                </div>
                <v-btn color="primary" @click="remove(t)"><v-icon>delete</v-icon></v-btn>
            </div>

            <div class="fullw f">
                <v-btn @click="$emit('close')">Annulla</v-btn>
                <v-spacer/>
                <v-btn color="primary" @click="$emit('change',menuLinks);$emit('close');">Salva</v-btn>
            </div>
    </div> 
    </v-dialog>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import {remove} from 'lodash'
export default {
    name:"menuLinks",
    components:{
    },
    props:{
        open:{
            default:false
        },
        links:{
            required:true
        }
    },
    model:{
        prop:"links",
        event:"change"
    },
    computed:{
        
    },
    data(){
        return {
            menuLinks:[]
        }
    },
    watch:{
        open:function(to){
            if (to)
            this.menuLinks=this.links;
        }
    },
    methods:{
        newLink(){
            this.links.push({
                _id:'new'+Math.random(),
                text:'',
                url : ''
            });
        },
        remove(t){
            remove(this.links,l=>l._id==t._id);
            this.$forceUpdate()
        }
    }
}
</script>
<style scoped lang="stylus">
.links
    background #eee
    justify-content flex-start
    .l
        justify-content flex-start
        margin:10px auto;
        min-height:40px;
        width:100%;
        padding:15px;
        &>div>div
            margin 0 5px
            padding 0 5px
        .mdi
         font-size:26px
         
</style>