<template>
    <div class="settings f fc fullw">
        <v-alert dismissible :value="!!msg.txt" :type="msg.type">{{msg.txt}}</v-alert>
        <v-card class="fullw">
            <v-card-title><v-toolbar><v-toolbar-title>Impostazioni generali sito</v-toolbar-title></v-toolbar></v-card-title>
            <div class="fullw" v-if="!settings.updated">
                <loading/>
            </div>
            <template v-else>
            <v-card-text>
            <v-text-field v-model="settings.title" label="Titolo"></v-text-field>
            <v-text-field v-model="settings.desc" label="Descrizione"></v-text-field>
            <v-text-field v-model="settings.adminMail" label="Mail amministratore"></v-text-field>
            <div class="fullw f saveBackup">
                <v-btn @click="openLogoDialog=true">LOGO</v-btn>
                <v-btn @click="menuLinksDialog=true">Link nel menu</v-btn>
                <v-btn @click="taxOpen=true">Tassazioni</v-btn>
            </div>
            <div class="fullw f saveBackup">
                <v-btn @click="condizioniDialog=true">condizioni di vendita</v-btn>
                <v-btn @click="policyDialog=true">Termini per la registrazione</v-btn>
                <v-btn @click="openFooter=true">Testo fondo pagina</v-btn>
            </div>
            <div class="fullw f saveBackup">
                <v-btn @click="backupDialog=true"><i class="mdi mdi-floppy"></i> Salva / ripristina dati</v-btn>
            </div>
            <div class="fullw f saveBackup">
                <v-checkbox v-model="settings.showPriceToGuests" label="Mostra prezzi ad utenti non registrati"/>
            </div>
            
            </v-card-text>
            <v-card-actions>
                <v-spacer/><v-btn @click="$router.back()">INDIETRO</v-btn>
                <v-spacer/>
                <v-btn color="primary" @click="save()">SALVA</v-btn>
                <v-spacer/>
            </v-card-actions>
            </template>
        </v-card>
        <template v-if="settings.title">
        <v-dialog v-model="openLogoDialog" width="500" >
            <v-card>
                <div class="logo-select f">
                <div class="f fc select-btn" @click="selectLogoDialog=true">
                <img :src="$store.state.siteOptions.uploadPath+settings.logo.src" style="max-width:600px;max-height:200px;" :style="{width:settings.logo.size.w+'px',height:settings.logo.size.h+'px'}"/>
                <upload-img mono  @save="settings.logo.src = $event[0]" :openDialog="selectLogoDialog" @close="selectLogoDialog=false"/>
                <i class="fullw f mdi mdi-pencil" style="font-size:20px"></i>
                </div>
                <div class="f fc" style="width:300px;">
                    <v-text-field type="tel" pattern="[0-9]" label="altezza" v-model="settings.logo.size.h"/>
                    <v-text-field type="tel" pattern="[0-9]" label="larghezza" v-model="settings.logo.size.w"/>
                    <label>coefficente di riduzione mobile</label>
                    <counter :decimals="1" v-model="settings.logo.size.mobileReductionFactor"/>
                </div>
                </div>
            </v-card>
            <v-card-actions></v-card-actions>
        </v-dialog>
        <v-dialog v-model="openFooter" width="500" >
            <v-card>
                 <cke ref="footerCke" v-model="settings.footerHTML"/>   
            </v-card>
            <v-card-actions></v-card-actions>
        </v-dialog>
         <v-dialog v-model="condizioniDialog" width="500" >
            <v-card>
                 <cke ref="condizioniCke" v-model="settings.condizioni"/>   
            </v-card>
            <v-card-actions></v-card-actions>
        </v-dialog>

         <v-dialog v-model="policyDialog" width="500" >
            <v-card>
                 <cke ref="policyCke" v-model="settings.policy"/>   
            </v-card>
            <v-card-actions></v-card-actions>
        </v-dialog>
 

         <v-dialog v-model="backupDialog" width="500" >
            <v-card>
                 <v-card-text class="backupDialog" >
                    <v-alert type="warning" :value="true"> I ripristini non comprendono gli utenti e gli ordini </v-alert>
                    <loading v-if="backupLoading"></loading>
                    <template v-else>
                    <v-btn @click="saveBackup()">Crea nuovo salvataggio</v-btn>
                    <div class="fullw f fc" v-for="b in backups" :key="b.name">
                        
                        <div class="fullw f ja">
                        <p>{{b.ago}}</p> <v-spacer/> <i @click="selectedBackup = b.name" class="mdi mdi-backup-restore"></i>
                        </div>
                        <div v-if="selectedBackup == b.name" class="f sure" style="justify-content:space-between">
                            <p> Sei sicuro di voler ripristinare il sito come era {{b.ago}} ? </p> 
                            <v-btn @click="selectedBackup= ''">Annulla</v-btn>
                            <v-btn @click="restoreBackup()">SI</v-btn>
                        </div>
                    </div>
                    </template>
                 </v-card-text>
                <v-card-actions></v-card-actions>
            </v-card>
        </v-dialog>
        </template>
        <taxes v-model="settings.taxes" @close="taxOpen=false" :open="taxOpen"/>
        <menu-links v-model="settings.menuLinks" @close="menuLinksDialog=false" :open="menuLinksDialog"/>
    </div>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import loading from '../../loading'
import uploadImg from '../../uploadImg'
import cke from '../../jodit'
import moment from 'moment';
import taxes from '../pagamenti/taxes'
import menuLinks from './menuLinks'
import counter from '../../counter'
export default {
    name:"settings",
    components:{
        loading,cke,uploadImg,taxes,menuLinks,counter
    },
    computed:{
        ...mapState(['path']),
    },
    data(){
        return {
            openFooter:false,
            taxOpen:false,
            backups:[],
            selectLogoDialog:false,
            openLogoDialog:false,
            selectedBackup:'',
            condizioniDialog:false,
            menuLinksDialog:false,
            backupDialog:false,
            backupLoading:false,
            policyDialog:false,
            moment,
            settings : {
                title : '',
                desc: '',
                taxes:[],
                logo:{
                    src:'/public/fav/logo.png',
                    size:{
                        h:300,
                        w:70
                    },
                },
                menuLinks:[],
                condizioni:'',
                footerHTML:'',
                policy:'',
                updated:0
            },
            customSize:false,
            msg:{
                type:'success',
                txt:''
            }
        }
    },
    beforeMount(){

        this.$socket.emit('admin/getSiteOptions',{},(err,data)=>{
            if (err) {
                return;
            }
            Object.assign(this.settings ,data)
        })
    },

    methods:{
        save(){
            this.msg.txt='';
            this.msg.type='';

            this.$socket.emit('admin/saveSiteOptions',this.settings,(err,data)=>{
                if (err) {
                    this.msg.txt= 'Si é verificato un errore';
                    this.msg.type='error';
                    return;
                }
                this.msg.txt= 'Salvataggio riuscito';
                this.msg.type='success';

            })
        },
        restoreBackup() {
            this.backupLoading=true;
            this.$socket.emit('admin/restoreBackup',this.selectedBackup,(err,data)=>{
                this.backupDialog=false;
            })
        },
        saveBackup() {
            this.backupLoading=true;
            this.$socket.emit('admin/saveBackup',this.selectedBackup,(err,data)=>{
                this.backupDialog=false;
            })
        }
    },
    watch:{
        openFooter(to){
            if (!to) this.settings.footerHTML = this.$refs.footerCke.getData()
        },
        condizioniDialog(to){
            if (!to) this.settings.condizioni = this.$refs.condizioniCke.getData()
        },
        policyDialog(to){
            if (!to) this.settings.policy = this.$refs.policyCke.getData()
        },
        backupDialog(to) {
            if (!to) return;
            this.backupLoading=true;
            this.$socket.emit('admin/getBackups',null,(err,data)=>{
                this.backupLoading=false;
                if (err) {
                    return;
                }
                data = data.map(t=>({ago: moment(Number(t)*1000).fromNow(),name:Number(t)})).slice(0,15).sort((a,b)=>b.name-a.name);
                this.backups=data;
            });
        }
    }
}
</script>
<style scoped lang="less">
@import '../../../less/themes/default';

.settings {

    padding:20px;
    align-items:flex-start;
    justify-content:flex-start;

}
.logo-select {
    justify-content:flex-start;
    padding:25px;
    img {
        margin-right:20px;
    }
    .select-btn {cursor:pointer;&:hover {background:#eee;}};
}
.saveBackup {

    justify-content:flex-start;

}
.backupDialog {
    &>.f {
        background: #eee;
        border-radius: 10px;
        padding:5px 10px;
        margin:5px 0;
    }
    .sure {
        background:lighten(saturate(@rosso,20%),30%);
        padding: 10px;
        font-weight: bold;
    }

}
    i {
        font-size:26px;
        color:@rosso;
    }
</style>