@font-face {
  font-family: 'Nunito';
  src: url('@{static}/font/muli.woff2')format("woff2");
}
@font-face {
  font-family: 'Serpentine';
  src: url('@{static}/font/serpentine')format("ttf");
}
@font-face {
  font-family: 'Serpentine';
  src: url('@{static}/font/unicode.serpentb.woff')format("woff");
}


/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('@{static}/font/mdi.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}*/