//@import "./dynamicClass";
@import "./font.less";
@import "./reset.less";
@import "./spinners.less";


img {
  opacity: @imgOpacity; 
}
a {
  text-decoration: none;
  color:#fff;
}
body {
  margin: 0;
  font-size: 16px;
  background-color: #ccc;
  color:#333;
  max-width: 100vw;
}

#app {
    font-family: @fontFamily;
    width: 100%;
    -webkit-touch-callout: none; /* iOS Safari *
    /
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.f {
  display: flex;
  
  justify-content:center;
  align-items:center;
}
.ja {
	justify-content:space-around;
}
.fullw,.fw {
  width: 100%;
}
.fs {
  height: 100%;
  width:100%;
}
.nowrap {
  flex-wrap:nowrap;
}
.fc {
	flex-direction:column;
}
.ttransition {
  transition: transform .2s ease-in;
}
.ttransparent {
  opacity: 0.01;
}
.hide ,[hide]{display:none;}
.tzoom {
  &:hover {
    transform: scale(1.2);
  }
}
.pointer{cursor: pointer;&:hover{opacity: .8;}}
.rotate {
   animation:spin 4s linear infinite;
}
.htmlData {
	table,tbody,tr {
		width:100%;

	}
}

.toCart{
	color :#333;
	.mdi {
		color:darken(@rosso,10%);
		font-size:25px;
		vertical-align: middle;
	}
	.mdi-cart,.mdi-star {
		background:#888;
		color:#fff;
		border-radius:50%;
		width:30px;
		margin-right:15px;
		height: 30px;
		font-size:18px;
	}
	.badge {
		background:@rosso;
		color:#fff;
		border-radius:50%;
		height:20px;
		width:20px;
		font-size:12px;
		margin:0 0 5px 5px;
	}
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
input,button {
  background:transparent;
  border:none;
  color:@textColor;
}
.scrolly {
  overflow-x: hidden;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
	border-radius: 10px;
}
.scroll::-webkit-scrollbar
{
	width: 10px;
	margin-right: 5px;
	background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
}
.scroll::-moz-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
  border-radius: 10px;
}
.scroll::-moz-scrollbar
{
  width: 10px;
  margin-right: 5px;
  background-color: transparent;
}
.scroll::-moz-scrollbar-thumb
{
  background-color: #AAA;
  border-radius: 10px;
}
.v-money,.v-money[disabled] {text-align: center;color:#111;
  @supports (-webkit-overflow-scrolling: touch) {
    color:#111!important;
  }
}
.vue-tel-input input {
  color:#000;
 
}
b{font-weight:bold;}

.hiddenPrice {
	background: @rosso;
	color:#fff;
	font-weight:bold;
	padding:5px 25px 5px 5px;
  border-radius:5px;

  &:extend(.f);
}
.invisible {visibility: hidden;}
.fade-enter-active, .fade-leave-active {
  transition: opacity .33s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.v-btn p {margin:0;}
.v-badge__badge {
  width:27px;
  height:27px;
  right:-27px;
}
.v-dialog .v-card .v-card__text {
  padding :25px!important;
}

.v-carousel__controls{ 
  background:transparent;
}


.slide-right-enter-active,.slide-left-enter-active {
  transition: all .3s ease-out;
}
.slide-right-leave-active,.slide-left-leave-active {
  transition: all .3s ease-out;
}
.slide-right-enter,.slide-left-leave-to{
	transform: translateX(100%);
}
.slide-right-leave-to, .slide-left-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100%);
  opacity: 0;
}
.grecaptcha-badge {display:none;}
.v-carousel__controls>.v-item-group {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.Password {
  max-width:auto!important;
  .Password__badge {
    height: 22px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
  }
	.Password__field {
    color:#222;
		background:transparent;
	}
}