<template>
    <div id="gruppi">
        <div class="list" v-if="!gruppo">
        <router-link to="/admin/gruppi/new" class="p new">
                <v-icon>add_box</v-icon>
                Nuovo gruppo
        </router-link>
        <div class="f"  v-for="p in gruppi" :key="p._id" >
        <routerLink  class="p" :to="'/admin/gruppi/'+p._id"><b style="font-weight:bold">{{p.name}}</b> - Sconto: {{p.percent}}%</routerLink>
        <a @click="toBeDeleted=p._id"><v-icon class="del">delete</v-icon></a>
        </div>
        </div>
        <div v-else class="f fc">
            <v-card width="600">
                <v-toolbar><v-toolbar-title>Gruppo {{!gruppo.name?"Nuovo gruppo":gruppo.name}}</v-toolbar-title></v-toolbar>
                <v-card-text>
                <v-text-field label="nome" v-model="gruppo.name"></v-text-field>
                <p>Sconto sul totale</p>
                <div class="f">
                    <p style="margin-right:20px">{{gruppo.percent}}%</p>
                    <v-slider v-model="gruppo.percent" :step="1"></v-slider>
                </div>
                <v-btn :disabled="!gruppo.name" @click="saveGruppo()">Salva</v-btn>
                </v-card-text>
            </v-card>
        </div>
        
    <v-dialog :value="!!toBeDeleted" width="500" >
      <v-card>
        <v-card-text>
        sei sicuro di voler eliminare il gruppo ?
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="toBeDeleted=false" >no annulla</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="cancellaGruppo()">Si, elimina</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  
    </div>
</template>
<script>
import {mapState,mapGetters} from 'vuex';

export default {
    name:"gruppi",

    computed:{
        ...mapState(['path']),
        gruppo(){
            if (!this.path[2]) return false;
            return  this.gruppi.find(g=>g._id==this.path[2]) || this.new;
        },
    },
    data(){
        return {
            gruppi:[],
            toBeDeleted:0,
            new:{
                _id:'new',
                name:'',
                percent:1
            }
        }
    },
    mounted(){
        this.$watch("path",function(p){
            this.getGruppi(p[2]);
            },
            {immediate:true}
        )
    },

    methods:{
        getGruppi(id){
          this.$socket.emit('admin/getGruppi',id,(err,data)=>{
            if (err) {
                  return;
              }
              this.gruppi = data;
            })
        },
        saveGruppo(id){
          this.$socket.emit('admin/saveGruppo',this.gruppo,(err,data)=>{
              if (err) {
                  return;
              }
              this.$router.push('/admin/gruppi')
        })
        },
        cancellaGruppo(){
            this.$socket.emit('admin/deleteGruppo',this.toBeDeleted,(err,data)=>{            
                this.getGruppi()
                this.toBeDeleted={};
            })
        }
    }
}
</script>
<style lang="less">
#gruppi {
    &,.list,.p{width:100%;}
    .p {
        background:#222;
        border-radius: 10px;
        justify-content: flex-start;
        b{min-width: 200px;text-transform: uppercase;}
        padding:20px;
        margin:15px 0;
        display: flex;
        color:#fff;
        align-self: flex-start;
        &.new {background:#444;justify-content: flex-start;align-items: center;}
    }
    .list {
        .v-icon {
            padding:10px;
            margin-left:30px;
            border-radius:5px;
            &.del {background:hsla(0,100%,50%,.3);}
        }
    }
    
}
</style>