<template>
    <div id="spedizioni">
        <v-alert dismissible :value="!!msg.txt" :type="msg.type">{{msg.txt}}</v-alert>
        <div class="list" v-if="!spedizione">
            <router-link to="/admin/spedizioni/new" class="p new">
                    <v-icon>add_box</v-icon>
                    Nuovo spedizione
            </router-link>
            <template v-if="sortEnabled">
                <draggable v-model="cIds" @update="updatedSort()">
                    <div class="f"  v-for="(p,n) in cSorted" :key="p._id" >
                        <routerLink  class="p" :to="'/admin/spedizioni/'+p._id"><b style="font-weight:bold">{{n}} {{p.name}}</b></routerLink>
                    </div>
                </draggable>
            </template>
            <template v-else>
                <div class="f"  v-for="p in cSorted" :key="p._id" >
                    <a @click="toBeDeleted=p._id"><v-icon class="del">delete</v-icon></a>
                </div>
            </template>
        </div>
        <div v-else class="f fc">
            <v-card width="960">
                <v-toolbar><v-toolbar-title>spedizione {{!spedizione.name?"Nuova spedizione":spedizione.name}}</v-toolbar-title><v-spacer/>
                <div class="f">
                     <v-checkbox v-model="spedizione.enabled" style="margin-top:15px;"></v-checkbox>
                     <i >{{spedizione.enabled?'Abilitato':'Disabilitato'}}</i>
                </div>
                </v-toolbar>
                <v-card-text>
                    <div class="f fc">
                    <v-text-field class="fullw" label="nome" v-model="spedizione.name"></v-text-field>
                    <v-text-field class="fullw" label="Descrizione" v-model="spedizione.descrizione"></v-text-field>
                    <div class="anteprima f">
                        <img :src="$store.state.siteOptions.uploadPath+'thumbs/'+spedizione.img[0]"/>
                        <v-btn @click="openImgDialog=true">Seleziona anteprima ( {{spedizione.img.length || 0}} )</v-btn>
                    </div>
                    <v-select v-if="!spedizione.tipo"
                    style="margin:20px auto;"
                        box
                        :items="['nazionale','internazionale']"
                        v-model="spedizione.tipo"
                        label="Tipo spedizione"
                    ></v-select>
                    <div v-else>Spedizione di tipo {{spedizione.tipo}}</div>
                    <div v-if="spedizione.tipo=='nazionale'" class="f fc nazionale fullw">
                        <div class="f fullw firstrow">
                            <div class="f fc">
                                <label>Tempi di consegna previsti </label>
                                <div class="f ja fullw">
                                <p>dai</p><counter @change="$forceUpdate()" suffix="giorni" v-model="spedizione.tempi[0]"/>
                                <p>ai</p><counter @change="$forceUpdate()" suffix="giorni" v-model="spedizione.tempi[1]"/>
                                </div>
                            </div>
                            <div class="f fc">
                                <label>Peso massimo</label>
                                <counter v-model="spedizione.max" width="150px" @change="$forceUpdate()" suffix="Kg"></counter>
                            </div>
                            <div class="f fc">
                                <label>Peso minimo</label>
                                <counter v-model="spedizione.min" width="100px" @change="$forceUpdate()" suffix="Kg"></counter>
                            </div>
                        </div>
                        <div class="f fullw firstrow">
                            <div class="f fc">
                                <label>Valore minimo ordine</label>
                                <money v-model="spedizione.minCostoOrdine"/>
                            </div>
                            <div class="f fc">
                                <label>Gratuito per un acquisto dal valore di oltre</label>
                                <money v-model="spedizione.gratuitoOltre"/>
                            </div>
                        </div>
                        <div class="prezzi fullw f fc" v-if="prezzi">
                                    <label>Prezzi per peso</label>
                                    <div class="f fc" v-for="(p,k) in prezzi" :key="k">
                                        <div class="f">
                                            <counter :value="p.peso" prefix="" suffix=" Kg." @change="p.peso=Number($event);$forceUpdate();"></counter>
                                            =
                                            <money v-model="p.prezzo"/>
                                            <i class="mdi mdi-icon mdi-delete" style="color:red" @click="prezzi.splice(k,1)"></i>
                                        </div>
                                    </div>
                                
                                    <v-btn @click="spedizione.prezzi.push({peso:0,prezzo:Math.random()});$forceUpdate();"> aggiungi prezzo</v-btn>

                        </div>
                    </div>
                    <div v-if="spedizione.tipo=='internazionale'" class="zone f ja fullw">
                        <div class="zona f fc" v-for="(zona,n) in spedizione.zone" :key="n">
                           <label> {{n!=='undefined'?'Zona '+n:'Resto del mondo'}}</label>
                            <v-combobox
                            
                                v-model="zona.stati"    
                                :items="stati"
                                chips
                                multiple
                                item-text="name"
                                @input="setGroup($event,n);"
                                
                                >
                                <template v-slot:selection="data" >
                                    <v-chip v-if="data.index<7"
                                    :key="data.item.code"
                                    :selected="true"
                                    class="v-chip--select-multi"
                                    style.width="100vw"
                                    >
                                    {{ data.item.name }}
                                    </v-chip>
                                    <p v-if="data.index==7">e altri {{zona.stati.length-7}} </p>
                                </template>
                                </v-combobox>
                                <div class="prezzi f fc" v-if="zona.prezzi">
                                    <label>Prezzi per peso</label>
                                    <div class="f fc" v-for="(p,k) in prezzi[n]" :key="k">
                                        <div class="f">
                                            <counter :value="p.peso" prefix="" suffix=" Kg." @change="p.peso=Number($event);$forceUpdate();"></counter>
                                            =
                                            <money v-model="p.prezzo"/>
                                        </div>
                                          <i class="mdi mdi-icon mdi-delete" style="color:red" @click="prezzi[n].splice(k,1)"></i>
                                    </div>
                                
                                    <v-btn @click="zona.prezzi.push({peso:0,prezzo:Math.random()});$forceUpdate();"> aggiungi prezzo</v-btn>

                                </div>
                        </div>
                    </div>
                    </div>
                </v-card-text>
                <v-card-actions>
                    <v-btn :disabled="!spedizione.name" @click="savespedizione()">Salva</v-btn>
                </v-card-actions>
            </v-card>
            <upload-img mono @close="openImgDialog=false" :selected="spedizione.img" @save="spedizione.img = $event" :openDialog="openImgDialog"></upload-img>
        </div>
        
    <v-dialog v-model="showDialog" width="500" >
      <v-card>
        <v-card-text>
        sei sicuro di voler eliminare la spedizione ?
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="toBeDeleted=0" >no annulla</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="cancellaspedizione()">Si, elimina</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  
    </div>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import {groupBy,times,zipObject} from 'lodash';
import uploadImg from '../../uploadImg'
import draggable from 'vuedraggable'
import stati from '../../../store/utils/stati.json'
import counter from '../../../components/counter'
export default {
    name:"spedizioni",
    components:{
        uploadImg,draggable,counter
    },
    computed:{
        ...mapState(['path']),
        cSorted(){
            return this.spedizioni.sort((a,b)=>a.sort-b.sort)
        },
        spedizione(){
            if (!this.path[2]) return false;
            let s=  this.spedizioni.find(g=>g._id==this.path[2]) || this.new;
            if (s.tipo=='internazionale') {
                let zone = Object.assign(({2:[],3:[]}), groupBy(this.stati,'zone'));
                if (!s.zone) {
                        s.zone={};
                    
                        Object.keys(zone).map(n=>{
                            if (!s.zone[n]) s.zone[n]={}
                            if (!s.zone[n].prezzi) s.zone[n].prezzi=[];
                            s.zone[n].stati=zone[n];
                        })
                    }
            }
            else {
                if (!s.tempi) s.tempi=[1,6]
                if (!s.min) s.min = 3;
                if (!s.max) s.max = 0;
                if (!s.prezzi) s.prezzi = [];
            }
            if (typeof s.enabled!='boolean') s.enabled=true;
                return s
        },
        cIds:{
          get(){
            return this.spedizioni.map(c=>c._id)
          },
          set(a){
            a.forEach((id,n) => {
                this.spedizioni.find(c=>c._id==id).sort=n;
            });
            //return e.map(id=>Object.keys(this.imgs).find(name=>this.imgs[name]._id==id))
          }
        },
        showDialog:{
            get(){
                return !!this.toBeDeleted
            },
            set(v){
                if (!v) this.toBeDeleted=false;
            }
        },
        statiInZona:{
            get(){
                  let g = groupBy(this.stati,'zone');
                  return zipObject(Object.keys(g),map(arr=>arr.map(a=>a.code)));
                },
            set(v){}
        },
        prezzi:{
            get(){
                if (this.spedizione.tipo=='internazionale'){
                  let k = Object.keys(this.spedizione.zone)
                  let o = zipObject(k,k.map(kv=>this.spedizione.zone[kv]&&this.spedizione.zone[kv].prezzi.sort((a,b)=>a.peso-b.peso) ||[]));

                  return o
                }
                else if (this.spedizione.tipo =='nazionale'){
                    return this.spedizione.prezzi.sort((a,b)=>a.peso-b.peso)
                }
                else return [];
                },
            set(v){  }
        },
    },
    data(){
        return {
            spedizioni:[],
            stati,
            toBeDeleted:0,
            msg:{
                txt:'',
                type:''
            },
            openImgDialog:false,
            new:{
                _id:'new',
                name:'',
                img:[],
                tipo:'',
            },
        }
    },
    mounted(){
        this.getspedizioni()
    },

    methods:{
        getspedizioni(id){
          this.$socket.emit('admin/getSpedizioni',id,(err,data)=>{
            if (err) {
                  return;
              }
              this.spedizioni = data;
            })
        },
        savespedizione(id){
            this.msg = {type: '',txt:''}
          this.$socket.emit('admin/saveSpedizione',this.spedizione,(err,data)=>{
              if (err) {
                  this.msg = {type: 'error',txt:err}
                  return;
              }
              this.getspedizioni();
              this.msg = {type: 'success',txt:'Spedizione salvata'}
              this.$router.push('/admin/spedizioni')
        })
        },
        cancellaspedizione(){
            this.$socket.emit('admin/deleteSpedizione',this.toBeDeleted,(err,data)=>{
                if (err) {
                    this.msg = {type: 'error',txt:err}
                }
                this.getspedizioni();
                this.msg = {type: 'success',txt:'Spedizione cancellata'}
                this.toBeDeleted=0;
            })
        },
        updatedSort(){
            this.$socket.emit('admin/sortspedizioni',this.spedizioni.map(c=>({_id:c._id,sort:c.sort})),(err,data)=>{

            })
        },
        setGroup(e,n){

            
            let dael= stati.filter(s=>s.zone==n&&!e.find(n=>n.code==s.code))
            dael.forEach(s=>s.zone='undefined');
            let nuovi = stati.filter(s=>e.find(nu=>nu.code==s.code));
            nuovi.forEach(s=>s.zone=n);
            let g = groupBy(stati,'zone');
            Object.keys(g).forEach(k=>this.spedizione.zone[k].stati=g[k]);
            
        },
        test(e,b,c,d){
            console.log('testt',b,c,d)
        }
    }
}
</script>
<style scoped lang="less">
#spedizioni,.list,.p{width:100%;}
    .p {
        background:#ddd;
        border-radius: 10px;
        justify-content: flex-start;
        b{min-width: 200px;text-transform: uppercase;}
        padding:20px;
        margin:15px 0;
        display: flex;
        color:#111;
        align-self: flex-start;
        &.new {background:#ccc;justify-content: flex-start;align-items: center;width:250px;padding: 10px;}
    }
    .list {
        .v-icon {
            padding:10px;
            margin-left:30px;
            border-radius:5px;
            &.del {background:hsla(0,100%,50%,.3);}
        }
    }

.anteprima {
    img {width:80px;}
}
.zone {

    align-items: stretch;
    align-self:stretch;
    &>div {flex:1;}
}
.prezzi{border-right: 1px solid #555;justify-content: flex-end;}
.prezzi>div {border-top:1px solid #555;padding:5px 0;}
.prezzi input {width: 80px;color:#111;}
.nazionale {
    &>div {margin:20px 0}
    .qtyNumber {width:100px!important;border:1px solid #565656;}

}
.nazionale ,.zone {
    label {
    width: 88%;
    background:#ddd;
    display: block;
    text-align: center;padding: 3px;

    font-weight: bold;
    }
 
}
.firstrow {
    &>div {
      justify-content: space-between;
        flex:1;
        min-height: 70px;
        input {min-width: 120px;}
    }
}
.firstrow:first-child {
    &>div {min-height: 120px;}
}
</style>