<template>
    <div id="categorie">
        <div class="list" v-if="!categoria">
            <div class="fullw f ja">
            <router-link to="/admin/categorie/new" class="p new">
                    <v-icon>add_box</v-icon>
                    Nuovo categoria
            </router-link>
            <div class="f fc"><v-btn class="sort-btn" @click="sortEnabled=!sortEnabled" :class={primary:sortEnabled}  icon><i class="mdi mdi-repeat"/></v-btn>
                <b>ordinamento {{sortEnabled?'abilitato':'disabilitato'}}</b>
            </div>
            </div>
            <template v-if="sortEnabled">
            <draggable v-model="cIds" >
            <div class="f"  v-for="(p,n) in cSorted" :key="p._id" >
                <template v-if="p._id" >
                <routerLink   class="p" :to="'/admin/categorie/'+p._id"><b style="font-weight:bold">{{n}}. - {{p.name}}</b></routerLink>
                <a @click="toBeDeleted=p"><v-icon class="del">delete</v-icon></a>
                </template>
            </div>
            </draggable>
            </template>
            <template v-else>
            <div class="f"  v-for="p in categorie" :key="p._id" >
                <template v-if="p._id" >
                <routerLink  class="p" :to="'/admin/categorie/'+p._id"><b style="font-weight:bold">{{p.name}}</b></routerLink>
                <a @click="toBeDeleted=p"><v-icon class="del">delete</v-icon></a>
                </template>
            </div>
            </template>
        </div>
        <div v-else class="f fc">
            <v-card width="600">
                <v-toolbar><v-toolbar-title>categoria {{!categoria.name?"Nuova categoria":categoria.name}}</v-toolbar-title>
                    <v-toolbar-items>
                        <v-spacer/>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                            <v-btn tooltip="enabled" icon ripple v-on="on" :class="{secondary:!categoria.enabled}" @click="categoria.enabled = !categoria.enabled;$forceUpdate();"><i class="mdi" :class="[categoria.enabled ? 'mdi-eye-check' : 'mdi-eye-off']"/></v-btn>
                            </template>
                        <span>{{categoria.enabled ? 'Visibile': 'Nascosto'}}</span>
                        </v-tooltip>
                    </v-toolbar-items>
                </v-toolbar>
                <v-card-text>
                    <div class="f fc">
                    <v-text-field class="fullw" label="nome" v-model="categoria.name"></v-text-field>
                    <v-text-field class="fullw" label="Descrizione SEO" v-model="categoria.desc"></v-text-field>
                    <div class="anteprima f">
                        <upload-img mono @close="openImgDialog=false" :selected="categoria.img" @save="categoria.img= $event" :openDialog="openImgDialog"></upload-img>
                        <img v-if="categoria&&categoria.img && categoria.img.length" :src=" $store.state.siteOptions.uploadPath+'thumbs/'+categoria.img[0]"/>
                        <v-btn @click="openImgDialog=true">Seleziona anteprima ( {{categoria.img.length || 0}} )</v-btn>
                    </div>
                    <div class="contiene f fullw">
                        <v-select
                            :items="['categorie','prodotti']"
                            v-model="categoria.contiene"
                            value="prodotti"
                            label="Continene"
                        >
                        </v-select>
                        <template v-if="categoria.contiene=='categorie'">
                            <v-btn @click="pickProdotti=true">Seleziona categorie ( {{categoria.categorie && categoria.categorie.length || 0}} )</v-btn>
                            <pick-prodotti v-model="categoria.categorie" pick="categorie" @closed="pickProdotti=false" v-if="pickProdotti==true" @changePick="categoria.contiene = $event"/>
                        </template>
                        <template v-else>
                            <v-btn @click="pickProdotti=true">Seleziona prodotti ( {{categoria.prodotti && categoria.prodotti.length || 0}} )</v-btn>
                            <pick-prodotti v-model="categoria.prodotti" @closed="pickProdotti=false" v-if="pickProdotti==true" @changePick="categoria.contiene = $event"/>
                        </template>
                    </div>
                    </div>
                </v-card-text>
                <v-card-actions>
                    <v-btn :disabled="!categoria.name" @click="savecategoria()">Salva</v-btn>
                </v-card-actions>
            </v-card>
            
        </div>
        
    <v-dialog v-model="showDialog" width="500" >
      <v-card>
        <v-card-text>
        sei sicuro di voler eliminare la categoria ? {{toBeDeleted.name}}
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn  @click="toBeDeleted=false" >no annulla</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary"  @click="cancellacategoria()">Si, elimina</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  
    </div>
</template>
<script>
import {mapState,mapGetters} from 'vuex';
import uploadImg from '../../uploadImg'
import pickProdotti from '../prodotti/pickProdotti'
import draggable from 'vuedraggable'
export default {
    name:"categorie",
    components:{
        uploadImg,draggable,pickProdotti
    },
    computed:{
        ...mapState(['path']),

        categoria(){
            if (!this.path[2]) return false;
            let c =   this.categorie.find(g=>g._id==this.path[2]) || this.new;
            if (!c.prodotti) c.prodotti = [];
            if (!c.categorie) c.categorie = [];
            if (c.img&&c.img[0]&&c.img[0].name) c.img[0] = c.img[0].name
            c.contiene = c.prodotti.length ? 'prodotti':'categorie';
            return c
        },
        cIds:{
            get(){
                this.sortEnabled;
                return this.categorie.filter(c=>!c.parent_id).map(c=>c._id)
            },
            set(v){
                this.categorie.filter(c=>!c.parent_id)
                this.$socket.emit('admin/sortCategorie',v,(err,data)=>{

                })
            }
        },
        cSorted(){
            this.sortEnabled;
            return  this.cIds.map(id=>this.categorie.find(c=>c._id==id)).filter(x=>x);
        },
        showDialog:{
            get(){
                return !!this.toBeDeleted
            },
            set(v){
                if (!v) this.toBeDeleted=0;
            }
        }
    },
    data(){
        return {
            categorie:[],
            toBeDeleted:0,
            sortEnabled:false,
            openImgDialog:false,
            pickProdotti:false, 
            new:{
                _id:'new',
                name:'',
                enabled:true,
                desc:'',
                img:[]
            },
        }
    },
    mounted(){
        this.getCategorie()
    },

    methods:{
        getCategorie(id){
          this.$socket.emit('admin/getCategorie',id,(err,data)=>{
            if (err) {
                  return;
              }
              this.categorie = data;
              this.showDialog= false;
            })
        },
        savecategoria(id){
          this.$socket.emit('admin/saveCategoria',this.categoria,(err,data)=>{
              if (err) {
                  return;
              }
              this.$router.push('/admin/categorie')
        })
        },
        cancellacategoria(){
            this.$socket.emit('admin/deleteCategoria',this.toBeDeleted._id,(err,data)=>{            
                this.getCategorie()
            })
        },
    }
}
</script>
<style lang="less">
#categorie,.list,.p{width:100%;}
#categorie {
    .p {
        background:#ddd;
        border-radius: 10px;
        justify-content: flex-start;
        b{min-width: 200px;text-transform: uppercase;}
        padding:20px;
        margin:15px 0;
        display: flex;
        color:#111;
        align-self: flex-start;
        &.new {background:#ccc;justify-content: flex-start;width:60%;align-items: center;}
    }
    .list {
        .v-icon {
            padding:10px;
            margin-left:30px;
            border-radius:5px;
            &.del {background:hsla(0,100%,50%,.3);}
        }
    }

.anteprima {
    img {width:80px;}
}
}
</style>
<style lang="stylus" scoped>
.sort-btn
    background #ccc
    width 40px
    height 40px
    i
        font-size 24px
.v-toolbar__items
    margin 0 0 0 auto
    .v-btn
        background #fff
    .mdi
        font-size 22px
</style>
